<template>
  <v-container fluido class="top">
    <v-card>
      <v-card-title primary-title> En desarrolllo </v-card-title>
      <v-card-text>
        <p>Esta sección ha pausado su desarrollo.</p>
        <p>No dude en contactar para continuar.</p>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script>
export default {};
</script>

<style></style>
