<template>
  <galeria :catalog="true" class="top" />
</template>

<script>
import Galeria from "../components/GaleriaComponentes";

export default {
  components: {
    Galeria,
  },
};
</script>

<style lang="css"></style>
