<template>
  <v-container class="top" v-if="clientes.length">
    <v-layout wrap class="d-flex align-center">
      <v-flex xs6 pr-3>
        <v-tabs v-model="tab" background-color="transparent">
          <v-tabs-slider></v-tabs-slider>
          <v-tab href="#tab-1">Clientes</v-tab>
          <v-tab href="#tab-2">Proveedores</v-tab>
        </v-tabs>
      </v-flex>
      <v-flex xs6>
        <buscador @searchNow="search = $event" :label="'Buscar Contacto'" />
      </v-flex>
      <v-flex xs12 mt-5>
        <v-tabs-items v-model="tab">
          <v-tab-item value="tab-1">
            <v-flex xs12>
              <v-data-table
                stripped
                :headers="headersA"
                :items="clientes"
                :custom-filter="dataTableCustomSearch"
                item-key="codigo"
                multi-sort
                class="elevation-1"
                show-select
                v-model="selectedC"
                no-data-text="No hay clientes en la BBDD"
                :search="search"
              >
                <template v-slot:item.nombre_fiscal="{ item }">
                  <span class="mx-4">{{ item.nombre_fiscal }}</span>
                </template>

                <template v-slot:item.tipo="{ item }">
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on, attrs }">
                      <v-chip
                        small
                        label
                        outlined
                        color="primary"
                        v-bind="attrs"
                        v-on="on"
                        >{{ item.tipo[0] }}</v-chip
                      >
                    </template>
                    <span>{{ item.tipo }}</span>
                  </v-tooltip>
                </template>

                <template v-slot:item.actions="{ item }">
                  <v-btn
                    x-small
                    color="primary"
                    :to="'/crearCliente/' + item.id"
                  >
                    <v-icon small>mdi-pencil</v-icon>
                  </v-btn>
                  <v-btn
                    :disabled="!eresAdmin()"
                    x-small
                    @click="borrar(item.id)"
                    color="error"
                  >
                    <v-icon small>mdi-delete</v-icon>
                  </v-btn>
                </template>
              </v-data-table>
            </v-flex>
          </v-tab-item>
          <v-tab-item value="tab-2">
            <v-flex xs12>
              <v-data-table
                text-xs-caption
                :headers="headersP"
                :items="proveedores"
                item-key="id"
                multi-sort
                class="elevation-1"
                show-select
                v-model="selectedP"
                no-data-text="No hay proveedores en la BBDD"
                :search="search"
              >
                <template v-slot:item.tipo="{ item }">
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on, attrs }">
                      <v-chip
                        small
                        label
                        outlined
                        color="primary"
                        v-bind="attrs"
                        v-on="on"
                        >{{ item.tipo[0] }}</v-chip
                      >
                    </template>
                    <span>{{ item.tipo }}</span>
                  </v-tooltip>
                </template>
                <template v-slot:item.nombre_fiscal="{ item }">{{
                  item.nombre_fiscal
                }}</template>
                <template v-slot:item.actions="{ item }">
                  <v-btn
                    x-small
                    color="primary"
                    :to="'/crearCliente/' + item.id"
                  >
                    <v-icon small>mdi-pencil</v-icon>
                  </v-btn>
                  <v-btn
                    :disabled="!eresAdmin()"
                    x-small
                    @click="borrar(item.id)"
                    color="error"
                  >
                    <v-icon small>mdi-delete</v-icon>
                  </v-btn>
                </template>
              </v-data-table>
            </v-flex>
          </v-tab-item>
        </v-tabs-items>
      </v-flex>

      <v-layout row wrap class="mt-8">
        <v-snackbar
          v-if="selectedC.length"
          v-model="selectedC"
          :timeout="0"
          color="primary"
        >
          Exportar {{ selectedC.length }} contactos
          <v-btn
            color="info"
            @click.native="
              exportToCSV(selectedC, 'clientes.csv', headersA), (selectedC = [])
            "
            >Descargar</v-btn
          >
        </v-snackbar>
        <v-snackbar
          v-if="selectedP.length"
          v-model="selectedP"
          :timeout="0"
          color="info"
        >
          Exportar {{ selectedP.length }} contactos
          <v-btn
            color="primary"
            @click.native="
              exportToCSV(selectedP, 'proveedores.csv', headersP),
                (selectedP = [])
            "
            >Descargar</v-btn
          >
        </v-snackbar>
      </v-layout>
    </v-layout>
  </v-container>
  <v-container v-else class="top">
    <v-layout row wrap class="justify-center">
      <v-card
        width="95%"
        height="400"
        color="grey lighten-2"
        class="d-flex justify-center align-center flex-column"
      >
        <v-card-text class="text-center"
          >Oops! No hay nadie por aquí. Es un buen momento para crear
          contactos</v-card-text
        >
        <v-btn color="primary" @click="$router.push('/crearCliente/crear')"
          >Vamos allá</v-btn
        >
      </v-card>
    </v-layout>
  </v-container>
</template>

<script>
import firebase from "firebase";
import Buscador from "../components/Buscador";
import { tienePadres } from "../servicios/comprobarBorrado.js";

export default {
  components: { Buscador },
  data: () => {
    return {
      search: "",
      columnasClientes: ["codigo", "nombre_fiscal"],
      dialog: false,
      textFile: null,
      expanded: [],
      expanded2: [],
      tab: null,
      singleSelectC: true,
      singleSelectP: true,
      selectedC: [],
      selectedP: [],
      headersA: [
        { text: "Código", value: "codigo", key: "codigo" },
        { text: "Tipo", value: "tipo", key: "tipo" },
        {
          text: "Nombre Fiscal",
          value: "nombre_fiscal",
          key: "nombre_fiscal",
        },
        { text: "NIF", value: "NIF", key: "nif" },
        { text: "Fecha Alta", value: "fecha_alta", key: "fecha_alta" },
        { text: "Forma de Cobro", value: "forma_pago", key: "forma_pago" },
        {
          text: "Teléfono",
          value: "telefono_empresa",
          key: "telefono_empresa",
        },
        {
          text: "Plazo cobro",
          value: "plazo_cobro",
          key: "plazo_cobro",
        },
        {
          text: "Día pago",
          value: "dia_pago",
          key: "dia_pago",
        },
        {
          text: "Acciones",
          value: "actions",
          align: "center",
        },
      ],
      headersP: [
        { text: "Código", value: "codigo", key: "codigo" },
        { text: "Tipo", value: "tipo", key: "tipo" },
        {
          text: "Nombre Fiscal",
          value: "nombre_fiscal",
          key: "nombre_fiscal",
        },
        { text: "Actividad", value: "actividad", key: "actividad" },
        { text: "NIF", value: "NIF", key: "nif" },
        { text: "Fecha Alta", value: "fecha_alta", key: "fecha_alta" },
        { text: "Forma pago", value: "forma_pago", key: "forma_pago" },

        {
          text: "Plazo de Cobro",
          value: "plazo_cobro",
          key: "plazo_cobro",
        },
        {
          text: "Día de Cobro",
          value: "dia_pago",
          key: "dia_pago",
        },
        {
          text: "Acciones",
          value: "actions",
          align: "center",
        },
      ],
    };
  },
  methods: {
    borrar(id) {
      if (tienePadres("facturas", id)) {
        alert(
          "Algún componente depende de este elemento. No se puede borrar aún."
        );
      } else {
        alert("Este elemento se puede borrar.");
      }
    },
  },

  computed: {
    checkBoxesHeaders() {
      const allValues = [];
      Object.values(this.clientes[0])
        .filter((p) => typeof p == "object")
        .forEach((p) => {
          Object.keys(p).forEach((e) => {
            allValues.push({ text: e.toUpperCase(), value: e });
          });
        });
      return allValues.sort((a, b) =>
        a.text > b.text ? 1 : a.text < b.text ? -1 : 0
      );
    },
    headersAMostrar() {
      return this.headers.filter((h) => this.columnasClientes.includes(h.key));
    },
    headersSeleccionados() {},
    clientes() {
      return Object.values(this.$store.getters.cogerContactos).filter(
        (c) => c.tipo == "Cliente"
      );
    },
    proveedores() {
      return Object.values(this.$store.getters.cogerContactos).filter(
        (c) => c.tipo == "Proveedor" || c.tipo == "Acreedor"
      );
    },
  },
};
</script>

<style lang="css"></style>
