<template>
  <v-container fluido class="mx-3 top" v-if="presupuesto" id="capture">
    <v-btn color="primary" @click="addPresupuesto">Guardar Presupuesto</v-btn>
    <v-layout row wrap>
      <v-col cols="6">
        <v-autocomplete
          :items="proyectos"
          item-text="nombre"
          item-value="id"
          v-model="proyectoSeleccionado"
          label="Proyecto"
        ></v-autocomplete>
      </v-col>
      <v-col cols="6" class="d-flex">
        <v-text-field
          label="Ciente"
          v-model="nombreCliente"
          disabled
          readonly
          class="mr-5"
        ></v-text-field>
        <v-text-field
          disabled
          label="Marca"
          v-model="nombreMarca"
          readonly
        ></v-text-field>
      </v-col>
    </v-layout>
    <v-card width="96%" class="pa-3">
      <v-row class="justify-center">
        <v-col cols="7">
          <span class="subtitle">Componentes</span>
        </v-col>
        <v-col cols="5">
          <span class="subtitle">Conceptos</span>
        </v-col>
      </v-row>
      <v-row class="justify-center">
        <v-col cols="7">
          <div class="componentes">
            <v-data-table
              :headers="headers"
              :items="Object.values(carritoCantidades)"
              class="elevation-1 scroll-y overflow-hidden"
              :items-per-page="300"
              locale="es"
              hide-default-footer
              no-data-text="No hay nada añadido"
            >
              <template v-slot:item.imagen="{ item }">
                <v-avatar size="40" color="red">
                  <img :src="item.imagen" alt="alt" />
                </v-avatar>
              </template>
              <!-- <template v-slot:item.importe="{ item }">
              <span>{{ item.importe }} €</span>
              </template>-->
              <template v-slot:item.total="{ item }">
                <span>{{ item.importe * item.cantidad }} €</span>
              </template>
              <template v-slot:item.cantidad="{ item }">
                <v-icon
                  small
                  dark
                  dense
                  color="red"
                  size="10"
                  @click="removeComponente(item)"
                  class="mr-3"
                  >mdi-minus-circle</v-icon
                >
                <span>{{ item.cantidad }}</span>
                <v-icon
                  small
                  dark
                  dense
                  color="primary"
                  size="10"
                  class="ml-3"
                  @click="addComponente(item)"
                  >mdi-plus-circle</v-icon
                >
              </template>
            </v-data-table>
            <div class="mt-5 text-center">
              <v-btn href="#componentes">Añadir componente</v-btn>
            </div>
          </div>
        </v-col>
        <v-col cols="5">
          <div class="d-flex">
            <v-text-field
              label="Site Survey"
              v-model="gastos.siteSurvey.importe"
              type="number"
              class="mr-5"
              placeholder="Importe si lo hubiera"
            ></v-text-field>
            <v-text-field
              label="Reportaje Fotográfico"
              type="number"
              v-model="gastos.reportaje.importe"
              placeholder="Importe si lo hubiera"
            ></v-text-field>
          </div>

          <!-- <p class="mb-1 pb-1">Transporte y embalaje</p> -->
          <div class="d-flex">
            <!-- <v-text-field
              class="mr-1"
              name="Transporte"
              placeholder="Detalle"
              v-model="gastos.transporte.detalle"
            ></v-text-field>-->
            <v-text-field
              name="Importe"
              label="Transporte y embalaje"
              type="number"
              placeholder="Importe"
              class="mr-5"
              v-model="gastos.transporte.importe"
            ></v-text-field>
            <v-text-field
              name="Importe"
              label="Desplazamiento e instalación"
              type="number"
              placeholder="Importe"
              v-model="gastos.desplazamiento.importe"
            ></v-text-field>
          </div>
          <!-- <p class="mb-1 pb-1">Suministro y colocación</p>
          <div class="d-flex">
            <v-text-field
              class="mr-1"
              name="Suministro"
              placeholder="Detalle"
              v-model="gastos.suministro.detalle"
            ></v-text-field>
            <v-text-field
              name="Importe"
              type="number"
              placeholder="Importe"
              v-model="gastos.suministro.importe"
            ></v-text-field>
          </div>-->
          <!-- <p class="mb-1 pb-1">Desplazamiento e instalación</p> -->
          <div class="d-flex">
            <!-- <v-text-field
              class="mr-1"
              name="Lugar"
              placeholder="Lugar"
              v-model="gastos.desplazamiento.detalle"
            ></v-text-field>-->
            <v-text-field
              label="Otros"
              name="Importe"
              type="number"
              placeholder="Importe"
              class="mr-5"
              v-model="gastos.otros.importe"
            ></v-text-field>
            <v-text-field
              persistent-hint
              hint="Margen en porcentaje"
              label="Margen BL"
              name="Importe"
              type="number"
              placeholder="Importe"
              v-model="gastos.bl.importe"
            ></v-text-field>
          </div>
          <div></div>
        </v-col>
      </v-row>
      <v-row class="mb-5">
        <v-col cols="12" class="primary lighten-1">
          <div class="mt-3 pr-5 d-flex justify-end">
            <span>Total Gastos Externos: {{ totalGastosExternos }}€</span>
          </div>
        </v-col>
      </v-row>
      <v-divider></v-divider>
      <v-row wrap>
        <v-col cols="12" v-if="proyectoSeleccionado">
          <v-data-table
            :headers="headersHoras"
            :items="manoDeObra"
            hide-default-footer
            class="elevation-1"
          >
            <template v-slot:item.total="{ item }">
              <span>{{ item.precio * item.horas }} €</span>
            </template>
          </v-data-table>
        </v-col>
        <v-col cols="12" class="primary lighten-1">
          <div class="mt-3 pr-5 d-flex justify-end align-center">
            <span>Total Gastos Internos: {{ totalPrecioHoras }}€</span>
          </div>
        </v-col>
      </v-row>
      <v-divider></v-divider>

      <v-card-actions>
        <v-btn color="primary" text @click="foto">Generar Presupuesto</v-btn>
        <v-spacer></v-spacer>
        <v-spacer></v-spacer>
        <span class="mr-4">Total:</span>
        <v-text-field name="Total" readonly :value="total + '€'"></v-text-field>
      </v-card-actions>
    </v-card>
    <v-row id="componentes">
      <galeria v-if="componentesCliente" :componentes="componentesCliente" />
    </v-row>
    <div id="shot"></div>
    <v-dialog
      v-model="dialogDetalle"
      persistent
      :overlay="true"
      transition="dialog-transition"
    >
      <v-card>
        <Detalle v-if="dialogDetalle" :id="detalleID" />
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="error" @click="cerrarDialog">Cerrar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import { mapState } from "vuex";
import Galeria from "../components/GaleriaPresupuesto";
import Componente from "../components/Componente";
import firebase from "firebase";
import html2canvas from "html2canvas";

export default {
  props: ["id"],
  components: { Galeria, Componente },
  data: () => {
    return {
      presupuesto: {},
      headers: [
        { text: "Imagen", value: "imagen" },
        { text: "Nombre", value: "nombre" },
        { text: "Cantidad", value: "cantidad" },
        // { text: 'Unidad', value: 'importe' },
        { text: "Importe", value: "total" },
      ],
      headersHoras: [
        { text: "Proceso", value: "proceso" },
        { text: "Responsable", value: "responsable" },
        { text: "Horas", value: "horas" },
        { text: "Precio Hora", value: "precio" },
        { text: "Total", value: "total" },
      ],
      dialog: true,
      gastos: {
        siteSurvey: { detalle: "", importe: 0 },
        reportaje: { detalle: "", importe: 0 },
        transporte: { detalle: "", importe: 0 },
        suministro: { detalle: "", importe: 0 },
        desplazamiento: { detalle: "", importe: 0 },
        otros: { importe: 0 },
        bl: { importe: 0 },
      },
      proyectoSeleccionado: "",
      cliente: "",
      marca: "",
    };
  },
  methods: {
    foto() {
      // html2canvas(document.querySelector('#capture')).then(canvas =>
      //   document.querySelector('#shot').appendChild(canvas)
      // );
      alert("Coming soon");
    },
    addPresupuesto() {
      this.gastos.materias = { importe: this.importeComponentes };
      firebase
        .database()
        .ref("presupuestos")
        .push({
          componentes: this.carrito,
          proyecto: this.proyectoSeleccionado,
          cliente: this.proyecto.cliente,
          marca: this.proyecto.marca,
          importe: this.total,
          gastos: this.gastos,
        })
        .then(() => {
          this.$store.commit("vaciarCarrito", []);
          alert("Presupuesto creado correctamente!!");
          this.$router.push("/presupuestos");
        });
    },
    buscarNombreCliente(id) {
      return this.contactos.find((c) => c.id == id).nombre_fiscal;
    },
    buscarNombreMarca(id) {
      return this.marcas.find((m) => m.id == id).nombre;
    },
    buscarNombreProyecto(id) {
      return this.proyectos.find((m) => m.id == id).nombre;
    },
    addComponente(item) {
      this.$store.commit("addCarrito", item);
    },
    removeComponente(item) {
      this.$store.commit("removeComponente", item);
    },
    buscarEmpleado(id) {
      return this.empleados.find((c) => c.id == id);
    },
  },
  created() {
    // this.$store.commit("vaciarCarrito", this.presupuesto.componentes);
    // this.gastos = this.presupuesto.gastos;
  },
  beforeDestroy() {
    this.$store.commit("vaciarCarrito", []);
  },
  computed: {
    ...mapState([
      "contactos",
      "marcas",
      "carrito",
      "componentes",
      "presupuestos",
      "empleados",
      "detalleID",
      "dialogDetalle",
    ]),
    proyectos() {
      return Object.values(this.$store.getters.cogerProyectos);
    },
    proyecto() {
      if (this.proyectoSeleccionado) {
        return this.proyectos.find((p) => p.id == this.proyectoSeleccionado);
      }
    },
    totalGastosExternos() {
      if (this.gastos) {
        return (
          Object.values(this.gastos)
            .map((g) => g.importe)
            .reduce((a, b) => Number(a) + Number(b)) + this.importeComponentes
        );
      } else {
        return 0;
      }
    },
    manoDeObra() {
      if (this.proyectoSeleccionado) {
        const procesos = this.proyecto.timeline.procesos;
        const responsables = procesos.map((p) => {
          const responsable = this.buscarEmpleado(p.responsable);
          return {
            proceso: p.nombre,
            responsable: responsable.nombre,
            horas: p.horas,
            precio: responsable.precio,
          };
        });

        return responsables;
      }
    },
    totalPrecioHoras() {
      if (this.proyectoSeleccionado) {
        return this.manoDeObra
          .map((m) => m.horas * m.precio)
          .reduce((a, b) => a + b);
      } else {
        return 0;
      }
    },
    importeComponentes() {
      if (this.carrito.length) {
        return this.carrito
          .map((c) => Number(c.importe))
          .reduce((a, b) => a + b);
      } else {
        return 0;
      }
    },
    total() {
      if (this.carrito.length) {
        return this.totalConMargenBL + this.totalPrecioHoras;
      } else {
        return 0;
      }
    },
    carritoCantidades() {
      const carroTemp = {};
      this.carrito.forEach((c) => {
        if (!carroTemp[c.id]) {
          carroTemp[c.id] = { ...c, cantidad: 1 };
        } else {
          carroTemp[c.id] = {
            ...c,
            cantidad: carroTemp[c.id].cantidad + 1,
          };
        }
      });
      return carroTemp;
    },

    nombreCliente() {
      if (this.proyectoSeleccionado) {
        return this.buscarNombreCliente(this.proyecto.cliente) || "";
      }
    },
    nombreMarca() {
      if (this.proyectoSeleccionado) {
        return this.buscarNombreMarca(this.proyecto.marca) || "";
      }
    },
    componentesCliente() {
      if (
        this.proyectoSeleccionado.nombre == "Borrador" ||
        !this.proyectoSeleccionado
      ) {
        return this.componentes;
      }
      if (this.proyectoSeleccionado) {
        return this.componentes.filter((c) => c.marca == this.proyecto.marca);
      }
    },
  },
};
</script>

<style></style>
