<template>
  <v-container class="mx-3 top">
    <v-layout row>
      <v-flex xs6>
        <h2 class="my-5">Creación de Marca</h2>

        <v-form ref="formM" v-model="valid" lazy-validation>
          <v-text-field
            v-model="model.nombre"
            label="Nombre"
            placeholder="Nombre completo marca"
            required
            :rules="[(v) => !!v || 'Campo necesario']"
          ></v-text-field>
          <v-menu
            ref="fecha"
            v-model="fecha"
            :close-on-content-click="false"
            :return-value.sync="model.fecha_alta"
            transition="scale-transition"
            offset-y
            min-width="290px"
          >
            <template v-slot:activator="{ on }">
              <v-text-field
                v-model="model.fecha_alta"
                label="Fecha alta"
                readonly
                v-on="on"
              ></v-text-field>
            </template>
            <v-date-picker
              v-model="model.fecha_alta"
              no-title
              scrollable
              :first-day-of-week="1"
            >
              <v-spacer></v-spacer>
              <v-btn text color="primary" @click="fecha = false">Cancel</v-btn>
              <v-btn
                text
                color="primary"
                @click="$refs.fecha.save(model.fecha_alta)"
                >OK</v-btn
              >
            </v-date-picker>
          </v-menu>
          <!-- <v-text-field
            v-model="model.fecha_alta"
            label="Fecha Alta"
            placeholder="Fecha alta"
            required
            :rules="[v => !!v || 'Campo necesario']"
          ></v-text-field>-->
          <v-autocomplete
            :items="contactos"
            item-text="nombre_fiscal"
            item-value="id"
            v-model="model.cliente"
            label="Cliente"
            no-data-text="Esta marca no tiene clientes asociados"
            required
            :rules="[(v) => !!v || 'Campo necesario']"
          ></v-autocomplete>

          <v-textarea
            v-model="model.observaciones"
            label="Observaciones"
            placeholder="Indicar aquí cualquier observación relativa a la marca"
          ></v-textarea>

          <div>
            <v-spacer></v-spacer>
            <v-btn
              v-if="id == 'crear'"
              class="ma-2"
              dark
              color="primary"
              small
              @click="enviarMarca()"
              >Guardar Marca</v-btn
            >
            <v-btn
              v-else
              class="ma-2"
              dark
              color="primary"
              small
              @click="actualizarMarca()"
              >Actualizar Marca</v-btn
            >
          </div>
        </v-form>
      </v-flex>

      <v-flex xs6 class="text-center mx-10"></v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import firebase from 'firebase'
import Buscador from '../components/Buscador'
export default {
  props: ['id'],
  components: {
    Buscador
  },
  data: () => {
    return {
      fecha: false,
      valid: false
      // model: {
      //   nombre: "",
      //   fecha_alta: "",
      //   observaciones: ""
      // }
    }
  },
  methods: {
    enviarMarca() {
      if (this.$refs.formM.validate()) {
        firebase
          .database()
          .ref('marcas')
          .push(this.model)
          .then(() => {
            alert('Marca añadida correctamente')
            this.$router.push('/marcas')
          })
      }
    },
    actualizarMarca() {
      firebase
        .database()
        .ref('marcas/' + this.id)
        .update(this.model)
        .then(() => {
          alert('Marca actualizada correctamente')
          this.$router.push('/marcas')
        })
    }
  },
  computed: {
    model() {
      if (this.id == 'crear') {
        return {}
      }
      return Object.values(this.$store.getters.cogerMarcas).find(
        (m) => m.id == this.id
      )
    },
    contactos() {
      return Object.values(this.$store.getters.cogerContactos)
        .sort((a, b) =>
          a.nombre_fiscal.toLowerCase() > b.nombre_fiscal.toLowerCase() ? 1 : -1
        )
        .filter((c) => c.tipo == 'Cliente')
    }
  }
}
</script>

<style lang="css"></style>
