<template>
  <v-container class="mx-3 top">
    <v-layout row>
      <v-flex xs12>
        <v-data-table
          :headers="headers"
          :items="datos"
          item-key="nombre"
          :sort-by="['nombre', 'empresa']"
          :sort-desc="[false, true]"
          multi-sort
          class="elevation-1"
          hide-default-footer
          show-select
          v-model="selected"
          :single-select="singleSelect"
        >
          <template v-slot:top>
            <v-switch
              v-model="singleSelect"
              label="Single select"
              class="pa-3"
            ></v-switch>
          </template>
          <template v-slot:item.nombre="{ item }">
            <v-avatar size="28px">
              <img :src="item.imagen" />
            </v-avatar>
            <span class="mx-4">{{ item.nombre }}</span>
          </template>
        </v-data-table>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import firebase from "firebase";
import Buscador from "../components/Buscador";
export default {
  components: {
    Buscador,
  },
  data: () => {
    return {
      singleSelect: false,
      selected: [],
      datos: [],
      headers: [
        { text: "Nombre", value: "nombre" },
        { text: "Correo", value: "correo" },
        { text: "Empresa", value: "empresa" },
        { text: "Cargo", value: "cargo" },
        { text: "%", value: "importe" },
        { text: "Activo", value: "activo" },
      ],
    };
  },
  mounted() {
    firebase
      .database()
      .ref("contactos")
      .on("value", (data) => {
        this.datos = data.val();
      });
  },
};
</script>

<style lang="css"></style>
