<template>
  <v-container fluido class="mx-3 top">
    <v-layout row wrap>
      <v-col cols="6">
        <v-select
          outlined
          :items="proyectos"
          item-text="nombre"
          item-value="id"
          v-model="proyectoSeleccionado"
          label="Proyecto"
        ></v-select>
      </v-col>
      <v-col cols="6" class="d-flex">
        <v-text-field
          label="Ciente"
          v-model="nombreCliente"
          :disabled="!proyecto"
          readonly
          class="mr-5"
          outlined
        ></v-text-field>
        <v-text-field
          :disabled="!proyecto"
          label="Marca"
          v-model="nombreMarca"
          readonly
          outlined
        ></v-text-field>
      </v-col>
      <v-col cols="6" class="d-flex justify-space-between">
        <v-text-field
          label="Site Survey"
          v-model="gastos.siteSurvey.importe"
          class="mr-5"
          placeholder="Importe si lo hubiera"
          outlined
        ></v-text-field>
        <v-text-field
          label="Reportaje Fotográfico"
          v-model="gastos.reportaje.importe"
          placeholder="Importe si lo hubiera"
          outlined
        ></v-text-field>
      </v-col>
      <v-col cols="6">
        <v-btn color="primary" @click="addPresupuesto"
          >Guardar Presupuesto</v-btn
        >
      </v-col>
    </v-layout>
    <v-card width="95%" class="pa-3">
      <v-row class="justify-center">
        <v-col cols="8">
          <span class="subtitle">Componentes</span>
        </v-col>
        <v-col cols="4">
          <span class="subtitle">Gastos</span>
        </v-col>
      </v-row>
      <v-row class="justify-center">
        <v-col cols="7">
          <div class="componentes">
            <v-data-table
              :headers="headers"
              :items="Object.values(carritoCantidades)"
              class="elevation-1 scroll-y overflow-hidden"
              :items-per-page="300"
              locale="es"
              hide-default-footer
              no-data-text="No hay nada añadido"
            >
              <template v-slot:item.imagen="{ item }">
                <v-avatar size="40" color="red">
                  <img :src="item.imagen" alt="alt" />
                </v-avatar>
              </template>
              <!-- <template v-slot:item.importe="{ item }">
              <span>{{ item.importe }} €</span>
              </template>-->
              <template v-slot:item.total="{ item }">
                <span>{{ item.importe * item.cantidad }} €</span>
              </template>
              <template v-slot:item.cantidad="{ item }">
                <v-icon
                  small
                  dark
                  dense
                  color="red"
                  size="10"
                  @click="removeComponente(item)"
                  class="mr-3"
                  >mdi-minus-circle</v-icon
                >
                <span>{{ item.cantidad }}</span>
                <v-icon
                  small
                  dark
                  dense
                  color="primary"
                  size="10"
                  class="ml-3"
                  @click="addComponente(item)"
                  >mdi-plus-circle</v-icon
                >
              </template>
            </v-data-table>
          </div>
        </v-col>
        <v-col cols="5">
          <p class="mb-1 pb-1">Transporte y embalaje</p>
          <div class="d-flex">
            <v-text-field
              class="mr-1"
              name="Transporte"
              placeholder="Detalle"
              v-model="gastos.transporte.detalle"
            ></v-text-field>
            <v-text-field
              name="Importe"
              type="number"
              placeholder="Importe"
              v-model="gastos.transporte.importe"
            ></v-text-field>
          </div>
          <p class="mb-1 pb-1">Suministro y colocación</p>
          <div class="d-flex">
            <v-text-field
              class="mr-1"
              name="Suministro"
              placeholder="Detalle"
              v-model="gastos.suministro.detalle"
            ></v-text-field>
            <v-text-field
              name="Importe"
              type="number"
              placeholder="Importe"
              v-model="gastos.suministro.importe"
            ></v-text-field>
          </div>
          <p class="mb-1 pb-1">Gastos de instalación</p>
          <div class="d-flex">
            <v-text-field
              class="mr-1"
              name="Lugar"
              placeholder="Lugar"
              v-model="gastos.desplazamiento.detalle"
            ></v-text-field>
            <v-text-field
              name="Importe"
              type="number"
              placeholder="Importe"
              v-model="gastos.desplazamiento.importe"
            ></v-text-field>
          </div>
          <div></div>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12">
          <v-data-table
            :headers="headersHoras"
            :items="manoDeObra"
            hide-default-footer
            class="elevation-1"
          >
            <template v-slot:item.total="{ item }">
              <span>{{ item.precio * item.horas }} €</span>
            </template>
          </v-data-table>
          <div class="mt-5 pr-5 d-flex justify-end">
            <span>Total Importe Horas: {{ totalPrecioHoras }}€</span>
          </div>
        </v-col>
      </v-row>
      <v-divider></v-divider>

      <v-card-actions>
        <v-btn color="primary" text @click="foto">Generar Presupuesto</v-btn>
        <v-spacer></v-spacer>
        <v-spacer></v-spacer>
        <span class="mr-4">Total:</span>
        <v-text-field name="Total" readonly :value="total + '€'"></v-text-field>
      </v-card-actions>
    </v-card>
    <v-row>
      <galeria v-if="componentesCliente" :componentes="componentesCliente" />
    </v-row>
  </v-container>
</template>

<script>
import { mapState } from "vuex";
import Galeria from "../components/GaleriaPresupuesto";
import Componente from "../components/Componente";
import firebase from "firebase";
export default {
  components: { Galeria, Componente },
  data: () => {
    return {
      headers: [
        { text: "Imagen", value: "imagen" },
        { text: "Nombre", value: "nombre" },
        { text: "Cantidad", value: "cantidad" },
        // { text: 'Unidad', value: 'importe' },
        { text: "Importe", value: "total" },
      ],
      headersHoras: [
        { text: "Proceso", value: "proceso" },
        { text: "Responsable", value: "responsable" },
        { text: "Horas", value: "horas" },
        { text: "Precio Hora", value: "precio" },
        { text: "Total", value: "total" },
      ],
      dialog: true,
      siteSurvey: "",
      reportaje: "",
      proyectoSeleccionado: "",
      cliente: "",
      marca: "",
      gastos: {
        siteSurvey: { detalle: "", importe: 0 },
        reportaje: { detalle: "", importe: 0 },
        transporte: { detalle: "", importe: 0 },
        suministro: { detalle: "", importe: 0 },
        desplazamiento: { detalle: "", importe: 0 },
      },
    };
  },
  methods: {
    foto() {
      // html2canvas(document.querySelector('#capture')).then(canvas =>
      //   document.querySelector('#shot').appendChild(canvas)
      // );
      alert("Coming soon");
    },
    addPresupuesto() {
      firebase
        .database()
        .ref("presupuestos")
        .push({
          componentes: this.carrito,
          proyecto: this.proyectoSeleccionado,
          cliente: this.proyecto.cliente,
          marca: this.proyecto.marca,
          importe: this.total,
          gastos: this.gastos,
        })
        .then(() => {
          this.$store.commit("vaciarCarrito", []);
          this.$router.push("/presupuestos");
        });
    },
    buscarNombreCliente(id) {
      return this.contactos.find((c) => c.id == id).nombre_fiscal;
    },
    buscarNombreMarca(id) {
      return this.marcas.find((m) => m.id == id).nombre;
    },
    addComponente(item) {
      this.$store.commit("addCarrito", item);
    },
    removeComponente(item) {
      this.$store.commit("removeComponente", item);
    },
    buscarEmpleado(id) {
      return this.empleados.find((c) => c.id == id);
    },
  },
  created() {},
  beforeDestroy() {},
  computed: {
    ...mapState([
      "proyectos",
      "contactos",
      "marcas",
      "carrito",
      "componentes",
      "empleados",
    ]),
    manoDeObra() {
      if (this.proyectoSeleccionado) {
        const proyecto = this.proyectos.find(
          (p) => p.id == this.proyectoSeleccionado
        );
        const procesos = proyecto.timeline.procesos;
        const responsables = procesos.map((p) => {
          const responsable = this.buscarEmpleado(p.responsable);
          return {
            proceso: p.nombre,
            responsable: responsable.nombre,
            horas: p.horas,
            precio: responsable.precio,
          };
        });

        return responsables;
      }
      return [];
    },
    totalPrecioHoras() {
      if (this.proyectoSeleccionado) {
        return this.manoDeObra
          .map((m) => m.horas * m.precio)
          .reduce((a, b) => a + b);
      }
    },
    total() {
      if (this.carrito.length > 0) {
        const importeComponentes = this.carrito
          .map((c) => Number(c.importe))
          .reduce((a, b) => a + b);
        return (
          importeComponentes +
          Object.values(this.gastos)
            .map((g) => g.importe)
            .reduce((a, b) => Number(a) + Number(b)) +
          this.totalPrecioHoras
        );
      } else {
        return 0;
      }
    },
    carritoCantidades() {
      const carroTemp = {};
      [...this.carrito].forEach((c) => {
        if (!carroTemp[c.id]) {
          carroTemp[c.id] = { ...c, cantidad: 1 };
        } else {
          carroTemp[c.id] = {
            ...c,
            cantidad: carroTemp[c.id].cantidad + 1,
          };
        }
      });
      return carroTemp;
    },
    proyecto() {
      return this.proyectos.find((p) => p.id == this.proyectoSeleccionado);
    },
    nombreCliente() {
      if (this.proyectoSeleccionado) {
        return this.buscarNombreCliente(this.proyecto.cliente);
      }
    },
    nombreMarca() {
      if (this.proyectoSeleccionado) {
        return this.buscarNombreMarca(this.proyecto.marca) || "";
      }
    },
    componentesCliente() {
      if (this.proyecto) {
        return this.componentes.filter(
          (c) => c.cliente == this.proyecto.cliente
        );
      }
    },
  },
};
</script>

<style></style>
