<template>
  <v-container fluido class="top">
    <v-form ref="facturaForm" lazy-validation v-model="valid">
      <p class="headline mb-4">Creación de Factura</p>
      <v-row>
        <v-col cols="9">
          <!-- CARD TIPO FACTURA -->
          <v-card class="px-5 py-3 mb-3 text-center">
            <v-row class="d-flex justify-space-around">
              <v-card-text v-if="tipo == ''"
                >Seleccione el tipo de factura a crear:</v-card-text
              >
              <v-card-text v-else>
                El tipo seleccionado es
                <b>{{ tipo.toUpperCase() }}</b>
              </v-card-text>
              <v-card-actions v-if="tipo == ''">
                <v-btn color="primary" @click="tipo = 'cliente'">CLIENTE</v-btn>
                <v-btn color="secondary" @click="tipo = 'proveedor'"
                  >Proveedor / Acreedor</v-btn
                >
                <v-btn color="accent" @click="tipo = 'gasto'">Gasto</v-btn>
              </v-card-actions>
            </v-row>
          </v-card>

          <transition name="fade">
            <facturaCliente
              key="cliente"
              v-if="factura.tipo == 'cliente' || tipo == 'cliente'"
              :factura="factura"
              :id="id"
            />
          </transition>
          <transition name="fade">
            <facturaProveedor
              key="proveedor"
              v-if="factura.tipo == 'proveedor' || tipo == 'proveedor'"
              :factura="factura"
              :id="id"
            />
          </transition>
          <transition name="fade">
            <facturaGasto
              key="proveedor"
              v-if="factura.tipo == 'gasto' || tipo == 'gasto'"
              :factura="factura"
              :id="id"
            />
          </transition>
        </v-col>

        <!-- COLUMNA IMAGEN -->
        <v-col cols="3">
          <v-card class="px-5 py-3">
            <v-flex xs12 class="mr-4">
              <v-file-input
                v-model="factura.file"
                @change="preview"
                show-size
                label="Archivo adjunto"
              ></v-file-input>
            </v-flex>
            <v-flex height="200px" xs12 class="mr-4">
              <v-img v-if="factura.imagen" cover :src="factura.imagen"></v-img>
              <v-img v-else src="https://imgur.com/dMIlTsq.png"></v-img>
            </v-flex>
          </v-card>
        </v-col>
      </v-row>

      <v-layout row wrap class="justify-center mt-12" v-if="tipo != ''">
        <v-btn v-if="id == 'test'" color="primary" @click="guardarFactura()"
          >Guardar Factura</v-btn
        >
        <v-btn v-else color="primary" @click="actualizarFactura()"
          >Actualizar Factura</v-btn
        >
      </v-layout>
    </v-form>
  </v-container>
</template>

<script>
import firebase from "firebase";
import FacturaCliente from "../components/FacturaCliente";
import FacturaProveedor from "../components/FacturaProveedor";
import FacturaGasto from "../components/FacturaGasto";

export default {
  props: ["id"],
  components: {
    FacturaCliente,
    FacturaProveedor,
    FacturaGasto,
  },
  data() {
    return {
      tipo: "",
      valid: true,
      factura: {},
      detalles: [],
    };
  },
  watch: {
    facturaChange() {
      this.actualizarDetalles();
    },
  },

  methods: {
    comprobarTipo() {
      if (this.tipo == "proveedor") {
        return undefined;
      }
    },
    actualizarDetalles() {
      this.detalles = this.factura.detalles;
    },
    preview(e) {
      if (e) this.factura.imagen = URL.createObjectURL(e);
      else this.factura.imagen = null;
    },
    async guardarFactura() {
      this.factura.tipo = this.tipo;
      if (this.$refs.facturaForm.validate()) {
        if (!this.detalles.length) {
          this.factura.detalles = 0;
        } else {
          this.factura.detalles = this.detalles;
        }

        if (this.factura.file) {
          const storage = await firebase
            .storage()
            .ref("muebles")
            .child(this.factura.numero + ".png");
          const image = await storage.put(this.factura.file);
          const url = storage
            .getDownloadURL()
            .then((url) => {
              // this.factura.detalles = this.detalles;
              this.factura.imagen = url;
              firebase
                .database()
                .ref("facturas")
                .push(this.factura)
                .then((e) => {
                  alert("Factura con imagen añadida");
                  this.$router.push("/facturas");
                });
            })
            .catch((err) => console.log(err));
        } else {
          // this.factura.detalles = this.detalles;
          firebase
            .database()
            .ref("facturas")
            .push(this.factura)
            .then((e) => {
              alert("Factura añadida");
              this.$router.push("/facturas");
            });
        }
      }
    },
    //
    async actualizarFactura() {
      this.factura.tipo = this.tipo;
      if (this.$refs.facturaForm.validate()) {
        if (this.factura.file) {
          const storage = await firebase
            .storage()
            .ref("muebles")
            .child(this.factura.numero + ".png");
          const image = await storage.put(this.factura.file);
          const url = storage
            .getDownloadURL()
            .then((url) => {
              this.factura.detalles = this.detalles;
              this.factura.imagen = url;
              firebase
                .database()
                .ref("facturas/" + this.id)
                .update(this.factura)
                .then((e) => {
                  alert("Factura con imagen actualizada");
                  this.$router.push("/facturas");
                });
            })
            .catch((err) => console.log(err));
        } else {
          this.factura.detalles = this.detalles;
          firebase
            .database()
            .ref("facturas/" + this.id)
            .update(this.factura)
            .then((e) => {
              alert("Factura actualizada");
              this.$router.push("/facturas");
            });
        }
      }
    },
  },
  mounted() {
    if (this.id != "test") {
      const factura = this.facturas.find((f) => f.id == this.id);
      if (factura.detalles == 0 || !factura.detalles) {
        this.detalles = [];
      } else {
        this.detalles = factura.detalles;
      }
      this.tipo = factura.tipo;

      this.factura = factura;
    }
  },
  computed: {
    facturas() {
      return Object.values(this.$store.getters.cogerFacturas);
    },
    facturaChange() {
      return this.factura;
    },
  },
};
</script>

<style>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
