<template>
  <v-container fluido class="mx-3 top">
    <v-layout row class="pa-4">
      <v-flex xs6>
        <h2 class="my-5">Creación de Contacto</h2>

        <v-tabs v-model="tab" icons-and-text>
          <v-tabs-slider></v-tabs-slider>

          <v-tab href="#tab-1">Cliente</v-tab>

          <v-tab href="#tab-2">Proveedor</v-tab>
        </v-tabs>

        <v-tabs-items v-model="tab">
          <v-tab-item value="tab-1">
            <v-card flat class="mt-6">
              <v-form
                ref="form1"
                v-model="valid"
                :lazy-validation="lazy"
                class="pa-4"
              >
                <v-text-field
                  v-model="model.codigo"
                  label="Código"
                  placeholder="Código de la factura"
                  required
                  :rules="[(v) => !!v || ' ']"
                ></v-text-field>
                <v-text-field
                  v-model="model.nombre_fiscal"
                  label="Nombre Fiscal"
                  placeholder="Nombre Fiscal de la empresa"
                  required
                  :rules="[(v) => !!v || ' ']"
                ></v-text-field>
                <v-select
                  :items="tipo"
                  v-model="model.tipo"
                  label="Tipo"
                  placeholder="Acreedor / Proveeedor"
                  :rules="[(v) => !!v || ' ']"
                ></v-select>
                <v-text-field
                  v-model="model.NIF"
                  :counter="30"
                  label="NIF"
                  placeholder="Nif de la empresa"
                  required
                  :rules="[(v) => !!v || ' ']"
                ></v-text-field>
                <v-menu
                  ref="fecha_alta"
                  v-model="fecha_alta"
                  :close-on-content-click="false"
                  :return-value.sync="model.fecha_alta"
                  transition="scale-transition"
                  offset-y
                  min-width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      v-model="model.fecha_alta"
                      label="Fecha Alta"
                      readonly
                      v-on="on"
                      :rules="[(v) => !!v || '']"
                    ></v-text-field>
                  </template>
                  <v-date-picker
                    v-model="model.fecha_alta"
                    no-title
                    scrollable
                    :first-day-of-week="1"
                  >
                    <v-spacer></v-spacer>
                    <v-btn text color="primary" @click="fecha_alta = false"
                      >Cancel</v-btn
                    >
                    <v-btn
                      text
                      color="primary"
                      @click="$refs.fecha_alta.save(model.fecha_alta)"
                      >OK</v-btn
                    >
                  </v-date-picker>
                </v-menu>
                <!-- <v-text-field
                  v-model="model.fecha_alta"
                  :counter="30"
                  label="Fecha Alta"
                  placeholder="Fecha de alta de la empresa"
                  required
                  :rules="[v => !!v || ' ']"
                ></v-text-field>-->

                <h2 class="my-5">Direcciones y comunicaciones</h2>

                <v-text-field
                  v-model="model.direccion"
                  label="Dirección"
                  placeholder="Dirección física"
                  required
                  :rules="[(v) => !!v || ' ']"
                ></v-text-field>
                <v-text-field
                  v-model="model.cp"
                  label="Código Postal"
                  placeholder="Código Postal"
                  required
                  :rules="[(v) => !!v || ' ']"
                ></v-text-field>
                <v-text-field
                  v-model="model.poblacion"
                  label="Población"
                  placeholder="Nombre de la población"
                  required
                  :rules="[(v) => !!v || ' ']"
                ></v-text-field>
                <v-text-field
                  v-model="model.provincia"
                  label="Provincia"
                  placeholder="Provoncia"
                  required
                  :rules="[(v) => !!v || ' ']"
                ></v-text-field>
                <v-text-field
                  v-model="model.pais"
                  label="País"
                  placeholder="País"
                  required
                  :rules="[(v) => !!v || ' ']"
                ></v-text-field>
                <v-text-field
                  v-model="model.telefono_empresa"
                  label="Teléfono"
                  placeholder="Teléfono"
                  required
                  :rules="[(v) => !!v || ' ']"
                ></v-text-field>
                <v-text-field
                  v-model="model.contacto"
                  label="Contacto"
                  placeholder="Persona de contacto"
                  required
                  :rules="[(v) => !!v || ' ']"
                ></v-text-field>
                <v-text-field
                  v-model="model.email"
                  label="Email"
                  placeholder="Correo electrónico"
                  required
                  :rules="[(v) => !!v || ' ']"
                ></v-text-field>
                <v-text-field
                  v-model="model.web_empresa"
                  label="Web"
                  placeholder="Web de la empresa"
                ></v-text-field>

                <h2 class="my-5">Datos de cobro / pago</h2>

                <!-- <v-text-field
                  v-model="model.forma_pago"
                  label="Forma de pago"
                  placeholder="Transferencia, cash ..."
                  :rules="[v => !!v || ' ']"
                ></v-text-field>-->
                <v-select
                  :items="['Transferencia', 'Giro', 'Cash']"
                  v-model="model.forma_pago"
                  label="Forma de pago"
                  placeholder="Forma de pago"
                  :rules="[(v) => !!v || ' ']"
                ></v-select>
                <v-text-field
                  v-model="model.iban"
                  label="Número de cuenta / IBAN"
                  placeholder="XXXX-XXXX-XXXX-XXXX"
                  :rules="[(v) => !!v || ' ']"
                ></v-text-field>
                <v-text-field
                  v-model="model.numero_vencimientos"
                  label="Vencimientos"
                  placeholder="Número de vencimientos / cuotas"
                  :rules="[(v) => !!v || ' ']"
                ></v-text-field>
                <v-text-field
                  v-model="model.plazo_cobro"
                  label="Plazo de cobro"
                  placeholder="15, 30, 60, 90 días..."
                  :rules="[(v) => !!v || ' ']"
                ></v-text-field>
                <v-text-field
                  v-model="model.dia_pago"
                  label="Día de pago"
                  placeholder="Día de pago"
                  :rules="[(v) => !!v || ' ']"
                ></v-text-field>
                <v-text-field
                  v-model="model.SWIFT"
                  label="SWIFT"
                  placeholder="Número SWIFT"
                  :rules="[(v) => !!v || ' ']"
                ></v-text-field>
                <v-textarea
                  v-model="model.observaciones"
                  label="Observaciones"
                  placeholder="Indicar aquí cualquier observación relativa al cliente"
                ></v-textarea>

                <div>
                  <v-spacer></v-spacer>
                  <v-btn
                    class="ma-2"
                    dark
                    color="primary"
                    small
                    @click="enviarCliente()"
                    >Guardar Cliente</v-btn
                  >
                </div>
              </v-form>
            </v-card>
          </v-tab-item>
          <v-tab-item value="tab-2">
            <v-card flat class="mt-6">
              <v-form ref="form2" class="pa-4">
                <v-text-field
                  v-model="model2.codigo"
                  label="Código"
                  placeholder="Código de la factura"
                  required
                  :rules="[(v) => !!v || ' ']"
                ></v-text-field>
                <v-text-field
                  v-model="model2.nombre_fiscal"
                  label="Nombre Fiscal"
                  placeholder="Nombre Fiscal de la empresa"
                  required
                  :rules="[(v) => !!v || ' ']"
                ></v-text-field>
                <v-select
                  :items="tipo"
                  v-model="model2.tipo"
                  label="Tipo"
                  placeholder="Acreedor / Proveeedor"
                  :rules="[(v) => !!v || ' ']"
                ></v-select>
                <v-text-field
                  v-model="model2.NIF"
                  :counter="30"
                  label="NIF"
                  placeholder="Nif de la empresa"
                  required
                  :rules="[(v) => !!v || ' ']"
                ></v-text-field>
                <v-menu
                  ref="fecha_alta2"
                  v-model="fecha_alta2"
                  :close-on-content-click="false"
                  :return-value.sync="model2.fecha_alta"
                  transition="scale-transition"
                  offset-y
                  min-width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      v-model="model2.fecha_alta"
                      label="Fecha Alta"
                      readonly
                      v-on="on"
                      :rules="[(v) => !!v || '']"
                    ></v-text-field>
                  </template>
                  <v-date-picker
                    v-model="model2.fecha_alta"
                    no-title
                    scrollable
                  >
                    <v-spacer></v-spacer>
                    <v-btn text color="primary" @click="fecha_alta2 = false"
                      >Cancel</v-btn
                    >
                    <v-btn
                      text
                      color="primary"
                      @click="$refs.fecha_alta2.save(model2.fecha_alta)"
                      >OK</v-btn
                    >
                  </v-date-picker>
                </v-menu>
                <!-- <v-text-field
                  v-model="model2.fecha_alta"
                  :counter="30"
                  label="Fecha Alta"
                  placeholder="Fecha de alta de la empresa"
                  required
                  :rules="[v => !!v || ' ']"
                ></v-text-field>-->

                <h2 class="my-5">Direcciones y comunicaciones</h2>

                <v-text-field
                  v-model="model2.direccion"
                  label="Dirección"
                  placeholder="Dirección física"
                  required
                  :rules="[(v) => !!v || ' ']"
                ></v-text-field>
                <v-text-field
                  v-model="model2.cp"
                  label="Código Postal"
                  placeholder="Código Postal"
                  :rules="[(v) => !!v || ' ']"
                  required
                ></v-text-field>
                <v-text-field
                  v-model="model2.poblacion"
                  label="Población"
                  placeholder="Nombre de la población"
                  :rules="[(v) => !!v || ' ']"
                  required
                ></v-text-field>
                <v-text-field
                  v-model="model2.provincia"
                  label="Provincia"
                  placeholder="Provoncia"
                  :rules="[(v) => !!v || ' ']"
                  required
                ></v-text-field>
                <v-text-field
                  v-model="model2.pais"
                  label="País"
                  placeholder="País"
                  :rules="[(v) => !!v || ' ']"
                  required
                ></v-text-field>
                <v-text-field
                  v-model="model2.telefono_empresa"
                  label="Teléfono"
                  placeholder="Teléfono"
                  :rules="[(v) => !!v || ' ']"
                  required
                ></v-text-field>
                <v-text-field
                  v-model="model2.contacto"
                  label="Contacto"
                  placeholder="Persona de contacto"
                  :rules="[(v) => !!v || ' ']"
                  required
                ></v-text-field>
                <v-text-field
                  v-model="model2.email"
                  label="Email"
                  placeholder="Correo electrónico"
                  :rules="[(v) => !!v || ' ']"
                  required
                ></v-text-field>
                <v-text-field
                  v-model="model2.web_empresa"
                  label="Web"
                  placeholder="Web de la empresa"
                ></v-text-field>

                <!-- DATOS DE COBRO -->
                <h2 class="my-5">Datos de cobro / pago</h2>

                <!-- <v-select
                  :items="['Transferencia', 'Giro', 'Cash']"
                  v-model="model2.forma_pago"
                  label="Forma de pago"
                  placeholder="Forma de pago"
                  :rules="[v => !!v || ' ']"
                ></v-select>-->
                <v-text-field
                  v-model="model2.forma_pago"
                  label="Forma de pago"
                  placeholder="Transferencia, Giro, Cash..."
                  :rules="[(v) => !!v || ' ']"
                ></v-text-field>
                <!-- <v-text-field
                  v-model="model2.forma_pago"
                  label="Forma de pago"
                  :rules="[v => !!v || ' ']"
                  placeholder="Transferencia, cash ..."
                ></v-text-field>-->
                <v-text-field
                  v-model="model2.iban"
                  label="Número de cuenta / IBAN"
                  placeholder="XXXX-XXXX-XXXX-XXXX"
                  :rules="[(v) => !!v || ' ']"
                ></v-text-field>
                <v-text-field
                  v-model="model2.numero_vencimientos"
                  label="Vencimientos"
                  placeholder="Número de vencimientos / cuotas"
                  :rules="[(v) => !!v || ' ']"
                ></v-text-field>
                <v-text-field
                  v-model="model2.plazo_cobro"
                  label="Plazo de cobro"
                  placeholder="15, 30, 60, 90 días... "
                  :rules="[(v) => !!v || ' ']"
                ></v-text-field>
                <v-text-field
                  v-model="model2.dia_pago"
                  label="Día de pago"
                  placeholder="Día de pago"
                  :rules="[(v) => !!v || ' ']"
                ></v-text-field>
                <v-text-field
                  v-model="model2.SWIFT"
                  label="SWIFT"
                  placeholder="Número SWIFT"
                  :rules="[(v) => !!v || ' ']"
                ></v-text-field>
                <v-textarea
                  v-model="model2.observaciones"
                  label="Observaciones"
                  placeholder="Indicar aquí cualquier observación relativa al cliente"
                ></v-textarea>

                <div>
                  <v-spacer></v-spacer>
                  <v-btn
                    class="ma-2"
                    dark
                    color="primary"
                    small
                    @click="enviarProveedor()"
                    >Guardar Proveedor</v-btn
                  >
                </div>
              </v-form>
            </v-card>
          </v-tab-item>
        </v-tabs-items>
      </v-flex>

      <v-flex xs6 class="text-center mx-10"></v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import firebase from 'firebase'
import Buscador from '../components/Buscador'
export default {
  components: {
    Buscador
  },
  props: ['id'],
  data: () => {
    return {
      fecha_alta: false,
      fecha_alta2: false,
      tab: null,
      valid: true,
      lazy: false,
      tipo: ['Acreedor', 'Proveedor'],
      model: {},
      model2: {}
    }
  },
  methods: {
    enviarCliente() {
      if (this.$refs.form1.validate()) {
        if (this.id == 'crear') {
          firebase
            .database()
            .ref('contactos')
            .push(this.model)
            .then(() => {
              alert('Cliente añadido correctamente')
              this.$router.push('/contactos')
            })
        } else {
          firebase
            .database()
            .ref('contactos/' + this.id)
            .update(this.model)
            .then(() => {
              alert('Cliente actualizado correctamente')
              this.$router.push('/contactos')
            })
        }
      }
    },
    enviarProveedor() {
      if (this.$refs.form2.validate()) {
        if (this.id == 'crear') {
          firebase
            .database()
            .ref('contactos')
            .push(this.model2)
            .then(() => {
              alert('Proveedor añadido correctamente')
              this.$router.push('/contactos')
            })
        } else {
          firebase
            .database()
            .ref('contactos/' + this.id)
            .update(this.model2)
            .then(() => {
              alert('Proveedor actualizado correctamente')
              this.$router.push('/contactos')
            })
        }
      }
    }
  },
  created() {
    if (this.buscarContacto.tipo == 'Cliente') {
      this.tab = 'tab-1'
      this.model = this.buscarContacto
    } else {
      this.tab = 'tab-2'
      this.model2 = this.buscarContacto
    }
  },
  computed: {
    buscarContacto() {
      if (this.id == 'crear') return {}
      return Object.values(this.$store.getters.cogerContactos).find(
        (c) => c.id == this.id
      )
    },

    marcas() {
      return Object.values(this.$store.getters.cogerMarcas)
    }
  }
}
</script>

<style lang="css"></style>
