<template>
  <v-container fluido class="top">
    <v-form ref="facturaForm" lazy-validation v-model="valid">
      <p class="headline mb-4">Creación de Factura</p>
      <v-row>
        <v-col cols="8">
          <!-- CARD TIPO FACTURA -->
          <v-card class="px-5 py-3 mb-3">
            <v-row>
              <v-card-text>
                El tipo seleccionado es
                <b>{{ tipo.toUpperCase() }}</b>
              </v-card-text>
              <v-card-actions>
                <v-btn color="primary" @click="tipo = 'cliente'">CLIENTE</v-btn>
                <v-btn color="secondary" @click="tipo = 'proveedor'"
                  >Proveedor</v-btn
                >
                <v-btn color="accent" @click="tipo = 'gasto'">Gasto</v-btn>
              </v-card-actions>
            </v-row>
          </v-card>
          <hr />

          <!-- CARD DATOS FACTURA -->
          <v-card width="100%" class="px-5 py-3">
            <v-row>
              <v-flex xs4>
                <v-select
                  v-if="tipo == 'cliente'"
                  :items="contactos"
                  item-text="nombre_fiscal"
                  item-value="id"
                  v-model="factura.cliente"
                  label="Cliente"
                  :rules="[(v) => !!v || '']"
                  required
                ></v-select>
                <v-select
                  v-if="tipo == 'proveedor'"
                  :items="proveedores"
                  item-text="nombre_fiscal"
                  item-value="id"
                  v-model="factura.cliente"
                  label="Proveedor"
                  :rules="[(v) => !!v || '']"
                  required
                ></v-select>
              </v-flex>
            </v-row>
            <v-row>
              <v-flex xs4 class="mr-4">
                <v-text-field
                  v-model="factura.numero"
                  label="Numero de Factura"
                  required
                  :rules="[(v) => !!v || '']"
                ></v-text-field>
              </v-flex>
              <v-flex xs3 class="mr-4" v-if="tipo != 'proveedor'">
                <v-text-field
                  v-model="factura.pedido"
                  label="Numero de pedido"
                  required
                  :rules="[(v) => !!v || '']"
                ></v-text-field>
              </v-flex>
              <v-flex xs3 class="mr-4">
                <v-text-field
                  v-model="factura.ref"
                  label="Referencia Interna"
                  required
                  :rules="[(v) => !!v || '']"
                ></v-text-field>
              </v-flex>
            </v-row>
            <v-row>
              <v-flex xs2 class="mr-4">
                <v-menu
                  ref="fecha"
                  v-model="fecha"
                  :close-on-content-click="false"
                  :return-value.sync="factura.fecha"
                  transition="scale-transition"
                  offset-y
                  min-width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      v-model="factura.fecha"
                      label="Fecha"
                      readonly
                      v-on="on"
                      :rules="[(v) => !!v || '']"
                    ></v-text-field>
                  </template>
                  <v-date-picker
                    :first-day-of-week="1"
                    v-model="factura.fecha"
                    no-title
                    scrollable
                    locale="es-ES"
                  >
                    <v-spacer></v-spacer>
                    <v-btn text color="primary" @click="fecha = false"
                      >Cancel</v-btn
                    >
                    <v-btn
                      text
                      color="primary"
                      @click="$refs.fecha.save(factura.fecha)"
                      >OK</v-btn
                    >
                  </v-date-picker>
                </v-menu>
                <!-- <v-text-field
                  v-model="factura.fecha"
                  label="Fecha"
                  required
                  :rules="[v => !!v || '']"
                ></v-text-field>-->
              </v-flex>

              <v-flex xs2 class="mr-4">
                <v-text-field
                  v-model="factura.vencimiento"
                  label="Fecha Vencimiento"
                  readonly
                  :rules="[
                    (v) =>
                      (!!v && v != 'Faltan datos') ||
                      'Comprueba que el cliente tenga los datos necesarios'
                  ]"
                ></v-text-field>
              </v-flex>
              <!-- <v-flex xs2 class="mr-4">
                <v-menu
                  ref="vencimiento"
                  v-model="vencimiento"
                  :close-on-content-click="false"
                  :return-value.sync="factura.vencimiento"
                  transition="scale-transition"
                  offset-y
                  min-width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      v-model="factura.vencimiento"
                      label="Fecha Vencimiento"
                      readonly
                      v-on="on"
                      :rules="[v => !!v || '']"
                    ></v-text-field>
                  </template>
                  <v-date-picker
                    v-model="factura.vencimiento"
                    no-title
                    scrollable
                  >
                    <v-spacer></v-spacer>
                    <v-btn text color="primary" @click="vencimiento = false"
                      >Cancel</v-btn
                    >
                    <v-btn
                      text
                      color="primary"
                      @click="$refs.vencimiento.save(factura.vencimiento)"
                      >OK</v-btn
                    >
                  </v-date-picker>
                </v-menu>

              </v-flex>-->
            </v-row>
            <v-row>
              <v-flex xs4 class="mr-4">
                <v-text-field
                  v-model="factura.total"
                  label="Total Base"
                  required
                  @blur="(e) => moneda(e)"
                  :rules="[
                    (v) =>
                      (!!v && !v.includes(',')) ||
                      'El separador de decimales debe ser un punto (.)'
                  ]"
                ></v-text-field>
              </v-flex>
              <!-- <v-flex xs4 class="mr-4">
                <vue-numeric
                  class="v-input v-text-field__slot"
                  currency="€"
                  separator="."
                  v-bind:precision="2"
                  v-model="factura.test"
                ></vue-numeric>
              </v-flex>-->
            </v-row>
          </v-card>

          <!-- CARD ORDEN DE COMPRA  -->
          <p class="headline my-4" v-if="tipo == 'cliente'">Orden de compra</p>
          <v-card width="100%" class="px-5 py-3 mt-3" v-if="tipo == 'cliente'">
            <v-row>
              <v-flex xs2 class="mr-4">
                <v-text-field
                  v-model="factura.orden_numero"
                  label="Número"
                  required
                ></v-text-field>
              </v-flex>
              <v-flex xs2 class="mr-4">
                <v-menu
                  ref="orden_fecha"
                  v-model="orden_fecha"
                  :close-on-content-click="false"
                  :return-value.sync="factura.orden_fecha"
                  transition="scale-transition"
                  offset-y
                  min-width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      v-model="factura.orden_fecha"
                      label="Fecha"
                      readonly
                      v-on="on"
                      :rules="[(v) => !!v || '']"
                    ></v-text-field>
                  </template>
                  <v-date-picker
                    :first-day-of-week="1"
                    v-model="factura.orden_fecha"
                    no-title
                    scrollable
                  >
                    <v-spacer></v-spacer>
                    <v-btn text color="primary" @click="orden_fecha = false"
                      >Cancel</v-btn
                    >
                    <v-btn
                      text
                      color="primary"
                      @click="$refs.orden_fecha.save(factura.orden_fecha)"
                      >OK</v-btn
                    >
                  </v-date-picker>
                </v-menu>
                <!-- <v-text-field
                  v-model="factura.orden_fecha"
                  label="Fecha"
                  required
                  :rules="[v => !!v || '']"
                ></v-text-field>-->
              </v-flex>
              <v-flex xs2 class="mr-4">
                <v-text-field
                  v-model="factura.orden_mail"
                  label="E-mail"
                  required
                  :rules="[(v) => !!v || '']"
                ></v-text-field>
              </v-flex>
              <v-flex xs2 class="mr-4">
                <v-text-field
                  v-model="factura.orden_solicitante"
                  label="Solicitante"
                  required
                  :rules="[(v) => !!v || '']"
                ></v-text-field>
              </v-flex>
            </v-row>
          </v-card>

          <!-- CARD DATOS DE COBRO -->
          <p class="headline my-4" v-if="tipo != 'gasto'">
            Forma de Cobro / Pago
            <span class="overline" v-if="clienteElegido">
              (solo editable desde la ficha de cliente
              <v-btn
                icon
                small
                color="primary"
                :to="'/crearCliente/' + clienteElegido.id"
                >aquí</v-btn
              >)
            </span>
          </p>
          <v-card width="100%" class="px-5 py-3 mt-3" v-if="tipo != 'gasto'">
            <v-row v-if="!clienteElegido" class="caption d-flex justify-center"
              >Datos autocompletados al elegir Cliente</v-row
            >
            <v-row v-else>
              <v-flex xs5 class="pr-4">
                <v-text-field
                  v-model="clienteElegido.forma_pago"
                  label="Forma de pago"
                  disabled
                ></v-text-field>
              </v-flex>
              <v-flex xs7>
                <v-text-field
                  v-model="clienteElegido.iban"
                  label="Número de cuenta / IBAN"
                  disabled
                ></v-text-field>
              </v-flex>
              <v-flex xs5 class="pr-4">
                <v-text-field
                  v-model="clienteElegido.numero_vencimientos"
                  label="Vencimientos"
                  disabled
                ></v-text-field>
              </v-flex>
              <v-flex xs7>
                <v-text-field
                  v-model="clienteElegido.SWIFT"
                  label="SWIFT"
                  disabled
                ></v-text-field>
              </v-flex>
              <v-flex xs12>
                <v-textarea
                  v-model="clienteElegido.observaciones"
                  label="Observaciones"
                  disabled
                ></v-textarea>
              </v-flex>
            </v-row>
          </v-card>

          <!-- CARD GASTOS -->
          <div class="my-4 d-flex align-center">
            <span class="headline mr-12">Gastos</span>
            <v-btn small color="primary" @click="dialog = true"
              >Añadir Gasto</v-btn
            >
          </div>
          <v-card width="100%" class="px-5 py-3 mt-3">
            <v-row
              v-if="!this.detalles.length"
              class="caption d-flex justify-center"
              >No hay gastos asociados en la factura</v-row
            >

            <v-data-table
              dense
              v-else
              :headers="headers"
              :items="gastos"
              hide-default-footer
              item-key="id"
              loading-text="Esperando Gastos..."
              no-data-text="No hay gastos asociados"
            >
              <template v-slot:item.proyecto="{ item }">
                <span>{{ buscarProyecto(item.proyecto) }}</span>
              </template>
              <template v-slot:item.importe="{ item }"
                >{{ item.importe }}€</template
              >
              <template v-slot:item.borrar="{ item }">
                <v-btn icon @click="editarDetalle(item)">
                  <v-icon color="secondary">mdi-pencil</v-icon>
                </v-btn>
                <v-btn icon @click="borrarDetalle(item)">
                  <v-icon color="primary">mdi-delete</v-icon>
                </v-btn>
              </template>
            </v-data-table>
          </v-card>

          <!-- CARD TOTALES -->
          <p class="headline my-4">
            Totales Según Iva
            <small>(Ordenados de menor a mayor %)</small>
          </p>
          <v-card width="100%" class="px-5 py-3 mt-3" v-if="tiposIva.length">
            <v-row v-for="item in tiposIva" :key="item.iva">
              <v-flex xs2 class="mr-4">
                <v-text-field
                  :value="
                    item.base.toLocaleString('es-ES', {
                      style: 'currency',
                      currency: 'EUR'
                    })
                  "
                  label="Base Imponible"
                  readonly
                ></v-text-field>
              </v-flex>
              <v-flex xs2 class="mr-4">
                <v-text-field
                  :value="item.iva"
                  label="Iva %"
                  readonly
                ></v-text-field>
              </v-flex>
              <v-flex xs2 class="mr-4">
                <v-text-field
                  :value="
                    item.total.toLocaleString('es-ES', {
                      style: 'currency',
                      currency: 'EUR'
                    })
                  "
                  label="Total"
                  readonly
                ></v-text-field>
              </v-flex>
            </v-row>

            <!-- <v-row>
              <v-flex xs2 class="mr-4">
                <v-text-field
                  v-model="factura.total_base"
                  label="Base Imponible"
                  required
                  :rules="[v => !!v || '']"
                  type="number"
                  placeholder="1.00"
                  step="0.01"
                  min="0"
                  max="1000000000"
                  append-icon="mdi-currency-eur"
                ></v-text-field>
              </v-flex>
              <v-flex xs1 class="mr-4">
                <v-text-field
                  v-model="factura.total_iva"
                  label="Iva"
                  required
                  append-icon="mdi-percent-outline"
                  :rules="[v => !!v || '']"
                ></v-text-field>
              </v-flex>
              <v-flex xs1 class="mr-4">
                <v-text-field
                  :value="(factura.total_base * factura.total_iva) / 100"
                  readonly
                  disabled
                  append-icon="mdi-currency-eur"
                  label="Iva"
                  required
                  :rules="[v => !!v || '']"
                ></v-text-field>
              </v-flex>
              <v-flex xs1 class="mr-4">
                <v-text-field
                  v-model="factura.total_recargo"
                  label="IRPF"
                  append-icon="mdi-percent-outline"
                  required
                  :rules="[v => !!v || '']"
                ></v-text-field>
              </v-flex>
              <v-flex xs1 class="mr-4">
                <v-text-field
                  :value="(factura.total_base * factura.total_recargo) / 100"
                  readonly
                  disabled
                  append-icon="mdi-currency-eur"
                  label="IRPF"
                  required
                  :rules="[v => !!v || '']"
                ></v-text-field>
              </v-flex>
              <v-flex xs1 class="mr-4">
                <v-text-field
                  v-model="factura.totales_subtotales"
                  label="Dias"
                  required
                  :rules="[v => !!v || '']"
                ></v-text-field>
              </v-flex>
              <v-flex xs2 class="mr-4">
                <v-text-field
                  v-model="factura.totales_total"
                  readonly
                  append-icon="mdi-currency-eur"
                  label="Total"
                  required
                  :rules="[v => !!v || '']"
                ></v-text-field>
              </v-flex>
            </v-row>-->
          </v-card>
          <p class="headline my-4">Doble Check</p>
          <v-card width="100%" class="px-5 py-3 mt-3">
            <v-row>
              <v-flex xs2 class="mr-4">
                <v-text-field
                  :value="
                    Number(factura.total).toLocaleString('es-ES', {
                      style: 'currency',
                      currency: 'EUR'
                    })
                  "
                  label="Total Inicial"
                  readonly
                  append-icon="mdi-currency-eur"
                ></v-text-field>
                <v-text-field
                  v-if="tiposIva.length"
                  :value="
                    totalesParciales.toLocaleString('es-ES', {
                      style: 'currency',
                      currency: 'EUR'
                    })
                  "
                  :class="{
                    textoRojo: !totalesIguales,
                    textoVerde: totalesIguales
                  }"
                  label="Total Gastos"
                  readonly
                  append-icon="mdi-currency-eur"
                ></v-text-field>
              </v-flex>
            </v-row>
          </v-card>
        </v-col>

        <!-- COLUMNA IMAGEN -->
        <v-col cols="4">
          <v-card height="100%" class="px-5 py-3">
            <v-flex xs12 class="mr-4">
              <v-file-input
                v-model="factura.file"
                @change="preview"
                show-size
                label="File input"
              ></v-file-input>
            </v-flex>
            <v-flex height="200px" xs12 class="mr-4">
              <v-img v-if="factura.imagen" cover :src="factura.imagen"></v-img>
              <v-img v-else src="https://imgur.com/dMIlTsq.png"></v-img>
            </v-flex>
          </v-card>
        </v-col>
      </v-row>

      <!-- GASTOS -->
      <v-dialog v-model="dialog" transition="dialog-transition" width="60%">
        <v-card class="px-5 py-3 mt-3">
          <v-card-title>Añadir detalle</v-card-title>
          <v-form ref="detalle" v-model="detalleValid">
            <v-row wrap>
              <v-flex xs6 class="pr-3">
                <v-select
                  :items="proyectos"
                  item-text="nombre_detallado"
                  item-value="id"
                  v-model="detalle.proyecto"
                  label="Proyecto"
                  no-data-text="No hay proyectos disponibles"
                  :rules="[(v) => !!v || '']"
                ></v-select>
              </v-flex>
              <v-flex xs6 class="pr-3">
                <v-select
                  :items="campos"
                  v-model="detalle.tp"
                  label="TP"
                  :rules="[(v) => !!v || '']"
                ></v-select>
              </v-flex>
              <v-flex xs2 class="pr-3">
                <v-text-field
                  v-model="detalle.importe"
                  label="Importe"
                  required
                  @blur="(e) => moneda(e)"
                  :rules="[
                    (v) =>
                      (!!v && !v.includes(',')) ||
                      'El separador de decimales debe ser un punto (.)'
                  ]"
                ></v-text-field>
              </v-flex>
              <v-flex xs2 class="pr-3">
                <v-text-field
                  v-model="detalle.iva"
                  label="Iva %"
                  append-icon="mdi-percent-outline"
                  required
                  :rules="[(v) => !!v || '']"
                ></v-text-field>
              </v-flex>
              <v-flex xs2 class="pr-3">
                <v-text-field
                  :value="
                    Number(
                      Number(detalle.importe) +
                        Number(detalle.importe * detalle.iva) / 100
                    ).toLocaleString('es-ES', {
                      style: 'currency',
                      currency: 'EUR'
                    }) || 0
                  "
                  label="Total"
                  required
                  readonly
                ></v-text-field>
              </v-flex>
              <v-flex xs6 class="pr-3">
                <v-text-field
                  v-model="detalle.concepto"
                  readonly
                  label="Concepto"
                  required
                  :rules="[(v) => !!v || '']"
                ></v-text-field>
              </v-flex>
              <v-flex xs12 class="pr-3">
                <v-text-field
                  v-model="detalle.descripcion"
                  label="Descripción"
                  required
                ></v-text-field>
              </v-flex>
            </v-row>
            <v-row wrap class="justify-center">
              <v-btn block color="primary" @click="guardarDetalle()"
                >Guardar detalle</v-btn
              >
            </v-row>
          </v-form>
        </v-card>
      </v-dialog>

      <v-layout row wrap class="justify-center mt-12">
        <v-btn v-if="id == 'test'" color="primary" @click="guardarFactura()"
          >Guardar Factura</v-btn
        >
        <v-btn v-else color="primary" @click="actualizarFactura()"
          >Actualizar Factura</v-btn
        >
      </v-layout>
    </v-form>
  </v-container>
</template>

<script>
import firebase from 'firebase'
import { mapState } from 'vuex'
import { VMoney } from 'v-money'
import Prueba from '../components/Prueba'

export default {
  props: ['id'],
  components: {
    Prueba
  },
  data() {
    return {
      tipo: 'cliente',
      fecha: false,
      vencimiento: false,
      orden_fecha: false,
      valid: true,
      dialog: false,
      dialogTP: false,
      detalles: [],
      detalle: {},
      detalleIndex: -1,
      factura: {},
      cliente: '',
      proveedor: '',
      proyecto: '',
      marca: {},
      detalleValid: false,
      headers: [
        { text: 'Proyecto', value: 'proyecto' },
        { text: 'TP', value: 'tp' },
        { text: 'Importe', value: 'importe' },
        { text: 'Iva %', value: 'iva' },
        // { text: 'Concepto', value: 'concepto' },
        { text: 'Descripción', value: 'descripcion' },
        { text: '', value: 'borrar' }
      ],
      money: {
        'decimal-separator': ',',
        separator: '.',
        currency: '€',
        precision: 2,
        'output-type': 'Number'
      }
    }
  },
  watch: {
    totalFactura(val) {
      this.factura.totales_total =
        Number(this.factura.total_base) +
        Number((this.factura.total_base * this.factura.total_iva) / 100) -
        Number((this.factura.total_base * this.factura.total_recargo) / 100)
    },
    detalleCampo(val) {
      if (this.detalle.tp) {
        this.detalle.concepto = this.detalleCampos.find(
          (d) => d.key == val
        ).value
      }
    },
    fechaInicial() {
      this.factura.vencimiento = this.fechaVencimiento
    },
    clienteElegido() {
      this.factura.vencimiento = this.fechaVencimiento
    }
  },

  methods: {
    moneda(e) {
      const cleanValue = e.target.value.replace(',', '.')
      e.target.value = Number(cleanValue).toLocaleString('es-ES', {
        style: 'currency',
        currency: 'EUR'
      })
    },
    preview(e) {
      if (e) this.factura.imagen = URL.createObjectURL(e)
      else this.factura.imagen = null
    },
    buscarProyecto(id) {
      return this.proyectos.find((p) => p.id == id).nombre
    },
    async guardarFactura() {
      this.factura.tipo = this.tipo
      if (this.$refs.facturaForm.validate()) {
        if (!this.detalles.length) {
          this.factura.detalles = 0
        } else {
          this.factura.detalles = this.detalles
        }

        if (this.factura.file) {
          const storage = await firebase
            .storage()
            .ref('muebles')
            .child(this.factura.numero + '.png')
          const image = await storage.put(this.factura.file)
          const url = storage
            .getDownloadURL()
            .then((url) => {
              // this.factura.detalles = this.detalles;
              this.factura.imagen = url
              firebase
                .database()
                .ref('facturas')
                .push(this.factura)
                .then((e) => {
                  alert('Factura con imagen añadida')
                  this.$router.push('/facturas')
                })
            })
            .catch((err) => console.log(err))
        } else {
          // this.factura.detalles = this.detalles;
          firebase
            .database()
            .ref('facturas')
            .push(this.factura)
            .then((e) => {
              alert('Factura añadida')
              this.$router.push('/facturas')
            })
        }
      }
    },
    async actualizarFactura() {
      this.factura.tipo = this.tipo
      if (this.$refs.facturaForm.validate()) {
        if (this.factura.file) {
          const storage = await firebase
            .storage()
            .ref('muebles')
            .child(this.factura.numero + '.png')
          const image = await storage.put(this.factura.file)
          const url = storage
            .getDownloadURL()
            .then((url) => {
              this.factura.detalles = this.detalles
              this.factura.imagen = url
              firebase
                .database()
                .ref('facturas/' + this.id)
                .update(this.factura)
                .then((e) => {
                  alert('Factura con imagen actualizada')
                  this.$router.push('/facturas')
                })
            })
            .catch((err) => console.log(err))
        } else {
          this.factura.detalles = this.detalles
          firebase
            .database()
            .ref('facturas/' + this.id)
            .update(this.factura)
            .then((e) => {
              alert('Factura actualizada')
              this.$router.push('/facturas')
            })
        }
      }
    },
    cerrar() {
      this.detalle = {}
      this.detalleIndex = -1
      this.dialog = false
    },
    editarDetalle(detalle) {
      this.detalleIndex = this.detalles.indexOf(detalle)
      this.detalle = Object.assign({}, detalle)
      this.dialog = true
    },
    borrarDetalle(item) {
      const index = this.detalles.indexOf(item)
      confirm('¿Estás seguro de borrar este Gasto de la factura?') &&
        this.detalles.splice(index, 1)
    },
    guardarDetalle() {
      if (this.detalleIndex > -1) {
        Object.assign(this.detalles[this.detalleIndex], this.detalle)
      } else {
        this.detalles.push(this.detalle)
      }
      this.cerrar()
    }
  },
  created() {
    if (this.id != 'test') {
      this.factura = this.facturas.find((f) => f.id == this.id)
      if (this.factura.detalles == 0 || !this.factura.detalles) {
        this.detalles = []
      } else {
        this.detalles = this.factura.detalles
      }
      this.tipo = this.factura.tipo
    }
  },
  updated() {
    // this.factura.cliente = this.cliente;
    // this.factura.proyecto = this.proyecto;
    // this.factura.proveedor = this.proveedor;
    // this.factura.detalles = this.detalles;
    // this.factura.total = this.total;
  },
  computed: {
    ...mapState(['campos', 'detalleCampos']),
    fechaInicial() {
      return this.factura.fecha
    },
    fechaVencimiento() {
      if (
        this.clienteElegido &&
        this.factura.fecha &&
        this.clienteElegido.dia_pago &&
        this.clienteElegido.plazo_cobro
      ) {
        // let fechaInicial = new Date(this.factura.fecha);
        const diaPago = Number(this.clienteElegido.dia_pago)
        const plazoCobro = Number(this.clienteElegido.plazo_cobro)

        const fechaFinal = new Date(
          new Date(this.factura.fecha).setDate(
            new Date(this.factura.fecha).getDate() + plazoCobro
          )
        )

        const diaFinal = fechaFinal.getDate()

        if (diaFinal < diaPago) {
          return new Date(
            fechaFinal.getFullYear(),
            fechaFinal.getMonth(),
            diaPago + 1
          )
            .toISOString()
            .substr(0, 10)
        } else {
          return new Date(
            fechaFinal.getFullYear(),
            fechaFinal.getMonth() + 1,
            diaPago + 1
          )
            .toISOString()
            .substr(0, 10)
        }
      } else {
        return 'Faltan datos'
      }
    },
    tiposIva() {
      if (this.detalles.length) {
        const diferentesIva = [...new Set(this.detalles.map((d) => d.iva))]
        const totals = []
        diferentesIva.forEach((iva) => {
          const obj = {}
          obj.iva = Number(iva)
          obj.base = this.detalles
            .filter((d) => d.iva == iva)
            .map((d) => Number(d.importe))
            .reduce((a, b) => a + b)
          obj.total = obj.base + (obj.base * Number(iva)) / 100
          totals.push(obj)
        })

        return totals.sort((a, b) => Number(a.iva) - Number(b.iva))
      } else {
        return []
      }
    },
    totalesParciales() {
      return this.tiposIva.map((i) => i.base).reduce((a, b) => a + b)
    },
    totalesIguales() {
      return (
        Number(this.factura.total).toFixed(2) ==
        this.totalesParciales.toFixed(2)
      )
    },
    totalFactura() {
      return (
        this.factura.total_base +
        this.factura.total_iva +
        this.factura.total_recargo
      )
    },
    total() {
      if (this.detalles.length) {
        return this.detalles
          .map((d) => Number(d.importe))
          .reduce((a, b) => a + b)
      }
      return 0
    },
    detalleCampo() {
      return this.detalle.tp
    },
    contactos() {
      return Object.values(this.$store.getters.cogerContactos)
    },
    proyectos() {
      return Object.values(this.$store.getters.cogerProyectos).map((p) => {
        return { ...p, nombre_detallado: p.referencia + ' - ' + p.nombre }
      })
      // .filter(
      //   p =>
      //     p.detalle.cliente.info.nombre_fiscal ==
      //     this.cliente.info.nombre_fiscal
      // );
    },
    facturas() {
      return Object.values(this.$store.getters.cogerFacturas)
    },
    proveedores() {
      return this.contactos.filter((c) => c.tipo == 'Proveedor')
    },
    marcas() {
      return Object.values(this.$store.getters.cogerMarcas)
    },
    clienteElegido() {
      return this.contactos.find((c) => c.id == this.factura.cliente)
    },
    gastos() {
      return this.detalles
    }
  }
}
</script>

<style>
.textoRojo input {
  color: red !important;
}
.textoVerde input {
  color: green !important;
}
/* 
.v-data-table td {
  font-size: 12px;
} */
</style>
