<template>
  <v-container class="top">
    <v-row class="mt-5">
      <v-col cols="12">
        <span class="title mb-4">Crear Proyecto</span>
      </v-col>
    </v-row>
    <v-layout child-flex>
      <v-form ref="form" v-model="valid" lazy-validation>
        <v-card class="mx-auto pa-3">
          <v-layout>
            <v-flex xs4>
              <span class="title">Detalles</span>
              <v-select
                class="mt-10"
                value="Activo"
                :items="['Activo', 'Cerrado', 'Borrador', 'Estructura']"
                v-model="proyecto.estado"
                label="Estado"
                hint="Por defecto será Activo"
                persistent-hint
                :rules="[(v) => !!v || ' ']"
              ></v-select>
              <v-text-field
                class="mt-3"
                v-model="proyecto.nombre"
                :rules="[(v) => !!v || ' ']"
                label="Nombre de Proyecto"
                required
              ></v-text-field>

              <v-text-field
                class="mt-3"
                v-model="proyecto.referencia"
                :rules="referenciaUnica"
                label="Referencia Interna"
                required
              ></v-text-field>

              <v-autocomplete
                :items="contactos"
                item-text="nombre_fiscal"
                item-value="id"
                :rules="[(v) => !!v || ' ']"
                v-model="proyecto.cliente"
                label="Cliente"
              ></v-autocomplete>
              <v-autocomplete
                :items="marcas"
                item-text="nombre"
                item-value="id"
                :rules="[(v) => !!v || ' ']"
                v-model="proyecto.marca"
                label="Marca"
                :disabled="!proyecto.cliente"
                no-data-text="Este cliente no tiene marcas asociadas"
              ></v-autocomplete>
              <v-dialog
                ref="dialog"
                v-model="modal"
                :rules="[(v) => !!v || ' ']"
                :return-value.sync="proyecto.fechaAlta"
                persistent
                width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    v-model="proyecto.fechaAlta"
                    label="Fecha de inicio"
                    :rules="[(v) => !!v || ' ']"
                    readonly
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-date-picker
                  v-model="proyecto.fechaAlta"
                  :first-day-of-week="1"
                >
                  <v-spacer></v-spacer>
                  <v-btn text color="secondary" @click="modal = false"
                    >Cancel</v-btn
                  >
                  <v-btn
                    text
                    color="primary"
                    @click="$refs.dialog.save(proyecto.fechaAlta)"
                    >OK</v-btn
                  >
                </v-date-picker>
              </v-dialog>
            </v-flex>

            <v-flex xs8 class="mx-4">
              <span class="title">
                Fases
                <v-btn
                  class="ma-2"
                  dark
                  color="primary"
                  small
                  @click="dialogFase = true"
                  >Añadir Fase</v-btn
                >
              </span>

              <v-data-table
                :headers="headers"
                :items="proyecto.timeline.procesos"
                class="mt-3"
                hide-default-footer
                no-data-text="Proyecto sin fases"
              >
                <template v-slot:item.editar="{ item }">
                  <v-btn x-small color="primary" @click="editarFase(item)">
                    <v-icon small>mdi-pencil</v-icon>
                  </v-btn>
                  <v-btn x-small color="error" @click="eliminarProceso(item)">
                    <v-icon small>mdi-delete</v-icon>
                  </v-btn>
                </template>
                <template v-slot:item.responsable="{ item }">
                  {{ responsablePorId(item.responsable) }}
                </template>
              </v-data-table>
            </v-flex>
          </v-layout>
        </v-card>
        <v-layout row class="justify-center text-center">
          <v-flex xs10>
            <v-btn
              class="ma-2"
              dark
              color="primary"
              small
              @click="enviarProyecto()"
              >Guardar Proyecto</v-btn
            >
          </v-flex>
        </v-layout>
      </v-form>
    </v-layout>

    <!-- DIALOG FASE -->
    <v-dialog
      v-model="dialogFase"
      max-width="60%"
      transition="scale-transition"
    >
      <v-card class="pb-4">
        <!-- <v-toolbar color="primary">Crear Proceso</v-toolbar> -->
        <v-layout row wrap>
          <v-flex xs12 sm5 class="mt-3 d-flex justify-space-around">
            <v-date-picker
              :first-day-of-week="1"
              color="primary"
              v-model="dates"
              scrollable
              range
              locale="es"
            ></v-date-picker>
          </v-flex>
          <v-flex xs12 sm5>
            <v-layout row wrap class="pa-5 justify-center align-center">
              <v-flex xs12 class="px-3">
                <v-form ref="formCrearProceso" lazy-validation>
                  <v-select
                    v-model="proceso.nombre"
                    :items="fasesProcesos"
                    label="Proceso"
                    :rules="[(v) => !!v || ' ']"
                    required
                  ></v-select>
                  <v-layout row wrap class="px-3">
                    <v-flex xs6 class="pr-2">
                      <v-text-field
                        v-model="sortedDates[0]"
                        label="Inicio Fase"
                        readonly
                        required
                        :rules="[(v) => !!v || ' ']"
                      ></v-text-field>
                    </v-flex>
                    <v-flex xs6 class="pl-2">
                      <v-text-field
                        v-model="sortedDates[1]"
                        label="Fin Fase"
                        readonly
                        required
                        :rules="[(v) => !!v || ' ']"
                      ></v-text-field>
                    </v-flex>
                  </v-layout>
                  <v-layout row wrap class="px-3">
                    <v-flex xs6 class="pr-2">
                      <v-select
                        v-model="proceso.responsable"
                        :items="empleados"
                        item-text="nombre"
                        item-value="id"
                        label="Responsable"
                        required
                        :rules="[(v) => !!v || ' ']"
                      ></v-select>
                    </v-flex>
                    <v-flex xs6 class="pl-2">
                      <v-text-field
                        v-model="proceso.horas"
                        label="Horas"
                        required
                        :rules="[(v) => !!v || ' ']"
                      ></v-text-field>
                    </v-flex>
                    <v-flex xs12 class="justify-center text-center mt-8">
                      <!-- <v-btn class="mb-8" small color="red" @click="dialogFase = false">Finalizar</v-btn> -->
                      <v-btn small color="primary" @click="addProceso()"
                        >Guardar Proceso</v-btn
                      >
                    </v-flex>
                  </v-layout>
                </v-form>
              </v-flex>
            </v-layout>
          </v-flex>
        </v-layout>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import Proyecto from "../components/Proyecto";
import CrearFase from "../components/CrearFase";
import Buscador from "../components/Buscador";
import firebase from "firebase";
import { mapState } from "vuex";
export default {
  components: { CrearFase },
  data() {
    return {
      currentFase: null,
      headers: [
        { text: "Nombre", value: "nombre" },
        { text: "Inicio", value: "inicio" },
        { text: "Fin", value: "fin" },
        { text: "Responsable", value: "responsable" },
        { text: "Horas", value: "horas" },
        { text: "Editar", value: "editar" },
      ],
      proyectos: [],
      nameRules: [(v) => !!v || "Name is required"],
      modal: false,
      advice: false,
      valid: true,
      proyecto: {
        nombre: "",
        fechaAlta: new Date().toISOString().substr(0, 10),
        timeline: {
          procesos: [],
        },
      },
      dialogFase: false,
      dates: [],
      departamentos: [
        "Presupuesto",
        "Diseño",
        "Producción",
        "Taller",
        "Administración",
        "Instalación",
      ],
      fases: [
        "Presupuesto",
        "Diseño - Propuesta",
        "Diseño - Planos técnicos",
        "Producción",
        "Taller",
        "Instalación",
        "Facturación",
        "Cobro",
      ],
      fases2: {
        Presupuesto: ["Presupuesto"],
        Diseño: ["Diseño - Propuesta", "Diseño - Planos técnicos"],
        Producción: ["Producción"],
        Taller: ["Taller"],
        Instalación: ["Instalación"],
        Administración: ["Facturación", "Cobro"],
      },
      proceso: {
        nombre: "",
        inicio: new Date().toISOString().substr(0, 10),
        fin: new Date().toISOString().substr(0, 10),
        responsable: "",
        horas: "",
        incidencia: false,
        incidencias: [],
        activo: false,
      },
    };
  },
  methods: {
    responsablePorId(id) {
      return this.empleados.find((empleado) => empleado.id === id)?.nombre;
    },
    editarFase(item) {
      this.currentFase = item;
      this.proceso = {
        nombre: item.nombre,
        inicio: item.inicio,
        fin: item.fin,
        horas: item.horas,
        responsable: item.responsable,
      };

      this.dialogFase = true;
    },
    addProceso() {
      if (this.$refs.formCrearProceso.validate()) {
        this.proceso.inicio = this.sortedDates[0];
        this.proceso.fin = this.sortedDates[1];
        if (this.currentFase) {
          this.proyecto.timeline.procesos.splice(
            this.proyecto.timeline.procesos.indexOf(this.currentFase),
            1
          );
        }
        console.log(
          new Date(this.proceso.inicio) < new Date(),
          new Date() < new Date(this.proceso.fin)
        );
        if (
          new Date(this.proceso.inicio) < new Date() &&
          new Date() < new Date(this.proceso.fin)
        ) {
          this.proceso.activo = true;
        }
        this.proyecto.timeline.procesos.push(this.proceso);
        this.dialogFase = false;
        this.currentFase = null;
        this.cleanProceso();
      }
    },
    eliminarProceso(item) {
      this.proyecto.timeline.procesos.splice(
        this.proyecto.timeline.procesos.indexOf(item),
        1
      );
    },
    cleanProceso() {
      const proceso = {
        nombre: "",
        activo: false,
        inicio: "",
        fin: "",
        responsable: "",
        horas: "",
        incidencia: false,
        incidencias: [],
      };
      this.proceso = proceso;
    },

    removeProceso(index) {
      this.proyecto.timeline.procesos.splice(index, 1);
    },
    enviarProyecto() {
      // if (this.proyecto.timeline.procesos.length == 0) {
      //   alert("Añada una fase al proyecto");
      //   return;
      // }
      if (this.$refs.form.validate()) {
        firebase
          .database()
          .ref("proyectos")
          .push(this.proyecto)
          .then(() => {
            alert("Proyecto añadido correctamente");
            this.$router.push("/proyectos");
          });
      } else {
        alert("Algún campo no está bien...");
      }
    },
  },
  computed: {
    ...mapState(["empleados"]),
    sortedDates() {
      return this.dates.sort();
    },
    todosEmpleados() {},
    fasesProcesos() {
      return Object.values(this.fases2).flat();
    },
    empleadosPorDep() {
      return Object.values(this.$store.getters.cogerEmpleados).filter((e) => {
        let departamento;
        for (const fase in this.fases2) {
          if (this.fases2[fase].includes(this.proceso.nombre)) {
            departamento = fase;
          }
        }
        return departamento == e.departamento;
      });
    },
    contactos() {
      return Object.values(this.$store.getters.cogerContactos)
        .sort((a, b) =>
          a.nombre_fiscal.toLowerCase() > b.nombre_fiscal.toLowerCase() ? 1 : -1
        )
        .filter((c) => c.tipo == "Cliente");
    },
    marcas() {
      return Object.values(this.$store.getters.cogerMarcas).filter(
        (m) => m.cliente == this.proyecto.cliente
      );
    },
    referenciaUnica() {
      const referencias = this.proyectos.map((p) => p.referencia);
      return [
        (v) =>
          (v && !referencias.includes(v)) || "La referencia debe ser única",
      ];
    },
  },
};
</script>

<style lang="css">
header.v-sheet.v-sheet--tile.theme--dark.v-toolbar.primary {
  margin: 0;
}
</style>
