<template>
  <v-container grid-list-xs class="top">
    <v-layout row wrap>
      <v-flex xs7>
        <v-form ref="componente" v-model="valid">
          <v-card class="pa-3">
            <v-row>
              <v-col cols="6">
                <v-text-field
                  dense
                  label="Nombre"
                  v-model="componente.nombre"
                  :rules="[(v) => !!v || '']"
                ></v-text-field>
              </v-col>
              <!-- <v-col cols="6">
                <v-text-field dense label="Proveedor" v-model="componente.proveedor"></v-text-field>
              </v-col>-->
              <v-col cols="6">
                <v-select
                  :items="tiposOrdenados"
                  item-text="nombre"
                  item-value="id"
                  v-model="componente.tipo"
                  label="Tipo"
                  :rules="[(v) => !!v || '']"
                >
                  <template v-slot:item="{ item }">
                    <v-layout>
                      <v-flex xs12>
                        <span>{{ item.nombre }}</span>
                      </v-flex>
                    </v-layout>
                  </template>
                </v-select>
              </v-col>
              <v-col cols="6">
                <v-select
                  :readonly="id != 'crear'"
                  :disabled="id != 'crear'"
                  :items="soloClientes"
                  item-text="nombre_fiscal"
                  item-value="id"
                  v-model="componente.cliente"
                  label="Cliente"
                ></v-select>
                <!-- <v-text-field readonly disabled v-model="componente.cliente" label="Cliente"></v-text-field> -->
              </v-col>
              <v-col cols="6">
                <v-select
                  :readonly="id != 'crear'"
                  :disabled="id != 'crear'"
                  :items="marcasCliente"
                  item-text="nombre"
                  item-value="id"
                  v-model="componente.marca"
                  label="Marca"
                  no-data-text="Este cliente no tiene marcas asociadas"
                ></v-select>
              </v-col>

              <!-- <v-col cols="3">
                <v-text-field dense label="Altura (cm)" v-model="componente.dimensiony"></v-text-field>
              </v-col>
              <v-col cols="3">
                <v-text-field dense label="Anchura (cm)" v-model="componente.dimensionx"></v-text-field>
              </v-col>-->
              <v-col cols="12">
                <v-textarea
                  dense
                  label="Descripción"
                  textarea
                  v-model="componente.detalle"
                ></v-textarea>
              </v-col>
              <!-- <v-col cols="4">
                <span>Base</span>
              </v-col>-->
              <v-row>
                <v-col cols="12" class="text-center">
                  <!-- <v-btn color="primary" @click="costes = true">Desglose de costes</v-btn> -->
                  <v-row wrap class="pa-3 costes">
                    <v-col cols="2" class="mx-auto">
                      <v-text-field
                        label="Carpinteria"
                        dense
                        v-model="componente.costes.carpinteria"
                        @blur="(e) => cambioAMoneda(e)"
                        :rules="[
                          (v) =>
                            !isNaN(Number(v)) || 'El valor debe ser un número',
                        ]"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="2" class="mx-auto">
                      <v-text-field
                        label="Lacador"
                        dense
                        v-model="componente.costes.lacador"
                        @blur="(e) => cambioAMoneda(e)"
                        :rules="[
                          (v) =>
                            !isNaN(Number(v)) || 'El valor debe ser un número',
                        ]"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="2" class="mx-auto">
                      <v-text-field
                        label="Cristales"
                        dense
                        v-model="componente.costes.cristales"
                        @blur="(e) => cambioAMoneda(e)"
                        :rules="[
                          (v) =>
                            !isNaN(Number(v)) || 'El valor debe ser un número',
                        ]"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="2" class="mx-auto">
                      <v-text-field
                        label="Metalista"
                        dense
                        v-model="componente.costes.metalista"
                        @blur="(e) => cambioAMoneda(e)"
                        :rules="[
                          (v) =>
                            !isNaN(Number(v)) || 'El valor debe ser un número',
                        ]"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="2" class="mx-auto">
                      <v-text-field
                        label="Metacrilatos"
                        dense
                        v-model="componente.costes.metacrilatos"
                        @blur="(e) => cambioAMoneda(e)"
                        :rules="[
                          (v) =>
                            !isNaN(Number(v)) || 'El valor debe ser un número',
                        ]"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="2" class="mx-auto">
                      <v-text-field
                        label="Iluminación"
                        dense
                        v-model="componente.costes.iluminacion"
                        @blur="(e) => cambioAMoneda(e)"
                        :rules="[
                          (v) =>
                            !isNaN(Number(v)) || 'El valor debe ser un número',
                        ]"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="2" class="mx-auto">
                      <v-text-field
                        label="Laser"
                        dense
                        v-model="componente.costes.logos"
                        @blur="(e) => cambioAMoneda(e)"
                        :rules="[
                          (v) =>
                            !isNaN(Number(v)) || 'El valor debe ser un número',
                        ]"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="2" class="mx-auto">
                      <v-text-field
                        label="Taburete"
                        dense
                        v-model="componente.costes.taburete"
                        @blur="(e) => cambioAMoneda(e)"
                        :rules="[
                          (v) =>
                            !isNaN(Number(v)) || 'El valor debe ser un número',
                        ]"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="2" class="mx-auto">
                      <v-text-field
                        label="Vitrum"
                        dense
                        v-model="componente.costes.tela"
                        @blur="(e) => cambioAMoneda(e)"
                        :rules="[
                          (v) =>
                            !isNaN(Number(v)) || 'El valor debe ser un número',
                        ]"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="2" class="mx-auto">
                      <v-text-field
                        label="Duratrans"
                        dense
                        v-model="componente.costes.duratrans"
                        @blur="(e) => cambioAMoneda(e)"
                        :rules="[
                          (v) =>
                            !isNaN(Number(v)) || 'El valor debe ser un número',
                        ]"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="2" class="mx-auto">
                      <v-text-field
                        label="Corian"
                        dense
                        v-model="componente.costes.tiradores"
                        @blur="(e) => cambioAMoneda(e)"
                        :rules="[
                          (v) =>
                            !isNaN(Number(v)) || 'El valor debe ser un número',
                        ]"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="2" class="mx-auto">
                      <v-text-field
                        label="Otros"
                        dense
                        v-model="componente.costes.otros"
                        @blur="(e) => cambioAMoneda(e)"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="2" class="mx-auto">
                      <v-text-field
                        label="IMA"
                        dense
                        v-model="componente.costes.ima"
                        @blur="(e) => cambioAMoneda(e)"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="2" class="mx-auto">
                      <v-text-field
                        label="Pantallas TV"
                        dense
                        v-model="componente.costes.pantallas"
                        @blur="(e) => cambioAMoneda(e)"
                      ></v-text-field>
                    </v-col>
                  </v-row>
                </v-col>
                <v-col cols="12">
                  <v-col cols="6">
                    <v-text-field
                      label="Base"
                      id="base"
                      readonly
                      dense
                      v-model="componente.importe"
                      @blur="(e) => cambioAMoneda(e)"
                    ></v-text-field>
                  </v-col>
                  <!-- <v-col cols="6">
                    <v-text-field
                      label="Total"
                      id="total"
                      readonly
                      dense
                      v-model="totalCon"
                      @blur="e => cambioAMoneda(e)"
                    ></v-text-field>
                  </v-col>-->
                </v-col>
              </v-row>

              <!-- <v-col cols="4">
                <span>Montaje</span>
              </v-col>
              <v-col cols="8">
                <v-text-field append-icon="mdi-currency-eur" dense v-model="costemontaje"></v-text-field>
              </v-col>
              <v-col cols="4">
                <span>Total Sin</span>
              </v-col>
              <v-col cols="8">
                <v-text-field append-icon="mdi-currency-eur" dense v-model="totalSin"></v-text-field>
              </v-col>-->
              <!-- <v-col cols="4">
                <span>Total Con</span>
              </v-col>-->
            </v-row>

            <v-card-actions>
              <v-spacer></v-spacer>
              <!-- <v-btn color="accent" @click="dialogCrear = true">Crear Nuevo</v-btn> -->
              <v-btn
                v-if="id != 'crear'"
                :disabled="!valid"
                color="primary"
                @click="dialogModificar = true"
                >Actualizar</v-btn
              >
              <v-btn
                v-else
                color="primary"
                :disabled="!valid"
                @click="dialogCrear = true"
                >Crear Nuevo</v-btn
              >
            </v-card-actions>
          </v-card>
        </v-form>
      </v-flex>
      <v-flex xs5>
        <v-card height="500" class="ml-3 px-5 py-3">
          <v-flex xs12>
            <v-checkbox
              label="Ocultar en Galería"
              v-model="componente.ocultarEnGaleria"
              :value="true"
            ></v-checkbox>
          </v-flex>
          <v-flex xs12 class="mr-4">
            <v-file-input
              multiple
              placeholder="Selecciona tus archivos"
              prepend-icon="mdi-paperclip"
              v-model="componente.file"
              @change="preview"
              show-size
              label="Subida imagen"
            >
              <template v-slot:selection="{ index, text }">
                <v-chip color="primary" label small>{{ text }}</v-chip>
              </template>
            </v-file-input>
          </v-flex>
          <v-flex height="200px" xs12 class="mr-4" v-if="!componente.imagenes">
            <v-carousel
              hide-delimiters
              cycle
              height="400"
              hide-delimiter-background
              :show-arrows="false"
            >
              <v-carousel-item>
                <v-sheet height="100%" light>
                  <v-img contain :src="componente.imagen"></v-img>
                </v-sheet>
              </v-carousel-item>
            </v-carousel>
          </v-flex>
          <v-flex height="200px" xs12 class="mr-4" v-else>
            <v-carousel
              class="con"
              height="400"
              show-arrows-on-hover
              continuous
            >
              <v-carousel-item v-for="(img, i) in componente.imagenes" :key="i">
                <v-sheet height="100%">
                  <v-img cover :src="img"></v-img>
                </v-sheet>
              </v-carousel-item>
            </v-carousel>
            <!-- <v-img v-if="componente.imagen" cover :src="componente.imagen"></v-img> -->
            <!-- <v-carousel
              class="sin"
              v-else-if="!componente.imagen"
              height="400"
              hide-delimiter-background
              :show-arrows="false"
            >
              <v-carousel-item>
                <v-sheet height="100%">
                  <v-img cover :src="componente.imagen"></v-img>
                </v-sheet>
              </v-carousel-item>
            </v-carousel>
            <v-carousel
              class="3"
              v-else
              height="400"
              hide-delimiter-background
              :show-arrows="false"
            >
              <v-carousel-item>
                <v-sheet height="100%">
                  <v-img cover src="https://imgur.com/dMIlTsq.png"></v-img>
                </v-sheet>
              </v-carousel-item>
            </v-carousel>-->
          </v-flex>
        </v-card>
        <!-- <div class="px-3 pt-3" flat>
          <v-img :src="componente.imagen"></v-img>
          <v-row>
            <v-col cols="12" class="text-center">
              <v-btn color="primary">Cambiar imagen</v-btn>
            </v-col>
          </v-row>
        </div>-->
      </v-flex>
    </v-layout>

    <v-dialog v-model="cambios" max-width="290" persistent>
      <cambios @descartar="descartar" />
    </v-dialog>

    <v-dialog v-model="dialogCrear" max-width="290">
      <v-card>
        <v-card-title class="headline">Atención!</v-card-title>
        <v-card-text
          >Vas a crear un componente nuevo en la Base de Datos</v-card-text
        >
        <v-card-text>¿Estás seguro?</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="primary"
            :loading="loading"
            :disabled="loading"
            @click="crearNuevo"
          >
            Confirmar
            <template v-slot:loader>
              <span class="custom-loader">
                <v-icon light>mdi-cached</v-icon>
              </span>
            </template>
          </v-btn>
          <v-btn color="secondary" @click="dialogCrear = false">Cancelar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="dialogModificar" max-width="290">
      <v-card>
        <v-card-title class="headline">Atención!</v-card-title>
        <v-card-text
          >El componente actual se sobreescribirá y no podrás volver a su
          versión anterior</v-card-text
        >
        <v-card-text>¿Estás seguro?</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="primary"
            :loading="loading"
            :disabled="loading"
            @click="modificar"
          >
            Confirmar
            <template v-slot:loader>
              <span class="custom-loader">
                <v-icon light>mdi-cached</v-icon>
              </span>
            </template>
          </v-btn>
          <v-btn color="secondary" @click="dialogModificar = false"
            >Cancelar</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="costes" transition="dialog-transition" width="60%">
      <v-card class="px-5 py-3 mt-3 mb-3">
        <v-card-title
          >Añadir costes por {{ cambioAMoneda(totalCostes) }}</v-card-title
        >
        <v-form ref="costes" v-model="costesValid"></v-form>
      </v-card>
    </v-dialog>
    <v-dialog v-model="dialogTipos" transition="dialog-transition" width="40%">
      <v-card class="px-5 py-3">
        <v-card-title>Añadir nuevo tipo de componente</v-card-title>
        <v-form ref="tipos" v-model="nuevoTipo">
          <v-layout class="my-5">
            <v-flex xs12>
              <v-text-field
                v-model="nombreTipoComponente"
                :counter="15"
                label="Nuevo tipo"
                required
              ></v-text-field>
            </v-flex>
          </v-layout>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary" text @click="addTipo"> Añadir </v-btn>
          </v-card-actions>
        </v-form>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import { mapState } from "vuex";
import firebase from "firebase";
import { valorAMoneda } from "../servicios/moneda";
import Cambios from "../components/Cambios";
export default {
  components: {
    Cambios,
  },
  props: ["id"],
  data: () => {
    return {
      valid: true,
      to: "",
      cambios: false,
      oldComponente: {},
      costes: false,
      costesValid: false,
      componente: {},
      cliente: "",
      loading: false,
      dialogCrear: false,
      dialogModificar: false,
      dialogAdd: false,
      costeinicial: "",
      costemontaje: "",
      mostrarEnGaleria: false,
      tipos: [
        "Columna",
        "Back Wall / Trasera",
        "Skin Care / Tratamiento",
        "Make Up / Maquillaje",
        "Mueble Caja / POS",
        "Mueble Fragancias",
        "Ganopy / Marquesina",
        "Góndola",
        "Mostrador",
        "Stand",
        "Tótem",
        "Otros",
      ],
      dialogTipos: false,
      nuevoTipo: "",
      nombreTipoComponente: "",
    };
  },
  mounted() {
    setTimeout(() => {
      this.actualizarTotal();
      document.querySelectorAll(".costes .v-text-field input").forEach((e) => {
        e.focus();
        e.blur();
      });
    }, 10);
  },
  beforeRouteLeave(to, from, next) {
    if (!Object.is(JSON.stringify(this.componente), this.oldComponente)) {
      const r = confirm("¿Aceptas perder los cambios sin guardar?");
      if (r == true) {
        this.descartar();
        setTimeout(() => {
          next();
        }, 200);
      } else {
        next(false);
      }
    } else {
      next();
    }
  },
  created() {
    if (this.id != "crear") {
      this.$set(this, "componente", {
        ...this.componentes.find((c) => c.id == this.id),
      });
    }

    // if (!this.componente.imagenes) {
    //   this.componente.imagenes = [
    //     "https://cdn11.bigcommerce.com/s-hcp6qon/stencil/01eb2250-b30a-0137-ba33-0242ac110046/icons/icon-no-image.svg"
    //   ];
    // }

    if (!this.componente.file) {
      this.componente.file = [];
    }

    const costes = {
      carpinteria: 0,
      lacador: 0,
      cristales: 0,
      metalista: 0,
      tiradores: 0,
      duratrans: 0,
      tela: 0,
      taburete: 0,
      logos: 0,
      iluminacion: 0,
      metacrilatos: 0,
      otros: 0,
      ima: 0,
      pantallas: 0,
    };
    if (!this.componente.costes) this.$set(this.componente, "costes", costes);

    this.oldComponente = JSON.stringify(this.componente);
  },
  methods: {
    removeTipo(id) {
      const remove = confirm(
        "Si eliminas este tipo pueden ocurrir problemas en los componentes ya creados"
      );
      if (remove) {
        firebase
          .database()
          .ref("/extras/tipoComponentes/")
          .child(id)
          .remove()
          .then(() => {
            alert("Tipo eliminado con éxito.");
          });
      }
    },
    addTipo() {
      firebase
        .database()
        .ref("/extras/tipoComponentes")
        .push(this.nombreTipoComponente)
        .then(() => {
          this.dialogTipos = false;
          alert("Tipo de componente guardado con éxito");
        });
    },
    descartar() {
      const old = JSON.parse(this.oldComponente);
      for (const key in this.componente) {
        if (key != "costes") this.componente[key] = old[key];
      }
      for (const key in this.componente.costes) {
        this.componente.costes[key] = old.costes[key];
      }
    },
    guardar() {
      this.modificar();
    },
    cambioAMoneda(v) {
      if (!v.target) return 0;
      if (isNaN(v.target.value)) return 0;
      if (v.target.value == "") return 0;
      v.target.value = valorAMoneda(v.target.value.replace(",", "."));
    },
    buscarNombreMarca(id) {
      return this.marcas.find((m) => m.id == id)
        ? this.marcas.find((m) => m.id == id).nombre
        : "Sin marca";
    },
    preview(e) {
      this.componente.imagenes = [];
      if (e) {
        e.forEach((element) => {
          this.componente.imagenes.push(URL.createObjectURL(element));
        });
      }
    },
    async crearNuevo() {
      this.loading = true;
      if (this.componente.file.length) {
        const urlImagenes = [];
        const images = new Promise((res) => {
          this.componente.file.forEach(async (element, index) => {
            const storage = firebase
              .storage()
              .ref(
                "componentes/" + this.buscarNombreMarca(this.componente.marca)
              )
              .child(
                this.componente.nombre +
                  this.componente.cliente +
                  index +
                  ".png"
              );
            const image = await storage.put(element);
            const url = await storage.getDownloadURL().then((url) => {
              urlImagenes.push(url);
            });
            if (urlImagenes.length == this.componente.file.length) res();
          });
        });

        images.then(() => {
          this.componente.imagenes = urlImagenes;
          firebase
            .database()
            .ref("/componentes")
            .push(this.componente)
            .then(() => {
              this.dialogModificar = false;
              this.loading = false;
              // alert("Componente Modificado");
              this.$router.push("/catalogo");
            });
        });
      } else {
        firebase
          .database()
          .ref("/componentes")
          .push(this.componente)
          .then(() => {
            this.dialogModificar = false;
            alert("Componente Modificado");
            this.$router.push("/catalogo");
          });
      }
    },
    async modificar() {
      this.loading = true;
      if (this.$refs.componente.validate()) {
        if (this.componente.file.length > 0) {
          const urlImagenes = [];
          const images = new Promise((res) => {
            this.componente.file.forEach(async (element, index) => {
              const storage = firebase
                .storage()
                .ref(
                  "componentes/" + this.buscarNombreMarca(this.componente.marca)
                )
                .child(
                  this.componente.nombre +
                    this.componente.cliente +
                    index +
                    ".png"
                );

              const image = await storage.put(element);
              const url = await storage.getDownloadURL().then((url) => {
                urlImagenes.push(url);
              });

              if (urlImagenes.length == this.componente.file.length) res();
            });
          });

          images.then(() => {
            this.componente.imagenes = urlImagenes;
            firebase
              .database()
              .ref("/componentes/" + this.id)
              .update(this.componente)
              .then(() => {
                this.dialogModificar = false;
                this.loading = false;
                this.cambios = false;
                // alert("Componente Modificado");
                this.$router.push("/catalogo");
              });
          });
        } else {
          firebase
            .database()
            .ref("/componentes/" + this.id)
            .update(this.componente)
            .then(() => {
              this.dialogModificar = false;
              this.cambios = false;
              alert("Componente Modificado");
              this.$router.push("/catalogo");
            });
        }
        this.oldComponente = JSON.stringify(this.componente);
      }
    },
    actualizarTotal() {
      document.querySelector("#base").focus();
      document.querySelector("#base").blur();
      document.querySelector("#total").focus();
      document.querySelector("#total").blur();
    },
  },
  watch: {
    cambioCostes: {
      deep: true,
      handler(val) {
        if (this.componente) this.componente.importe = this.totalCostes;
        // this.actualizarTotal();
      },
    },
  },
  computed: {
    ...mapState(["contactos", "marcas", "tipoComponentes"]),

    tiposOrdenados() {
      return this.tipoComponentes.sort((a, b) =>
        a.nombre.toLowerCase() > b.nombre.toLowerCase() ? 1 : -1
      );
    },
    componentes() {
      return [...this.$store.getters.cogerComponentes];
    },
    client() {
      return this.componente.cliente;
    },
    cambioCostes() {
      return this.componente.costes;
    },
    soloClientes() {
      return this.contactos.filter((c) => c.tipo == "Cliente");
    },
    totalCostes() {
      const array = Object.values(this.componente.costes).filter(
        (c) => c != ""
      );
      if (array.length == 0) return 0;
      else return array.reduce((a, b) => Number(a) + Number(b));
    },
    marcasCliente() {
      return this.marcas.filter((m) => {
        return m.cliente == this.componente.cliente;
      });
    },
    totalSin() {
      return this.totalCostes;
    },
    totalCon() {
      return (this.totalSin * 21) / 100 + this.totalSin;
    },
  },
};
</script>

<style></style>
