<template>
  <v-container fluido class="fluido top" v-if="proyecto">
    <v-layout row wrap>
      <v-flex class="justify-space-between">
        <v-breadcrumbs :items="items" divider="/"></v-breadcrumbs>
      </v-flex>
    </v-layout>
    <v-layout row wrap class="px-5">
      <v-layout row wrap class="mini justify-center">
        <v-flex xs6 class="pa-3">
          <v-card class="pa-4" min-height="185">
            <v-layout class="px-2" row wrap>
              <v-flex xs6 class="pr-4">
                <v-text-field
                  name="nombre"
                  label="Proyecto"
                  v-model="proyecto.nombre"
                ></v-text-field>
                <v-text-field
                  name="ref"
                  label="Referencia"
                  v-model="proyecto.referencia"
                  :rules="referenciaUnica"
                ></v-text-field>
                <v-select
                  :disabled="!eresAdmin()"
                  :items="[
                    'Activo',
                    'Cerrado',
                    'Rechazado',
                    'Borrador',
                    'Estructura',
                  ]"
                  v-model="proyecto.estado"
                  label="Estado"
                ></v-select>
              </v-flex>
              <v-flex xs6>
                <v-text-field
                  name="fecha"
                  label="Fecha Alta"
                  disabled
                  :value="proyecto.fechaAlta"
                ></v-text-field>
                <v-text-field
                  name="cliente"
                  label="Cliente"
                  disabled
                  :value="cliente.nombreFiscal"
                ></v-text-field>
                <v-text-field
                  name="direccion"
                  label="Dirección"
                  disabled
                  :value="cliente.direccion"
                ></v-text-field>
              </v-flex>
              <!-- <v-flex xs6>
                <p>
                  <b>Fecha Validación:</b> --
                </p>
              </v-flex>
              <v-flex xs6>
                <p>
                  <b>Dirección:</b>
                  {{ cliente.direccion }}
                </p>
              </v-flex>
              <v-flex xs6>
                <p>
                  <b>Fecha Fin:</b>
                  --
                </p>
              </v-flex>-->
              <!-- <v-flex xs12 class="mt-2">
                <v-select
                  :items="['Activo', 'Cerrado', 'Borrador', 'Estructura']"
                  v-model="proyecto.estado"
                  label="Estado"
                ></v-select>
              </v-flex>-->
            </v-layout>
          </v-card>
        </v-flex>

        <v-flex xs6 class="pa-3">
          <v-card
            class="pa-4"
            min-height="185"
            v-if="proyecto.timeline.procesos.length != 0"
          >
            <v-layout class="px-2" row wrap v-if="estadoActivo.activo">
              <v-flex xs12>
                <p>
                  <b>
                    Proceso Activo:
                    {{ estadoActivo.nombre || "" }}
                  </b>
                </p>
              </v-flex>
              <v-flex xs6>
                <p>
                  <b>Responsable:</b>
                  {{ buscarEmpleado(estadoActivo.responsable).nombre || "" }}
                </p>
              </v-flex>
              <v-flex xs6>
                <p>
                  <b>Fecha Inicio:</b>
                  {{ estadoActivo.inicio || "" }}
                </p>
              </v-flex>
              <v-flex xs6>
                <p>
                  <b>Numero de Horas:</b>
                  {{ estadoActivo.horas || "" }}
                </p>
              </v-flex>
              <v-flex xs6>
                <p>
                  <b>Fecha Prevista:</b>
                  {{ estadoActivo.fin || "" }}
                </p>
              </v-flex>
              <v-flex xs6></v-flex>
              <v-flex xs6>
                <p>
                  <b>Fecha Fin:</b>
                  --
                </p>
              </v-flex>
            </v-layout>

            <v-layout
              fill-height
              row
              wrap
              v-else-if="!estadoActivo.activo"
              class="d-flex justify-center align-center"
            >
              <span>No hay procesos activos</span>
            </v-layout>
          </v-card>
          <v-card v-else class="pa-4 text-center">
            <p>Este proyecto no tiene aún ninguna fase</p>
            <v-btn color="primary" @click="dialogFase = true">Crear Fase</v-btn>
          </v-card>
        </v-flex>
        <v-flex xs6>
          <v-flex xs12 class="pa-3">
            <v-card class="pl-4 py-4" v-if="presupuesto">
              <!-- Fila 1 -->
              <v-row wrap class="font-weight-bold pa-4">
                <v-flex xs2></v-flex>
                <v-flex xs3>Coste Total</v-flex>
                <v-flex xs3>Margen Total</v-flex>
                <v-flex xs2>% Margen</v-flex>
                <v-flex xs2>Venta Total</v-flex>
              </v-row>

              <!-- FIla 2 -->
              <v-row wrap class="pa-4">
                <v-flex xs2 class="font-weight-bold primary--text"
                  >Teórico</v-flex
                >
                <v-flex xs3>
                  {{ cambioAMoneda(presupuesto.importe) }}
                </v-flex>
                <v-flex xs3>{{
                  cambioAMoneda(descuentoTotal - presupuesto.importe)
                }}</v-flex>
                <v-flex xs2
                  >{{
                    Number(
                      ((descuentoTotal - presupuesto.importe) /
                        descuentoTotal) *
                        100
                    ).toFixed(2)
                  }}%</v-flex
                >
                <v-flex xs2>
                  {{ cambioAMoneda(descuentoTotal) }}
                </v-flex>
              </v-row>

              <!-- Fila 3 -->
              <v-row wrap class="pa-4">
                <v-flex xs2 class="font-weight-bold secondary--text"
                  >Real</v-flex
                >
                <v-flex xs3>
                  {{ cambioAMoneda(importeFacturas) }}
                </v-flex>
                <v-flex xs3>{{
                  cambioAMoneda(totalPrevisto - importeFacturas)
                }}</v-flex>
                <v-flex xs2>{{ margenRealPct }}%</v-flex>
                <v-flex xs2>
                  {{ cambioAMoneda(totalPrevisto) }}
                </v-flex>
              </v-row>

              <!-- Fila 4 -->
              <v-row class="pa-4 pr-7">
                <v-progress-linear
                  dark
                  color="primary"
                  height="20px"
                  :value="100"
                  background-opacity="0"
                  class="mb-1"
                  >{{ cambioAMoneda(presupuesto ? presupuesto.importe : 0) }}
                  <template v-slot:default="{ value }">
                    <v-row>
                      <v-col xs12 class="text-center"
                        ><strong>{{
                          cambioAMoneda(descuentoTotal)
                        }}</strong></v-col
                      >
                    </v-row>
                  </template>
                </v-progress-linear>
                <v-progress-linear
                  dark
                  color="secondary"
                  height="20px"
                  :value="calculoBarra(totalPrevisto)"
                  background-opacity="0"
                >
                  <template v-slot:default="{ value }">
                    <v-row>
                      <v-col xs12 class="text-center"
                        ><strong style="    color: #595959;
    text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;">{{
                          cambioAMoneda(totalPrevisto)
                        }}</strong></v-col
                      >
                    </v-row>
                  </template>
                </v-progress-linear>
              </v-row>
              <v-btn
                small
                color="primary"
                :to="'/editarPresupuesto/' + presupuesto.id"
                >Ver presupuesto</v-btn
              >
            </v-card>
          </v-flex>
        </v-flex>
        <v-flex xs6>
          <v-flex xs12 class="pa-3">
            <v-card class="pl-4 py-4">
              <p>Observaciones:</p>
              <v-textarea
                v-model="proyecto.observaciones"
                solo
                name="input-7-4"
                label="..."
              ></v-textarea>
            </v-card>
          </v-flex>
        </v-flex>
      </v-layout>
    </v-layout>

    <!-- FASES -->
    <!-- <v-layout
      row
      class="mt-6 mini justify-end"
      v-if="proyecto.timeline.procesos.length"
    >
      <v-flex xs12
        >* Las fases pueden reordenarse arrastrando y soltando.</v-flex
      >
    </v-layout> -->
    <v-layout row class="mt-3 mini justify-start px-5">
      <v-flex xs11 class="d-flex">
        <!-- <draggable v-model="proyecto.timeline.procesos" class="d-flex"> -->
        <v-card
          class="fase ma-1 pa-1"
          :class="{ update: fase.update }"
          :style="{
            'max-width': anchura + '%',
            'min-width': anchura + '%',
          }"
          :color="fase.incidencia ? 'error' : ''"
          v-for="(fase, i) in proyecto.timeline.procesos"
          :key="fase.nombre + fase.incidencia + i + new Date()"
        >
          <v-flex class="icons">
            <v-avatar
              dark
              v-if="fase.inicioUpdated || fase.finUpdated"
              class="mr-1"
              color="blue"
              size="20"
            >
              <span>M</span>
            </v-avatar>
            <!-- <v-avatar v-if="fase.incidencia" color="red" size="20">
              <span class="white--text">I</span>
            </v-avatar> -->
          </v-flex>
          <fase
            :admin="false"
            :nombre="fase.nombre"
            :activo="fase.activo"
            :dates="[fase.inicio, fase.fin]"
            :horas="fase.horas"
            :responsable="buscarEmpleado(fase.responsable).nombre"
            @change="change"
            @editar="abrirIncidenciaFase(fase)"
          />
        </v-card>
        <!-- </draggable> -->
      </v-flex>
      <v-flex xs1 class="d-flex justify-center align-center">
        <v-btn
          v-show="proyecto.estado != 'Cerrado'"
          small
          class="mx-2"
          dark
          color="primary"
          @click="dialogFase = true"
        >
          <v-icon dark>mdi-plus</v-icon>
        </v-btn>
      </v-flex>
    </v-layout>

    <!-- EDITAR FASE -->
    <v-dialog
      v-if="incidencia.proceso.nombre"
      v-model="dialog"
      max-width="80%"
      hide-overlay
      transition="dialog-bottom-transition"
    >
      <v-card>
        <v-card-title primary-title>
          {{ incidencia.proceso.nombre }}
        </v-card-title>
        <v-layout row wrap class="px-10 pb-4">
          <v-flex xs4 class="pt-3">
            <v-select
              :items="empleadosDeProcesoEditando"
              v-model="incidencia.proceso.responsable"
              item-text="nombre"
              item-value="id"
              label="Responsable"
            ></v-select>

            <v-text-field
              label="Horas"
              v-model="incidencia.proceso.horas"
            ></v-text-field>
            <v-text-field
              readonly
              disabled
              label="Precio/h"
              :value="buscarEmpleado(incidencia.proceso.responsable).precio"
            ></v-text-field>
            <v-select
              :items="activos"
              v-model="incidencia.proceso.activo"
              label="Estado"
            ></v-select>
            <v-flex xs12 class="mb-2">Incidencias:</v-flex>
            <v-textarea
              solo
              v-model="incidencia.detalle"
              name="input-7-4"
              placeholder="Detalla aquí la incidencia"
            ></v-textarea>
            <v-switch
              v-cloak
              color="error"
              label="Proceso con incidencia"
              v-model="incidencia.proceso.incidencia"
            ></v-switch>
          </v-flex>
          <v-flex xs8 class="pa-3 pt-0 d-flex justify-space-around">
            <v-layout row wrap>
              <v-flex xs12 class="d-flex justify-space-around mb-1">
                <span class="title">Fecha Inicio</span>
                <span class="title">Fecha Fin</span>
              </v-flex>
              <v-flex xs12 class="d-flex justify-space-around mb-1">
                <small v-if="incidencia.proceso.inicioOriginal" class="caption">
                  Incio original:
                  {{ convertDate(incidencia.proceso.inicioOriginal) }}
                </small>
                <small v-else>
                  Incio Original:
                  {{ convertDate(incidencia.proceso.inicio) }}
                </small>
                <small v-if="incidencia.proceso.finOriginal" class="caption">
                  Fin original:
                  {{ convertDate(incidencia.proceso.finOriginal) }}
                </small>
                <small v-else>
                  Fin Original:
                  {{ convertDate(incidencia.proceso.fin) }}
                </small>
              </v-flex>
              <v-flex xs12 class="d-flex justify-space-around">
                <v-date-picker
                  :first-day-of-week="1"
                  dense
                  locale="es"
                  v-model="incidencia.proceso.inicio"
                  color="primary"
                ></v-date-picker>
                <v-date-picker
                  :first-day-of-week="1"
                  locale="es"
                  v-model="incidencia.proceso.fin"
                  color="primary"
                ></v-date-picker>
              </v-flex>
            </v-layout>
          </v-flex>
        </v-layout>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="accent" @click="noActualizar()"> Cancelar </v-btn>
          <v-btn color="primary" @click="guardarIncidencia()">Actualizar</v-btn>
          <v-btn color="error" @click="eliminarProceso(proceso)"
            >Eliminar</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- Generar PDF  -->
    <v-layout row class="wrap mt-12 ml-5">
      <v-flex row xs12>
        <v-btn color="primary" @click="downloadPDF('generate')">
          Listado por tipo resumido
        </v-btn>
        <v-btn class="ml-3" color="primary" @click="downloadPDF('generate2')">
          Listado por tipo desglosado
        </v-btn>
        <iframe
          id="iframe"
          src="../iframe/index.html"
          style="
            position: fixed;
            top: 0px;
            left: 0px;
            bottom: 0px;
            right: 0px;
            width: 100%;
            height: 100%;
            border: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            z-index: 999999;
            left: 2540px;
          "
        >
          Your browser doesn't support iframes
        </iframe>
      </v-flex>
    </v-layout>
    <!-- End Generar PDF  -->
    <!-- FACTURAS COSTES -->
    <v-layout row class="wrap mt-12 px-5" v-if="presupuesto">
      <v-flex xs12>
        <p>Facturas / Costes</p>
      </v-flex>
    </v-layout>
    <v-layout row wrap v-if="presupuesto">
      <v-expansion-panels multiple v-model="panel">
        <v-flex row child-flex>
          <div
            v-for="(cat, key) in campos"
            :key="key"
            class="mb-3 pa-3 flex xs6"
          >
            <v-expansion-panel>
              <v-expansion-panel-header>
                {{ tituloCorrecto(key) }}
              </v-expansion-panel-header>
              <v-expansion-panel-content>
                <v-data-table
                  dense
                  no-data-text="Aún no hay gastos asociados"
                  :headers="headers"
                  :items="costesportipo(key)"
                  hide-default-footer
                  disable-pagination
                >
                  <template v-slot:item.importe="{ item }">{{
                    cambioAMoneda(item ? item.importe : 0)
                  }}</template>
                </v-data-table>
                <v-divider class="mt-4"></v-divider>
                <v-row class="px-3 mt-4">
                  <v-col
                    cols="6"
                    fill-height
                    class="d-flex align-center justify-end pa-0 pr-3"
                  >
                    <span>Total presupuestado:</span>
                  </v-col>
                  <v-col cols="6" class="pa-0">
                    <v-progress-linear
                      dark
                      color="primary"
                      height="20px"
                      :value="100"
                      background-opacity="0"
                      class="mb-1"
                      >{{ barraGastos(key) }}</v-progress-linear
                    >
                  </v-col>
                </v-row>
                <v-row class="px-3">
                  <v-col
                    cols="6"
                    fill-height
                    class="d-flex align-center justify-end pa-0 pr-3"
                  >
                    <span>Total gastado:</span>
                  </v-col>
                  <v-col cols="6" class="pa-0">
                    <v-progress-linear
                      :color="
                        gastoTotalPorTipo(key) >
                        Number(
                          presupuesto.gastos[key]
                            ? presupuesto.gastos[key].importe
                            : 0
                        )
                          ? 'error lighten-2'
                          : 'success lighten-2'
                      "
                      height="20px"
                      :value="
                        (gastoTotalPorTipo(key) * 100) /
                        Number(
                          presupuesto.gastos[key]
                            ? presupuesto.gastos[key].importe
                            : 0
                        )
                      "
                      background-opacity="0"
                      class="mb-1"
                      >{{
                        cambioAMoneda(gastoTotalPorTipo(key))
                      }}</v-progress-linear
                    >
                  </v-col>
                </v-row>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </div>
          <div class="mb-3 pa-3 flex xs6">
            <v-expansion-panel>
              <v-expansion-panel-header>
                Gastos Personal
              </v-expansion-panel-header>
              <v-expansion-panel-content>
                <v-data-table
                  dense
                  no-data-text="Aún no hay gastos asociados"
                  :headers="headersEmpleados"
                  :items="horasEmpleadoPorProyecto"
                  hide-default-footer
                  disable-pagination
                >
                  <template v-slot:item.importe="{ item }">{{
                    cambioAMoneda(Number(item.horas) * Number(item.costeHora))
                  }}</template>
                </v-data-table>
                <v-divider class="mt-4"></v-divider>
                <v-row class="px-3 mt-4">
                  <v-col
                    cols="6"
                    fill-height
                    class="d-flex align-center justify-end pa-0 pr-3"
                  >
                    <span>Total presupuestado:</span>
                  </v-col>
                  <v-col cols="6" class="pa-0">
                    <v-progress-linear
                      dark
                      color="primary"
                      height="20px"
                      :value="100"
                      background-opacity="0"
                      class="mb-1"
                      >{{
                        cambioAMoneda(sumaPrecioHorasPresupuestadas)
                      }}</v-progress-linear
                    >
                  </v-col>
                </v-row>
                <v-row class="px-3">
                  <v-col
                    cols="6"
                    fill-height
                    class="d-flex align-center justify-end pa-0 pr-3"
                  >
                    <span>Total gastado:</span>
                  </v-col>
                  <v-col cols="6" class="pa-0">
                    <v-progress-linear
                      color="success lighten-2"
                      height="20px"
                      :value="80"
                      background-opacity="0"
                      class="mb-1"
                      >{{
                        cambioAMoneda(sumaPrecioHorasGastadas)
                      }}</v-progress-linear
                    >
                  </v-col>
                </v-row>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </div>
        </v-flex>
      </v-expansion-panels>
    </v-layout>

    <v-layout row class="mt-12 px-5">
      <v-flex xs12>
        <p
          class="headline"
          v-if="!facturasProyecto.length && !facturasProyectoCliente.length"
        >
          No hay facturas a mostrar
        </p>
        <p v-else>Facturas</p>
      </v-flex>
    </v-layout>

    <v-layout class="d-flex align-center px-5" v-if="facturasProyecto.length">
      <v-flex xs6 my-2>
        <h4>Proveedores</h4>
      </v-flex>
      <v-flex flex xs6 pa-3 pl-5>
        <buscador
          @searchNow="searchProveedores = $event"
          :label="'Buscar Facturas Proveedores'"
        />
      </v-flex>
    </v-layout>
    <v-layout row class="px-5" v-if="facturasProyecto.length">
      <v-flex xs12>
        <v-data-table
          :headers="headersFacturas"
          :items="facturasProyecto"
          :search="searchProveedores"
          :custom-filter="dataTableCustomSearch"
          show-select
          v-model="selectedP"
          class="elevation-1"
          id="id"
        >
          <template v-slot:item.ver="{ item }">
            <v-btn color="primary" icon :to="'/crearFactura/' + item.id">
              <v-icon color="primary">mdi-pencil</v-icon>
            </v-btn>
          </template>
          <template v-slot:item.descargar="{ item }">
            <div v-if="item.imagen">
              <v-btn color="primary" icon :href="item.imagen" target="_blank">
                <v-icon color="primary">mdi-download</v-icon>
              </v-btn>
            </div>
            <div v-else>
              <span>No hay adjunto</span>
            </div>
          </template>
        </v-data-table>
      </v-flex>
    </v-layout>

    <v-layout
      row
      class="d-flex align-center mt-10 px-5"
      v-if="facturasProyectoCliente.length"
    >
      <v-flex xs6 my-2>
        <h4>Clientes</h4>
      </v-flex>
      <v-flex flex xs6 pa-3 pl-5>
        <buscador
          @searchNow="searchClientes = $event"
          :label="'Buscar Facturas Clientes'"
        />
      </v-flex>
    </v-layout>
    <v-layout row class="px-5" v-if="facturasProyectoCliente.length">
      <v-flex xs12>
        <v-data-table
          :headers="headersFacturasClientes"
          :items="facturasProyectoCliente"
          :search="searchClientes"
          :custom-filter="dataTableCustomSearch"
          show-select
          v-model="selectedC"
          class="elevation-1"
          id="id"
        >
          <template v-slot:item.ver="{ item }">
            <v-btn color="primary" icon :to="'/crearFactura/' + item.id">
              <v-icon color="primary">mdi-pencil</v-icon>
            </v-btn>
          </template>
          <template v-slot:item.descargar="{ item }">
            <div v-if="item.imagen">
              <v-btn color="primary" icon :href="item.imagen" target="_blank">
                <v-icon color="primary">mdi-download</v-icon>
              </v-btn>
            </div>
            <div v-else>
              <span>No hay adjunto</span>
            </div>
          </template>
        </v-data-table>
      </v-flex>
    </v-layout>
    <v-snackbar v-if="selectedP.length" v-model="selectedP" :timeout="0" color="primary">
      Exportar {{ selectedP.length }} facturas
      <v-btn
        color="info"
        @click.native="
          exportToCSV(
            selectedP,
            'facturasProyectoProveedores',
            headersFacturas
          ),
            (selectedP = [])
        "
        >Descargar</v-btn
      >
    </v-snackbar>
    <v-snackbar v-if="selectedC.length" v-model="selectedC" :timeout="0" color="primary">
      Exportar {{ selectedC.length }} facturas
      <v-btn
        color="info"
        @click.native="
          exportToCSV(
            selectedC,
            'facturasProyectoClientes',
            headersFacturasClientes
          ),
            (selectedC = [])
        "
        >Descargar</v-btn
      >
    </v-snackbar>
    <v-layout row class="mt-12 px-5">
      <v-flex xs12>
        <span class="headline mr-3">Documentos</span>

        <v-btn icon color="primary" @click="upload = true">
          <v-icon>mdi-plus</v-icon>
        </v-btn>
      </v-flex>
    </v-layout>
    <v-row wrap class v-if="documentos.length">
      <v-col cols="3" class="px-0" v-for="(d, i) in documentos" :key="i">
        <v-card class="mr-4">
          <v-card-title h4>{{ d.name }}</v-card-title>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn text color="error" @click="eliminar(d.name)">Eliminar</v-btn>
            <v-btn text color="primary" @click="descargar(d.url)"
              >Descargar</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>

    <v-layout row wrap class="justify-center mt-10">
      <v-flex xs12 class="text-center">
        <v-btn outlined color="primary" @click="actualizar()"
          >Actualizar proyecto</v-btn
        >
      </v-flex>
    </v-layout>

    <!-- snackbars -->
    <v-snackbar v-model="snackbar" :timeout="timeout">
      Proyecto actualizado
      <v-btn color="blue" text @click="snackbar = false">Close</v-btn>
    </v-snackbar>

    <!-- dialogs -->
    <v-dialog v-model="cambios" max-width="290" persistent>
      <v-card>
        <v-card-title class="headline">Hay cambios</v-card-title>

        <v-card-text
          >Ups! Te has olvidado de guardar algunos cambios.</v-card-text
        >
        <v-card-text>¿Qué quieres hacer?</v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn color="secondary darken-1" text @click="noActualizar()"
            >Descartar</v-btn
          >

          <v-btn
            color="primary darken-1"
            @click="
              guardarIncidencia();
              cambios = false;
            "
            >Guardar</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog
      v-model="upload"
      :overlay="false"
      max-width="500px"
      transition="dialog-transition"
    >
      <v-card class="pa-5">
        <v-row class="justify-center">
          <v-file-input
            v-model="documento"
            label="Seleccionar archivo"
            class="mr-5"
          ></v-file-input>
          <v-btn v-if="documento" color="primary" @click="subirDocumento"
            >Subir</v-btn
          >
        </v-row>
      </v-card>
    </v-dialog>

    <!-- DIALOG CREAR FASE -->
    <v-dialog
      v-model="dialogFase"
      max-width="60%"
      transition="scale-transition"
    >
      <v-card class="pb-4">
        <!-- <v-toolbar color="primary">Crear Proceso</v-toolbar> -->
        <v-layout row wrap>
          <v-flex xs12 sm5 class="mt-3 d-flex justify-space-around">
            <v-date-picker
              :first-day-of-week="1"
              color="primary"
              v-model="dates"
              scrollable
              range
              locale="ES"
            ></v-date-picker>
          </v-flex>
          <v-flex xs12 sm5>
            <v-layout row wrap class="pa-5 justify-center align-center">
              <v-flex xs12 class="px-3">
                <v-form ref="formCrearProceso" lazy-validation>
                  <v-select
                    v-model="proceso.nombre"
                    :items="fasesProcesos"
                    label="Proceso"
                    :rules="[(v) => !!v || ' ']"
                    required
                  ></v-select>
                  <v-layout row wrap class="px-3">
                    <v-flex xs6 class="pr-2">
                      <v-text-field
                        v-model="sortedDates[0]"
                        label="Inicio Fase"
                        readonly
                        disabled
                        required
                        :rules="[(v) => !!v || ' ']"
                      ></v-text-field>
                    </v-flex>
                    <v-flex xs6 class="pl-2">
                      <v-text-field
                        disabled
                        v-model="sortedDates[1]"
                        label="Fin Fase"
                        readonly
                        required
                        :rules="[(v) => !!v || ' ']"
                      ></v-text-field>
                    </v-flex>
                  </v-layout>
                  <v-layout row wrap class="px-3">
                    <v-flex xs4 class="pr-2">
                      <v-select
                        v-model="proceso.responsable"
                        :items="empleadosDeProceso"
                        item-text="nombre"
                        item-value="id"
                        label="Responsable"
                        required
                        :rules="[(v) => !!v || ' ']"
                      ></v-select>
                    </v-flex>
                    <v-flex xs4 class="pl-2">
                      <v-text-field
                        v-model="proceso.horas"
                        label="Horas"
                        required
                        :rules="[(v) => !!v || ' ']"
                      ></v-text-field>
                    </v-flex>
                    <v-flex xs4 class="pl-2">
                      <v-text-field
                        v-if="proceso.responsable"
                        :value="buscarEmpleado(proceso.responsable).precio"
                        label="Precio/h"
                        readonly
                        disabled
                      ></v-text-field>
                    </v-flex>
                    <v-flex xs12 class="justify-center text-center mt-8">
                      <!-- <v-btn class="mb-8" small color="red" @click="dialogFase = false">Finalizar</v-btn> -->
                      <v-btn small color="primary" @click="addProceso()"
                        >Guardar Proceso</v-btn
                      >
                    </v-flex>
                  </v-layout>
                </v-form>
              </v-flex>
            </v-layout>
          </v-flex>
        </v-layout>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import Vue from "vue";
import Fase from "../components/Fase";
import Componente from "../components/Componente";
import { download } from "../servicios/descargarimagen.js";
import { mapState } from "vuex";
import firebase from "firebase";
import { valorAMoneda } from "../servicios/moneda";
import Buscador from "../components/Buscador";
import draggable from "vuedraggable";

export default {
  props: ["id"],
  components: {
    Fase,
    Componente,
    Buscador,
    draggable,
  },
  data: () => ({
    pdfLTRref: null,
    panel: [],
    searchProveedores: "",
    searchClientes: "",
    campos: {
      transporte: ["TV"],
      desplazamiento: ["MB", "MI", "VI"],
      materias: ["MA", "TC", "OC", "T-EN", "T-SA"],
      gastos: ["VC", "DP"],
      otros: [
        "AGUA",
        "ASES",
        "DEPS",
        "GAS",
        "LOTE",
        "LUZ",
        "MF",
        "MINF",
        "MN",
        "M-OF",
        "OC",
        "PUBL",
        "TF-M",
        "TL-F",
        "UTI",
        "VE",
        "INMO",
        "ALQU",
        "COM",
        "RyC",
        "OTRO",
        "MULT",
      ],
    },
    documento: [],
    documentos: [],
    cambios: false,
    proyectoInicial: "",
    observaciones: "",
    snackbar: false,
    timeout: 1500,
    dialog: false,
    upload: false,
    incidencia: {
      proceso: "",
      detalle: "",
    },
    activos: [
      {
        text: "Activo",
        value: true,
      },
      { text: "No activo", value: false },
    ],
    copy: "",
    headers: [
      { text: "#", value: "codigo" },
      { text: "Contacto", value: "cliente" },
      { text: "TP", value: "tp" },
      { text: "Importe", value: "importe" },
    ],
    headersEmpleados: [
      { text: "Fase", value: "fase" },
      { text: "Nombre", value: "nombre" },
      { text: "Horas", value: "horas" },
      { text: "Importe", value: "importe" },
    ],
    selectedP: [],
    selectedC: [],
    headersFacturas: [
      { text: "N. Factura", value: "numero" },
      { text: "Nombre Fiscal", value: "cliente" },
      { text: "TP", value: "tp" },
      { text: "Tipo", value: "tipo" },
      { text: "Forma de pago", value: "forma_pago" },
      { text: "Base imponible", value: "total" },
      { text: "Total IVA", value: "totalesIva" },
      { text: "Importe Total", value: "totalFinal" },
      { text: "Fecha", value: "fecha" },
      { text: "Fecha Vencimiento", value: "vencimiento" },
      // { text: "Archivo", value: "imagen" },
      { text: "Ver archivo", value: "descargar" },
      { text: "Editar", value: "ver" },
    ],
    headersFacturasClientes: [
      { text: "N. Factura", value: "numero" },
      { text: "Nombre Fiscal", value: "cliente" },
      { text: "Tipo", value: "tipo" },
      { text: "Forma de pago", value: "forma_pago" },
      { text: "Base imponible", value: "total" },
      { text: "Total IVA", value: "totalesIva" },
      { text: "Importe Total", value: "totalFinal" },
      { text: "Fecha", value: "fecha" },
      { text: "Fecha Vencimiento", value: "vencimiento" },
      // { text: "Archivo", value: "imagen" },
      { text: "Ver archivo", value: "descargar" },
      { text: "Editar", value: "ver" },
    ],
    dialogFase: false,
    dates: [],
    fases: [
      "Presupuesto",
      "Diseño - Propuesta",
      "Diseño - Planos técnicos",
      "Producción",
      "Taller",
      "Instalación",
      "Facturación",
      "Cobro",
    ],
    fases2: {
      Presupuesto: ["Presupuesto"],
      Diseño: ["Diseño - Propuesta", "Diseño - Planos técnicos"],
      Producción: ["Producción"],
      Taller: ["Taller"],
      Instalación: ["Instalación"],
      Administración: ["Facturación", "Cobro"],
    },
    proceso: {
      nombre: "",
      inicio: new Date().toISOString().substr(0, 10),
      fin: new Date().toISOString().substr(0, 10),
      responsable: "",
      horas: "",
      incidencia: false,
      incidencias: [],
    },
    ltrPdfData: {},
  }),
  computed: {
    ...mapState([
      "empleados",
      "facturas",
      "contactos",
      "marcas",
      "horasEmpleados",
      "proyectos",
    ]),
    margenRealPct() {
      if (this.totalPrevisto == 0) return "0";
      if (this.totalPrevisto - this.importeFacturas <= 0) return "0";
      return (
        ((this.totalPrevisto - this.importeFacturas) / this.totalPrevisto) *
        100
      ).toFixed(2);
    },
    descuentoTotal() {
      const total = this.presupuesto.importe * this.constanteBL;
      let aDescontar;
      if (this.presupuesto.tipo_descuento == "Importe") {
        aDescontar = Number(this.presupuesto.descuento);
      } else if (this.presupuesto.tipo_descuento == "Porcentaje") {
        aDescontar = (total * this.presupuesto.descuento_pct) / 100;
      } else {
        return total;
      }
      return total - aDescontar;
    },
    constanteBL() {
      if (!this.presupuesto.margenBL) return 1;
      const porcentaje = 1 - Number(this.presupuesto.margenBL) / 100;
      return 1 / porcentaje;
    },
    referenciaUnica() {
      const referencias = this.proyectos.map((p) => p.referencia);
      return [
        (v) =>
          (v && !referencias.includes(v)) || "La referencia debe ser única",
      ];
    },
    referencias() {
      return this.proyectos.map((p) => p.referencia.toString());
    },
    totalPrevisto() {
      return this.costesFacturas
        ?.filter((c) => c.tipo == "cliente")
        ?.map((c) => Number(c?.importe))
        .reduce((a, b) => a + b, 0);
    },
    sumaPrecioHorasPresupuestadas() {
      return this.empleadosProyecto.reduce((total, empleado) => {
        return total + Number(empleado.horas) * Number(empleado.precio);
      }, 0);
    },
    horasEmpleadoPorProyecto() {
      return this.horasEmpleados
        .filter((he) => he.proyecto === this.id)
        .map((he) => ({
          ...he,
          nombre: this.buscarEmpleado(he.empleado)?.nombre,
        }));
    },
    sumaPrecioHorasGastadas() {
      return this.horasEmpleados
        .filter((he) => he.proyecto === this.id)
        .reduce((total, he) => {
          return total + Number(he.horas) * Number(he.costeHora);
        }, 0);
    },
    gastosMappeadosPresupueto() {
      const finalObject = {
        transporte: 0,
        desplazamiento: 0,
        materias: 0,
        gastos: 0,
        otros: 0,
      };

      for (const key in this.presupuesto?.gastos) {
        const gasto = this.presupuesto?.gastos[key];

        switch (true) {
          // Gastos comerciales y Diseño
          case /suministro/.test(key):
          case /siteSurvey/.test(key):
            finalObject.gastos += Number(gasto.importe);
            break;

          // Gastos de Instalación
          case /desplazamiento/.test(key):
          case /hotel/.test(key):
          case /dietas/.test(key):
          case /parkin/.test(key):
          case /taxi/.test(key):
          case /kilometraje/.test(key):
            finalObject.desplazamiento += Number(gasto.importe);
            break;

          // Compra Materiales
          case /materias/.test(key):
          case /reportaje/.test(key):
          case /pavimento/.test(key):
          case /carpinteria/.test(key):
          case /lacador/.test(key):
          case /cristales/.test(key):
          case /metalista/.test(key):
          case /metacrilatos/.test(key):
          case /iluminacion/.test(key):
          case /laser/.test(key):
          case /taburete/.test(key):
          case /vitrum/.test(key):
          case /duratrans/.test(key):
          case /corian/.test(key):
          case /ima/.test(key):
          case /pantallastv/.test(key):
            finalObject.materias += Number(gasto.importe);
            break;

          // Transporte de Ventas
          case /transporte/.test(key):
            finalObject.transporte += Number(gasto.importe);
            break;

          // Otros
          case /otros/.test(key):
            finalObject.otros += Number(gasto.importe);
            break;
        }
      }
      return finalObject;
    },
    fasesProcesos() {
      return Object.values(this.fases2).flat();
    },
    empleadosProyecto() {
      return this.proyecto.timeline.procesos.map((fase) => {
        return {
          ...this.buscarEmpleado(fase.responsable),
          fase: fase.nombre,
          horas: fase.horas,
        };
      });
    },
    empleadosDeProceso() {
      return Object.values(this.$store.getters.cogerEmpleados).filter((e) => {
        let departamento;
        for (const fase in this.fases2) {
          if (this.fases2[fase].includes(this.proceso.nombre)) {
            departamento = fase;
          }
        }
        return departamento == e.departamento;
      });
    },
    empleadosDeProcesoEditando() {
      return Object.values(this.$store.getters.cogerEmpleados).filter((e) => {
        let departamento;
        for (const fase in this.fases2) {
          if (this.fases2[fase].includes(this.incidencia.proceso.nombre)) {
            departamento = fase;
          }
        }
        return departamento == e.departamento;
      });
    },
    sortedDates() {
      return this.dates.sort();
    },
    presupuesto() {
      const presupuesto = Object.values(
        this.$store.getters.cogerPresupuestos
      ).find((f) => f.proyecto == this.id);

      if (presupuesto && !presupuesto.gastos) presupuesto.gastos = {};
      return presupuesto;
    },
    costesFacturas() {
      const todosCostes = [];
      const factura = {};
      if (!this.facturas) return [];
      this.facturas.forEach((f) => {
        if (!f.detalles) return;
        f.detalles.forEach((d) => {
          if (d.proyecto == this.id) {
            // factura[this.buscarContacto(f.contacto)] = d;
            todosCostes.push({
              ...d,
              codigo: f.numero,
              cliente: f.cliente ? this.buscarContacto(f.cliente) : "Gastos",
              tipo: f.tipo,
            });
          }
        });
      });
      return todosCostes;
    },
    importeFacturas() {
      if (this.costesFacturas.length) {
        return (
          this.costesFacturas
            ?.filter((f) => f.tipo != "cliente")
            .map((f) => +f.importe)
            .reduce((a, b) => a + b, 0) + this.sumaPrecioHorasGastadas
        );
      } else {
        return 0;
      }
    },
    facturasProyecto() {
      return this.facturas
        .filter(
          (f) =>
            f.detalles?.some((d) => d.proyecto == this.id) &&
            f.tipo !== "cliente"
        )
        .map((f) => {
          return {
            ...f,
            tp: this.tpDeEsteProyecto(f),
            forma_pago: f.forma_pago || "Efectivo",
            cliente: this.buscarContacto(f?.cliente) || "Gastos",
            totalFinal: this.cambioAMoneda(
              this.totalFacturasDeEsteProyecto(f) * 1.21
            ),
            total: this.cambioAMoneda(this.totalFacturasDeEsteProyecto(f)),
            totalesIva: this.cambioAMoneda(
              this.totalFacturasDeEsteProyecto(f) * 0.21
            ),
          };
        });
    },
    facturasProyectoCliente() {
      return this.facturas
        .filter(
          (f) =>
            f.detalles?.some((d) => d.proyecto == this.id) &&
            f.tipo === "cliente"
        )
        .map((f) => {
          return {
            ...f,
            cliente: this.buscarContacto(f?.cliente) || "Gastos",
            totalFinal: this.cambioAMoneda(
              this.totalFacturasDeEsteProyecto(f) * 1.21
            ),
            total: this.cambioAMoneda(this.totalFacturasDeEsteProyecto(f)),
            totalesIva: this.cambioAMoneda(
              this.totalFacturasDeEsteProyecto(f) * 0.21
            ),
          };
        });
    },
    proyectoString() {
      return JSON.stringify(
        this.proyectos?.slice().find((p) => p.id == this.id)
      );
    },
    proyecto() {
      return this.proyectoString && JSON.parse(this.proyectoString);
    },
    estadoActivo() {
      if (this.proyecto.timeline.procesos.find((p) => p.activo)) {
        return this.proyecto.timeline.procesos.find((p) => p.activo);
      }
      return "Nada activo";
    },
    cliente() {
      return Object.values(this.$store.getters.cogerContactos).find(
        (c) => c.id == this.proyecto.cliente
      );
    },
    items() {
      return [
        {
          text: this.buscarNombreMarca(this.proyecto.marca),
          disabled: false,
          to: "/crearMarca/" + this.proyecto.marca,
          exact: true,
        },
        {
          text: this.buscarContacto(this.proyecto.cliente),
          disabled: false,
          to: "/crearCliente/" + this.proyecto.cliente,
        },
        {
          text: this.proyecto.nombre,
          disabled: true,
        },
      ];
    },
    anchura() {
      if (this.proyecto.timeline.procesos.length === 1) return 50;
      if (this.proyecto.timeline.procesos.length > 7) return 10;
      return 85 / this.proyecto.timeline.procesos.length;
    },
  },
  mounted() {
    this.cogerDocumentosStorage();
    const interval = setInterval(() => {
      const iframeDocument = document.getElementById("iframe");
      if (
        iframeDocument &&
        iframeDocument.contentWindow &&
        iframeDocument.contentWindow.pdf
      ) {
        iframeDocument.contentWindow.pdf.data = this.prepararLTRPDFdata();
        this.pdfLTRref = iframeDocument;
        clearInterval(interval);
      }
    }, 100);
  },
  watch: {},
  methods: {
    // Generadores de PDF
    downloadPDF(type) {
      this.pdfLTRref.style.left = "0px";
      this.pdfLTRref.contentWindow.pdf[type]();
      const interval = setInterval(() => {
        let closePdfButton = this.pdfLTRref.contentDocument.querySelector(
          ".pdf-preview button"
        );
        if (closePdfButton) {
          closePdfButton.addEventListener("click", () => {
            this.pdfLTRref.style.left = "5845px";
            closePdfButton = null;
          });
          clearInterval(interval);
        }
      }, 100);
    },
    prepararLTRPDFdata() {
      const tp = ["TV", "VC", "", "MI - VI", "OTRO"];
      const { codigo, nombreFiscal } = this.cliente;
      this.ltrPdfData.cliente = { codigo, nombreFiscal };
      const { estado, fechaAlta, referencia, nombre } = this.proyecto;
      this.ltrPdfData.proyecto = { estado, fechaAlta, referencia, nombre };
      const campos = Object.entries(this.campos);
      let totalProyecto = 0;
      campos.forEach((campo, i) => {
        const key = campo[0];
        this.ltrPdfData[key] = {};
        this.ltrPdfData[key].name = this.tituloCorrecto(key);
        this.ltrPdfData[key].total = this.cambioAMoneda(
          this.gastoTotalPorTipo(key)
        );
        this.ltrPdfData[key].tp = tp[i];
        totalProyecto += this.gastoTotalPorTipo(key);
        this.ltrPdfData[key].costesportipo = this.costesportipo(key);
        this.ltrPdfData[key].gastoTotalPorTipo = this.gastoTotalPorTipo(key);
      });
      const gastosPersonal = this.horasEmpleadoPorProyecto.reduce(
        (suma, empleado) =>
          suma + Number(empleado.horas) * Number(empleado.costeHora),
        0
      );
      totalProyecto += gastosPersonal;
      this.ltrPdfData.gastosPersonal = {};
      this.ltrPdfData.gastosPersonal.name = "Gastos Personal";
      this.ltrPdfData.gastosPersonal.total = this.cambioAMoneda(gastosPersonal);
      this.ltrPdfData.gastosPersonal.tp = "";
      this.ltrPdfData.gastosPersonal.costesportipo = this.horasEmpleadoPorProyecto.map(
        (empl) => {
          return {
            ...empl,
            total: this.cambioAMoneda(
              Number(empl.horas) * Number(empl.costeHora)
            ),
          };
        }
      );
      this.ltrPdfData.gastosPersonal.gastoTotalPorTipo = gastosPersonal;
      this.ltrPdfData.totalProyecto = this.cambioAMoneda(totalProyecto);
      // Start Alex template 3
      // this.ltrPdfData.proveedores = { codigo, nombreFiscal };
      return this.ltrPdfData;
    },
    barraGastos(key) {
      return this.cambioAMoneda(this.gastosMappeadosPresupueto[key] ?? 0);
    },
    tituloCorrecto(titulo) {
      switch (titulo) {
        case "transporte":
          return "Transporte de Ventas";

        case "gastos":
          return "Gastos comerciales y Diseño";

        case "materias":
          return "Compra Materiales";

        case "desplazamiento":
          return "Gastos de Instalación";

        case "otros":
          return "Otros";

        default:
          return titulo;
      }
    },
    totalFacturasDeEsteProyecto(item) {
      const totalDetalles = item.detalles
        .filter((d) => d.proyecto === this.id)
        .map((d) => +d.importe)
        .reduce((a, b) => a + b, 0);
      return totalDetalles;
    },
    tpDeEsteProyecto(item) {
      const tpDetalles = item.detalles.find((d) => d.proyecto === this.id);
      return tpDetalles?.tp;
    },
    cambioAMoneda(v) {
      return valorAMoneda(v);
    },
    editarFase(item) {
      this.currentFase = item;
      this.proceso = {
        nombre: item.nombre,
        inicio: item.inicio,
        fin: item.fin,
        horas: item.horas,
      };
      const responsable = this.empleados.find(
        (c) => c.nombre == item.responsable.nombre
      );

      this.proceso.responsable = responsable;
      this.dialogFase = true;
    },
    addProceso() {
      if (this.$refs.formCrearProceso.validate()) {
        const nombres = this.proyecto.timeline.procesos.map((n) => n.nombre);
        if (nombres.includes(this.proceso.nombre)) {
          const mismonombre = confirm(
            "Ya existe un proceso con el mismo nombre, ¿quieres continuar de todos modos?"
          );
          if (!mismonombre) {
            return;
          }
        }

        this.proceso.inicio = this.sortedDates[0];
        this.proceso.fin = this.sortedDates[1];
        if (this.currentFase) {
          this.proyecto.timeline.procesos.splice(
            this.proyecto.timeline.procesos.indexOf(this.currentFase),
            1
          );
        }
        this.proyecto.timeline.procesos.push(this.proceso);
        this.dialogFase = false;
        this.currentFase = null;
        this.cleanProceso();
      }
    },
    eliminarProceso(item) {
      const accept = confirm(
        "Esto eliminará la fase para siempre. Este proceso no puede deshacerse."
      );

      if (accept) {
        this.proyecto.timeline.procesos.splice(
          this.proyecto.timeline.procesos.indexOf(item),
          1
        );
        this.dialog = false;
      }
    },
    cleanProceso() {
      const proceso = {
        nombre: "",
        activo: false,
        inicio: "",
        fin: "",
        responsable: "",
        horas: "",
        incidencia: false,
        incidencias: [],
      };
      this.proceso = proceso;
    },

    removeProceso(index) {
      this.proyecto.timeline.procesos.splice(index, 1);
    },
    costesportipo(tipo) {
      const tipos = this.campos[tipo];
      return this.costesFacturas.filter((f) => tipos.includes(f.tp));
    },
    gastoTotalPorTipo(key) {
      return this.costesportipo(key).length > 0
        ? this.costesportipo(key)
            .map((c) => Number(c?.importe))
            .reduce((a, b) => a + b)
        : 0;
    },

    calculoBarra(ingresos) {
      return (ingresos * 100) / this.presupuesto?.importe;
    },
    cogerDocumentosStorage() {
      this.documentos = [];
      const docs = firebase.storage().ref("proyectos").child(this.id);

      docs.listAll().then((result) => {
        result.items.forEach((i) => {
          const obj = {
            name: i.name,
          };
          i.getDownloadURL().then((url) => {
            obj.url = url;
            this.documentos.push(obj);
          });
        });
      });
    },
    async eliminar(name) {
      await firebase
        .storage()
        .ref("proyectos/" + this.id + "/" + name)
        .delete()
        .then(() => {
          this.cogerDocumentosStorage();
        });
    },
    async subirDocumento() {
      const storage = await firebase
        .storage()
        .ref("proyectos/")
        .child(this.id + "/" + this.documento.name);
      const doc = await storage.put(this.documento);
      storage.getDownloadURL().then((url) => {
        this.cogerDocumentosStorage();
        this.upload = false;
      });
    },
    descargar(imagen) {
      download(imagen);
    },
    buscarContacto(id) {
      return this.contactos.find((c) => c.id == id)?.nombre_fiscal;
    },
    buscarNombreMarca(id) {
      return this.marcas.find((m) => m.id == id).nombre;
    },
    buscarEmpleado(id) {
      return this.empleados.find((c) => c.id == id);
    },
    clonarObjeto(a, b) {
      let prop;
      for (prop in a) delete a[prop];
      for (prop in b) a[prop] = b[prop];
    },
    abrirIncidenciaFase(fase) {
      this.dialog = true;
      this.incidencia.proceso = fase;
      this.proyectoInicial = JSON.stringify(fase);
    },
    actualizar() {
      firebase
        .database()
        .ref("proyectos/" + this.id)
        .update(this.proyecto)
        .then(() => {
          this.snackbar = true;
        });
    },
    noActualizar() {
      const pro = this.proyecto.timeline.procesos.find(
        (p) => p.nombre == this.incidencia.proceso.nombre
      );

      // this.clonarObjeto(pro, JSON.parse(this.proyectoInicial));
      Object.assign(pro, JSON.parse(this.proyectoInicial));
      this.cambios = false;
      this.dialog = false;
    },
    guardarIncidencia() {
      const pro = this.proyecto.timeline.procesos.find(
        (p) =>
          JSON.stringify(p) == JSON.stringify(this.incidencia.proceso.nombre)
      );
      this.dialog = false;
      const proyectoGuardado = JSON.parse(this.proyectoInicial);
      if (pro.inicio > pro.fin) {
        alert("La fecha inicial no puede ser mayor que la final");
        this.dialog = true;
        this.noActualizar();
        return;
      }
      pro.detalleIncidencia = this.incidencia.detalle;
      pro.incidencia = this.incidencia.proceso.incidencia;

      if (proyectoGuardado.inicio != pro.inicio && !pro.inicioUpdated) {
        pro.inicioOriginal = proyectoGuardado.inicio;
        pro.inicioUpdated = true;
      }
      if (proyectoGuardado.fin != pro.fin && !pro.finUpdated) {
        pro.finOriginal = proyectoGuardado.fin;
        pro.finUpdated = true;
      }
      pro.update = true;
      this.actualizar();
    },
    change(nombre) {
      // let pro = this.proyecto.timeline.procesos.find(p => p.nombre == nombre);
      // pro.activo = !pro.activo;
    },
    convertDate(inputFormat) {
      const d = new Date(inputFormat);
      const month = [
        "Enero",
        "Febrero",
        "Marzo",
        "Abril",
        "Mayo",
        "Junio",
        "Julio",
        "Agosto",
        "Septiembre",
        "Octubre",
        "Noviembre",
        "Diciembre",
      ];

      return [d.getDate(), month[d.getMonth()], d.getFullYear()].join(" ");
    },
    comprobarCambios(fase) {
      if (Object.is(this.proyectoInicial, JSON.stringify(fase))) {
        this.dialog = false;
      } else {
        this.cambios = true;
      }
    },
  },
};
</script>

<style>
/* .incidencia {
   border-radius: 10px;
  box-shadow: 0px 0px 2px 2px #ff7979;
}

.update {
   border-radius: 10px;
  box-shadow: 0px 0px 2px 2px #79b3ff;
} */

.mini > * {
  font-size: 12px;
}

header.v-sheet.v-sheet--tile.theme--dark.v-toolbar.primary {
  margin: 0;
}

.responsable {
  min-height: 150px;
}

.fase {
  position: relative;
  border: 1px solid lightgray !important;
}

.icons {
  position: absolute;
  left: 10px;
  top: 55px;
  z-index: 100;
}

/* .updatedIcon {
  position: absolute;
  left: 5px;
  top: 50px;
}

.incidenciaIcon {
  position: absolute;
  left: 30px;
  top: 50px;
} */
</style>
