<template>
  <!-- <v-img src="../assets/crearFactura.png" class="mt-10"></v-img> -->
  <v-container fluido class="top">
    <p class="headline mb-4">Creación de Factura</p>
    <v-card class="pa-1">
      <v-layout row wrap>
        <v-flex xs4 class="pa-4">
          <!-- <v-text-field
            v-model="factura.cliente.info.nombre_fiscal"
            label="Cliente"
            outlined
            readonly
          ></v-text-field>-->
          <v-select
            :items="contactos"
            item-text="info.nombre_fiscal"
            return-object
            v-model="cliente"
            label="Cliente"
            outlined
          ></v-select>
        </v-flex>
        <v-flex xs4 class="pa-4">
          <v-select
            :items="proyectos"
            item-text="nombre"
            return-object
            v-model="proyecto"
            label="Proyectos"
            outlined
            no-data-text="Esta marca no tiene clientes asociados"
          ></v-select>
        </v-flex>
      </v-layout>
      <v-layout row wrap>
        <v-flex xs3 class="pa-4">
          <v-text-field
            v-model="factura.numero"
            label="Numero de Factura"
            outlined
            required
          ></v-text-field>
        </v-flex>
        <v-flex xs3 class="pa-4">
          <v-text-field
            v-model="factura.factura"
            label="Su factura"
            outlined
            required
          ></v-text-field>
        </v-flex>
        <v-flex xs3 class="pa-4">
          <v-select
            :items="proveedores"
            item-text="info.nombre_fiscal"
            return-object
            v-model="proveedor"
            label="Proveedor"
            outlined
            no-data-text="No existen proveedores"
          ></v-select>
        </v-flex>
      </v-layout>
      <v-layout row wrap>
        <v-flex xs6 class="pa-4">
          <v-text-field
            v-model="factura.fecha"
            label="Fecha"
            outlined
            required
          ></v-text-field>
          <v-text-field
            v-model="factura.total"
            label="Total"
            outlined
            required
          ></v-text-field>
        </v-flex>
        <v-flex xs6 class="pa-4">
          <v-text-field
            v-model="factura.nombre"
            label="Su factura"
            outlined
            required
          ></v-text-field>
        </v-flex>
      </v-layout>
    </v-card>
    <v-card class="mt-4">
      <v-card-title primary-title>Forma de Cobro / Pago</v-card-title>
      <v-layout row wrap>
        <v-flex xs3 class="pa-5">
          <v-text-field
            v-model="factura.forma_pago"
            label="Forma"
            outlined
            required
          ></v-text-field>
        </v-flex>
        <v-flex xs3 class="pa-5">
          <v-text-field
            v-model="factura.vencimientos"
            label="Venciminetos"
            outlined
            required
          ></v-text-field>
        </v-flex>
        <v-flex xs3 class="pa-5">
          <v-text-field
            v-model="factura.dias_vencimiento1"
            label="Días hasta 1 vencimiento"
            outlined
            required
          ></v-text-field>
        </v-flex>
        <v-flex xs3 class="pa-5">
          <v-text-field
            v-model="factura.dias_entre"
            label="Dias entre vencimientos"
            outlined
            required
          ></v-text-field>
        </v-flex>
      </v-layout>
      <v-layout row wrap>
        <v-flex xs12 class="pa-5">
          <v-text-field
            v-model="factura.medio"
            label="Medio de Cobro"
            outlined
            required
          ></v-text-field>
          <v-text-field
            v-model="factura.iban"
            label="IBAN"
            outlined
            required
          ></v-text-field>
          <v-text-field
            v-model="factura.swift"
            label="SWIFT"
            outlined
            required
          ></v-text-field>
        </v-flex>
      </v-layout>
    </v-card>
    <v-card class="mt-4">
      <v-card-title primary-title>Detalle</v-card-title>
      <v-layout row wrap class="justify-space-between">
        <v-flex xs1 class="pl-5">
          <span>TP</span>
        </v-flex>
        <v-flex xs2 class="pl-5">
          <span>Importe</span>
        </v-flex>
        <v-flex xs1 class="pl-5">
          <span>IVA</span>
        </v-flex>
        <v-flex xs3 class="pl-5">
          <span>Concepto</span>
        </v-flex>
        <v-flex xs5 class="pl-5">
          <span>Descripción</span>
        </v-flex>
      </v-layout>
      <v-layout
        row
        wrap
        v-for="(detalle, i) in detalles"
        :key="i"
        class="justify-space-between"
      >
        <v-flex xs1 class="pl-5">
          <v-text-field
            readonly
            v-model="detalles[i].tp"
            outlined
            required
          ></v-text-field>
        </v-flex>
        <v-flex xs2 class="pl-5">
          <v-text-field
            readonly
            v-model="detalles[i].importe"
            outlined
            required
          ></v-text-field>
        </v-flex>
        <v-flex xs1 class="pl-5">
          <v-text-field
            readonly
            v-model="detalles[i].iva"
            label="Dias"
            outlined
            required
          ></v-text-field>
        </v-flex>
        <v-flex xs3 class="pl-5">
          <v-text-field
            readonly
            v-model="detalles[i].concepto"
            label="Dias"
            outlined
            required
          ></v-text-field>
        </v-flex>
        <v-flex xs5 class="px-5">
          <v-text-field
            readonly
            :value="detalles[i].descripcion"
            label="Dias entre vencimientos"
            outlined
            required
          ></v-text-field>
        </v-flex>
      </v-layout>
      <v-layout row wrap class="pl-5 pb-5 mt-4">
        <v-btn block color="primary" @click="dialog = true">Añadir</v-btn>
      </v-layout>
    </v-card>
    <v-card class="mt-4">
      <v-card-title primary-title>Totales</v-card-title>
      <v-layout row wrap class="justify-space-between">
        <v-flex xs2 class="pl-5">
          <span>Base imponible</span>
        </v-flex>
        <v-flex xs1 class="pl-5">
          <span>Descuento</span>
        </v-flex>
        <v-flex xs1 class="pl-5">
          <span>IVA</span>
        </v-flex>
        <v-flex xs2 class="pl-5">
          <span>Recargo equivalencia</span>
        </v-flex>
        <v-flex xs2 class="pl-5">
          <span>Subtotales</span>
        </v-flex>
        <v-flex xs4 class="pl-5">
          <span>TOTAL</span>
        </v-flex>
      </v-layout>
      <v-layout row wrap>
        <v-flex xs2 class="pl-5">
          <v-text-field outlined readonly></v-text-field>
        </v-flex>
        <v-flex xs1 class="pl-5">
          <v-text-field
            v-model="factura.tp"
            label="TP"
            outlined
            required
          ></v-text-field>
        </v-flex>
        <v-flex xs1 class="pl-5">
          <v-text-field
            v-model="factura.tp"
            label="Dias"
            outlined
            required
          ></v-text-field>
        </v-flex>
        <v-flex xs2 class="pl-5">
          <v-text-field
            v-model="factura.tp"
            label="Dias"
            outlined
            required
          ></v-text-field>
        </v-flex>
        <v-flex xs2 class="pl-5">
          <v-text-field
            v-model="factura.tp"
            label="Dias"
            outlined
            required
          ></v-text-field>
        </v-flex>
        <v-flex xs4 class="px-5">
          <v-text-field v-model="total" outlined readonly></v-text-field>
        </v-flex>
      </v-layout>
    </v-card>
    <v-layout row wrap class="justify-center mt-12">
      <v-btn color="primary" @click="guardarFactura()">Guardar Factura</v-btn>
    </v-layout>

    <v-dialog
      v-model="dialog"
      persistent
      max-width="80%"
      transition="dialog-transition"
    >
      <v-card>
        <v-card-title primary-title>Añadir detalle</v-card-title>
        <v-layout row wrap class="justify-space-between">
          <v-flex xs1 class="pl-5">
            <v-select
              :items="[1, 2, 3, 4]"
              item-text="info.nombre_fiscal"
              return-object
              v-model="detalle.tp"
              label="TP"
              outlined
              no-data-text="No existen proveedores"
            ></v-select>
          </v-flex>
          <v-flex xs2 class="pl-5">
            <v-text-field
              v-model="detalle.importe"
              label="TP"
              outlined
              required
            ></v-text-field>
          </v-flex>
          <v-flex xs1 class="pl-5">
            <v-text-field
              v-model="detalle.iva"
              label="Dias"
              outlined
              required
            ></v-text-field>
          </v-flex>
          <v-flex xs3 class="pl-5">
            <v-text-field
              v-model="detalle.concepto"
              label="Dias"
              outlined
              required
            ></v-text-field>
          </v-flex>
          <v-flex xs5 class="px-5">
            <v-text-field
              v-model="detalle.descripcion"
              label="Dias entre vencimientos"
              outlined
              required
            ></v-text-field>
          </v-flex>
        </v-layout>
        <v-layout row wrap class="justify-center">
          <v-btn block color="primary" @click="guardarDetalle()"
            >Guardar detalle</v-btn
          >
        </v-layout>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import firebase from 'firebase'
export default {
  props: ['id'],
  data() {
    return {
      dialog: false,
      factura: {},
      detalles: [],
      detalle: {},
      cliente: {
        info: {
          nombre_fiscal: ''
        }
      },
      proveedor: {},
      proyecto: {},
      marca: {}
    }
  },
  methods: {
    guardarFactura() {
      console.log(this.id, this.factura)
      firebase
        .database()
        .ref('facturas/' + this.id)
        .update(this.factura)
        .then((e) => {
          alert('Factura añadida')
          this.$router.push('/facturas')
        })
    },
    guardarDetalle() {
      this.factura.detalles.push(this.detalle)
      this.detalle = {}
      this.dialog = false
    }
  },
  created() {
    this.detalles = this.facturaC.detalles
    this.factura = this.facturaC
    this.cliente = this.facturaC.cliente
    this.proyecto = this.facturaC.proyecto
    this.proveedor = this.facturaC.proveedor
  },
  updated() {
    this.factura.cliente = this.cliente
    this.factura.proyecto = this.proyecto
    this.factura.proveedor = this.proveedor
    this.factura.total = this.total
  },
  computed: {
    total() {
      return this.detalles.map((d) => Number(d.importe)).reduce((a, b) => a + b)
    },
    facturaC() {
      return Object.values(this.$store.getters.cogerFacturas).find(
        (f) => f.id == this.id
      )
    },
    contactos() {
      return Object.values(this.$store.getters.cogerContactos)
    },
    proyectos() {
      return Object.values(this.$store.getters.cogerProyectos).filter(
        (p) =>
          p.detalle.cliente.info.nombre_fiscal ==
          this.cliente.info.nombre_fiscal
      )
    },
    proveedores() {
      return this.contactos.filter((c) => c.modelo == 'Proveedor')
    },
    marcas() {
      return Object.values(this.$store.getters.cogerMarcas)
    }
  }
}
</script>

<style></style>
