<template>
  <v-container fluid class="mx-3 top" v-if="presupuesto" id="capture">
    <!-- Elementos para EDITAR PRESUPUESTO -->
    <!-- Elementos para EDITAR PRESUPUESTO -->
    <!-- Elementos para EDITAR PRESUPUESTO -->
    <!-- Elementos para EDITAR PRESUPUESTO -->
    <!-- Elementos para EDITAR PRESUPUESTO -->
    <!-- Elementos para EDITAR PRESUPUESTO -->
    <v-layout row wrap v-if="id != 'crear'">
      <v-col cols="2">
        <v-text-field
          label="Referencia"
          :value="buscarRefProyecto(presupuesto.proyecto)"
          disabled
          readonly
          class="mr-5"
        ></v-text-field>
      </v-col>
      <v-col cols="3">
        <v-text-field
          label="Proyecto"
          :value="buscarNombreProyecto(presupuesto.proyecto)"
          disabled
          readonly
          class="mr-5"
        ></v-text-field>
        <v-btn
          v-if="presupuesto.proyecto"
          class="new_text"
          text
          x-small
          :to="'/detalleProyecto/' + presupuesto.proyecto"
          >Ver detalle de proyecto</v-btn
        >
      </v-col>
      <v-col cols="6" class="d-flex">
        <v-text-field
          label="Cliente"
          :value="buscarNombreCliente(presupuesto.cliente)"
          readonly
          class="mr-5"
          disabled
        ></v-text-field>
        <v-text-field
          disabled
          label="Marca"
          :value="buscarNombreMarca(presupuesto.marca)"
          readonly
        ></v-text-field>
      </v-col>
      <v-col cols="3" class="d-flex">
        <v-select
          :items="['Pendiente', 'Aceptado', 'Denegado']"
          label="Estado"
          :value="presupuesto.estado"
          v-model="estadoCrear"
          class="mr-5"
        ></v-select>
      </v-col>
      <v-col cols="3" class="d-flex" v-if="estadoCrear === 'Denegado'">
        <v-text-field
          label="Motivo de rechazo"
          :value="presupuesto.motivoRechazo"
          v-model="motivoRechazoCrear"
        ></v-text-field>
      </v-col>
    </v-layout>

    <!-- elementos para el CREAR PRESUPUESTO -->
    <!-- elementos para el CREAR PRESUPUESTO -->
    <!-- elementos para el CREAR PRESUPUESTO -->
    <!-- elementos para el CREAR PRESUPUESTO -->
    <!-- elementos para el CREAR PRESUPUESTO -->
    <!-- elementos para el CREAR PRESUPUESTO -->
    <v-layout wrap v-else>
      <v-col cols="6">
        <v-autocomplete
          :items="proyectosOrdenados"
          item-text="nombre"
          item-value="id"
          v-model="proyectoSeleccionado"
          label="Selecciona un proyecto"
        ></v-autocomplete>
      </v-col>
      <v-col cols="6" class="d-flex">
        <v-text-field
          label="Ciente"
          v-model="clienteCrear"
          :disabled="!proyectoSeleccionado"
          readonly
          class="mr-5"
        ></v-text-field>
        <v-text-field
          :disabled="!proyectoSeleccionado"
          label="Marca"
          v-model="marcaCrear"
          readonly
        ></v-text-field>
      </v-col>
      <v-col cols="3" class="d-flex">
        <v-select
          label="Estado"
          :items="['Pendiente', 'Aceptado', 'Denegado']"
          v-model="estadoCrear"
          class="mr-5"
        ></v-select>
      </v-col>
      <v-col cols="3" class="d-flex" v-if="estadoCrear === 'Denegado'">
        <v-text-field
          label="Motivo de rechazo"
          v-model="motivoRechazoCrear"
        ></v-text-field>
      </v-col>
    </v-layout>

    <!-- ELEMENTOS -->
    <v-card width="96%" class="pa-3 mb-5">
      <v-row>
        <v-col cols="12">
          <span class="subtitle">Componentes</span>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12">
          <div class="componentes">
            <v-data-table
              :headers="headers"
              :items="Object.values(carritoCantidades)"
              class="elevation-1 scroll-y overflow-hidden"
              :items-per-page="300"
              locale="es"
              no-data-text="No hay componentes añadidos"
              :options="{
                page: 1,
                itemsPerPage: 5,
                multiSort: true,
              }"
            >
              <template v-slot:item.total="{ item }">
                <span>{{ formatoMoneda(item.importe * item.cantidad) }}</span>
              </template>

              <template v-slot:item.cantidad="{ item }">
                <v-icon
                  small
                  color="error"
                  size="10"
                  @click="removeComponente(item)"
                  class="mr-3"
                  >mdi-minus-circle</v-icon
                >
                <span>{{ item.cantidad }}</span>
                <v-icon
                  small
                  color="success"
                  size="10"
                  class="ml-3"
                  @click="addComponente(item)"
                  >mdi-plus-circle</v-icon
                >
              </template>
              <template v-slot:item.margen="{ item }">
                <span>{{
                  importeDeMargenBL(item.importe * item.cantidad)
                }}</span>
              </template>
              <template v-slot:item.venta="{ item }">
                <span>{{
                  importeConMargenBL(item.importe * item.cantidad)
                }}</span>
              </template>
            </v-data-table>
          </div>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="4"></v-col>
        <v-col cols="4">
          <v-text-field
            name="totalComponentes"
            label="Coste Total Componentes"
            :value="formatoMoneda(importeComponentes)"
            reverse
            readonly
          ></v-text-field>
        </v-col>
        <v-col cols="4">
          <v-text-field
            name="precioVentaTotalComponentes"
            label="Precio Venta Total Componentes"
            :value="importeConMargenBL(importeComponentes)"
            reverse
            readonly
          ></v-text-field>
        </v-col>
      </v-row>
    </v-card>

    <!-- CONCEPTOS -->
    <v-card width="96%" class="pa-3 mb-5">
      <v-row>
        <v-col cols="2" class="d-flex justify-space-between align-center">
          <span class="subtitle">Conceptos</span>
          <v-tooltip right>
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                icon
                color="primary"
                @click="crearConcepto"
                v-bind="attrs"
                v-on="on"
              >
                <v-icon>mdi-plus</v-icon>
              </v-btn>
            </template>
            <span>Crear concepto</span>
          </v-tooltip>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12">
          <v-data-table
            :headers="headersConceptos"
            :items="arraydeGastos"
            class="elevation-1 scroll-y overflow-hidden"
            locale="es"
            no-data-text="No hay conceptos añadidos"
          >
            <template v-slot:item.importe="{ item }">
              <span>{{ formatoMoneda(item.importe) }}</span>
            </template>
            <template v-slot:item.margen="{ item }">
              <span>{{ importeDeMargenBL(item.importe) }}</span>
            </template>
            <template v-slot:item.venta="{ item }">
              <span>{{ importeConMargenBL(item.importe) }}</span>
            </template>
            <template v-slot:item.actions="{ item }">
              <v-btn x-small color="primary" @click="editar(item)">
                <v-icon small>mdi-pencil</v-icon>
              </v-btn>
              <v-btn x-small color="error" @click="borrar(item)">
                <v-icon small>mdi-delete</v-icon>
              </v-btn>
            </template>
          </v-data-table>
        </v-col>
      </v-row>
      <v-row v-if="arraydeGastos.length">
        <v-col cols="4"></v-col>
        <v-col cols="4">
          <v-text-field
            name="totalConceptos"
            label="Coste Total Conceptos"
            :value="formatoMoneda(totalGastosExternos)"
            reverse
            readonly
          ></v-text-field>
        </v-col>
        <v-col cols="4">
          <v-text-field
            name="precioVentaTotalConceptos"
            label="Precio Venta Total Conceptos"
            :value="importeConMargenBL(totalGastosExternos)"
            reverse
            readonly
          ></v-text-field>
        </v-col>
      </v-row>
    </v-card>

    <!-- MANO DE OBRA -->
    <v-card width="96%" class="pa-3 mb-5">
      <v-row>
        <v-col cols="12">
          <span class="subtitle">Mano de obra</span>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12">
          <v-data-table
            :headers="headersHoras"
            :items="manoDeObra"
            hide-default-footer
            class="elevation-1"
          >
            <template v-slot:item.total="{ item }">
              <span>{{ formatoMoneda(item.precio * item.horas) }}</span>
            </template>
            <template v-slot:item.margen="{ item }">
              <span>{{ importeDeMargenBL(item.precio * item.horas) }}</span>
            </template>
            <template v-slot:item.venta="{ item }">
              <span>{{ importeConMargenBL(item.precio * item.horas) }}</span>
            </template>
          </v-data-table>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="4"></v-col>
        <v-col cols="4">
          <v-text-field
            name="totalInterno"
            label="Coste Total Interno"
            :value="formatoMoneda(totalPrecioHoras)"
            reverse
            readonly
          ></v-text-field>
        </v-col>
        <v-col cols="4">
          <v-text-field
            name="precioVentaTotalInerno"
            label="Precio Venta Total Interno"
            :value="importeConMargenBL(totalPrecioHoras)"
            reverse
            readonly
          ></v-text-field>
        </v-col>
      </v-row>
    </v-card>

    <!-- TOTALES -->
    <v-card width="96%" class="pa-3 mb-5">
      <v-row>
        <v-col cols="2 offset-4">
          <v-text-field
            name="total"
            label="Coste Total"
            :value="formatoMoneda(totalCoste)"
            reverse
            readonly
          ></v-text-field>
        </v-col>
        <v-col cols="2">
          <v-text-field
            name="margenBL"
            label="MargenBL (%)"
            type="number"
            v-model="margenBL"
            reverse
          ></v-text-field>
        </v-col>
        <v-col cols="4">
          <v-text-field
            name="precioVentaTotal"
            label="Precio Venta Total"
            :value="importeConMargenBL(totalCoste)"
            reverse
            readonly
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="2 offset-4">
          <v-select
            :items="['Importe', 'Porcentaje']"
            v-model="tipo_descuento"
            label="Selecciona tipo descuento"
          ></v-select>
        </v-col>
        <v-col cols="2" v-if="tipo_descuento == 'Importe'">
          <v-text-field
            name="descuento"
            label="Descuento"
            v-model="descuento"
            @blur="(e) => moneda(e)"
            reverse
          ></v-text-field>
        </v-col>
        <v-col cols="2" v-else-if="tipo_descuento == 'Porcentaje'">
          <v-text-field
            name="descuento_pct"
            label="Descuento (%)"
            type="number"
            v-model="descuento_pct"
            reverse
          ></v-text-field>
        </v-col>
        <v-col cols="4">
          <v-text-field
            name="precioVentaTotalFinal"
            label="Precio Venta Total Final"
            :value="descuentoTotal"
            reverse
            readonly
          ></v-text-field>
        </v-col>
      </v-row>
    </v-card>

    <v-row>
      <v-col class="mt-4 d-flex justify-center" cols="6">
        <v-btn color="secondary" @click="$store.state.dialogDetalleCrear = true"
          >Crear nuevo componente</v-btn
        >
      </v-col>
      <v-col class="mt-4 d-flex justify-center" cols="6">
        <v-btn color="primary" @click="addPresupuesto"
          >Guardar Presupuesto</v-btn
        >
      </v-col>
    </v-row>

    <v-row>
      <galeria v-if="componentesCliente" :componentes="componentesCliente" />
    </v-row>

    <div id="shot"></div>

    <!-- DIALOGS -->
    <v-dialog
      v-model="dialogDetalle"
      persistent
      overlay
      transition="dialog-transition"
      max-width="80%"
    >
      <v-card>
        <Detalle v-if="dialogDetalle" :id="detalleID" />
      </v-card>
    </v-dialog>

    <v-dialog
      v-model="dialogDetalleCrear"
      persistent
      overlay
      transition="dialog-transition"
      max-width="80%"
    >
      <v-card>
        <Detalle
          v-if="dialogDetalleCrear && id != 'crear'"
          id="crear"
          :clienteEnviado="presupuesto.cliente"
          :marcaEnviada="presupuesto.marca"
        />
        <Detalle
          v-if="dialogDetalleCrear && id == 'crear'"
          id="crear"
          :clienteEnviado="idClienteCrear"
          :marcaEnviada="idMarcaCrear"
        />
      </v-card>
    </v-dialog>

    <v-dialog
      v-model="dialogCrearConcepto"
      transition="dialog-transition"
      persistent
      max-width="40%"
    >
      <v-card class="px-2">
        <v-card-title>{{
          editandoConcepto ? "Editar concepto" : "Crear Concepto"
        }}</v-card-title>
        <v-card-text>
          <v-row>
            <v-col cols="12">
              <v-select
                :disabled="editandoConcepto"
                v-model="nombreNuevoConcepto"
                :items="gastosString"
                item-text="nombre"
                item-value="slug"
                placeholder="Selecciona el concepto..."
                required
                :rules="[(v) => !!v || '']"
              ></v-select>
            </v-col>
            <v-col cols="12">
              <v-text-field
                v-model="importeNuevoConcepto"
                placeholder="200, 1000..."
                required
                type="number"
                :rules="[(v) => !!v || '']"
              ></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-text-field
                v-model="detalleNuevoConcepto"
                label="Observaciones"
                :rules="[(v) => !!v || '']"
              ></v-text-field>
            </v-col>
          </v-row>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="error" @click="resetearDialogConcepto">
            Cancelar
          </v-btn>
          <v-btn
            v-if="editandoConcepto"
            color="primary"
            @click="actualizarConceptoGasto"
            >Actualizar Concepto</v-btn
          >
          <v-btn v-else color="primary" @click="addConceptoGasto"
            >Crear Concepto</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import { mapState } from "vuex";
import Galeria from "../components/GaleriaPresupuesto";
import Componente from "../components/Componente";
import Detalle from "../views/DetalleComponenteMini";
import firebase from "firebase";
import html2canvas from "html2canvas";
import { valorAMoneda } from "../servicios/moneda";

export default {
  props: ["id"],
  components: { Galeria, Componente, Detalle },
  data: () => {
    return {
      descuento: 0,
      descuento_pct: 0,
      tipo_descuento: "Importe",
      margenBL: 0,
      verCrear: false,
      verDetalle: false,
      motivoRechazoCrear: "",
      estadoCrear: "",
      headers: [
        // { text: "Imagen", value: "imagen" },
        { text: "Nombre", value: "nombre" },
        { text: "Cantidad", value: "cantidad" },
        // { text: 'Unidad', value: 'importe' },
        { text: "Importe", value: "total" },
        { text: "Margen", value: "margen" },
        { text: "Precio Venta", value: "venta" },
      ],
      headersConceptos: [
        { text: "Nombre", value: "slug" },
        { text: "Importe", value: "importe" },
        { text: "Detalle", value: "detalle" },
        { text: "Margen", value: "margen" },
        { text: "Precio Venta", value: "venta" },
        { text: "actions", value: "actions" },
      ],
      headersHoras: [
        { text: "Proceso", value: "proceso" },
        { text: "Responsable", value: "responsable" },
        { text: "Horas", value: "horas" },
        { text: "Precio Hora", value: "precio" },
        { text: "Total", value: "total" },
        { text: "Margen", value: "margen" },
        { text: "Precio Venta", value: "venta" },
      ],
      dialog: true,
      // oldGastos: {
      //   siteSurvey: { detalle: '', importe: 0 },
      //   reportaje: { detalle: '', importe: 0 },
      //   transporte: { detalle: '', importe: 0 },
      //   suministro: { detalle: '', importe: 0 },
      //   desplazamiento: { detalle: '', importe: 0 }
      // },
      gastos: {
        siteSurvey: { detalle: "", importe: 0 },
        pavimento: { detalle: "", importe: 0 },
        reportaje: { detalle: "", importe: 0 },
        transporte: { detalle: "", importe: 0 },
        suministro: { detalle: "", importe: 0 },
        desplazamiento: { detalle: "", importe: 0 },
        hotel: { detalle: "", importe: 0 },
        dietas: { detalle: "", importe: 0 },
        parking: { detalle: "", importe: 0 },
        taxi: { detalle: "", importe: 0 },
        kilometraje: { detalle: "", importe: 0 },
        otros: { detalle: "", importe: 0 },
        bl: { importe: 0 },
      },
      gastosString: [
        { nombre: "Carpintería", slug: "carpinteria" },
        { nombre: "Corian", slug: "corian" },
        { nombre: "Cristales", slug: "cristales" },
        { nombre: "Desplazamiento", slug: "desplazamiento" },
        { nombre: "Dietas", slug: "dietas" },
        { nombre: "Duratrans", slug: "duratrans" },
        { nombre: "Hotel", slug: "hotel" },
        { nombre: "Iluminación", slug: "iluminacion" },
        { nombre: "IMA", slug: "ima" },
        { nombre: "Kilometraje", slug: "kilometraje" },
        { nombre: "Lacador", slug: "lacador" },
        { nombre: "Láser", slug: "laser" },
        { nombre: "Materias", slug: "materias" },
        { nombre: "Metacrilatos", slug: "metacrilatos" },
        { nombre: "Metalista", slug: "metalista" },
        { nombre: "Otros", slug: "otros" },
        { nombre: "Pantallas TV", slug: "pantallastv" },
        { nombre: "Parking", slug: "parkin" },
        { nombre: "Pavimento", slug: "pavimento" },
        { nombre: "Reportaje", slug: "reportaje" },
        { nombre: "Site Survey", slug: "siteSurvey" },
        { nombre: "Suministro", slug: "suministro" },
        { nombre: "Taburete", slug: "taburete" },
        { nombre: "Taxi", slug: "taxi" },
        { nombre: "Transporte", slug: "transporte" },
        { nombre: "Vitrum", slug: "vitrum" },
      ],
      presupuesto: {},
      proyectoSeleccionado: "",
      cliente: "",
      marca: "",
      dialogCrearConcepto: false,
      nombreNuevoConcepto: "",
      importeNuevoConcepto: "",
      detalleNuevoConcepto: "",
      observaciones: "",
      editandoConcepto: false,
      editandoItem: {},
    };
  },
  filters: {
    capitalize(value) {
      if (!value) return "";
      value = value.toString();
      return value.charAt(0).toUpperCase() + value.slice(1);
    },
  },
  watch: {
    proyectoSeleccionado() {
      this.presupuesto.cliente = this.idClienteCrear;
      this.presupuesto.marca = this.idMarcaCrear;
      this.presupuesto.componentes = this.carrito;
    },
  },
  methods: {
    resetearDialogConcepto() {
      this.editandoConcepto = false;
      this.dialogCrearConcepto = false;
      this.nombreNuevoConcepto = "";
      this.importeNuevoConcepto = "";
      this.detalleNuevoConcepto = "";
    },
    borrar(item) {
      const updatedGastos = { ...this.gastos };
      delete updatedGastos[item.nombre];
      this.$set(this, "gastos", updatedGastos);
      this.$forceUpdate();
    },
    editar(item) {
      console.log(item);
      this.editandoConcepto = true;
      this.dialogCrearConcepto = true;
      this.editandoItem = item;
      this.nombreNuevoConcepto = item.slug.toLowerCase();
      this.importeNuevoConcepto = item.importe;
      this.detalleNuevoConcepto = item.detalle;
    },
    moneda(e) {
      const cleanValue = e.target.value.replace(",", ".");
      e.target.value = Number(cleanValue).toLocaleString("da-DK", {
        style: "currency",
        currency: "EUR",
      });
    },
    importeConMargenBL(qty) {
      return this.formatoMoneda(qty * this.constanteBL);
    },
    importeDeMargenBL(qty) {
      return this.formatoMoneda(qty * (this.constanteBL - 1));
    },
    crearConcepto() {
      this.dialogCrearConcepto = true;
    },
    actualizarConceptoGasto() {
      const nuevoConcepto = {
        nombre: this.nombreNuevoConcepto,
        detalle: this.detalleNuevoConcepto,
        importe: this.importeNuevoConcepto,
      };

      this.$set(this, "gastos", {
        ...this.gastos,
        [this.editandoItem.nombre]: { ...nuevoConcepto },
      });
      this.resetearDialogConcepto();
      this.$forceUpdate();
    },
    addConceptoGasto() {
      this.editandoConcepto = false;
      const nuevoConcepto = {
        nombre: this.nombreNuevoConcepto,
        detalle: this.detalleNuevoConcepto,
        importe: this.importeNuevoConcepto,
      };

      if (!this.gastos[this.nombreNuevoConcepto]) {
        this.$set(
          this,
          "gastos",
          this.ordenarGastos({
            ...this.gastos,
            [this.nombreNuevoConcepto]: { ...nuevoConcepto },
          })
        );
      } else {
        const nuevoNumero =
          Object.keys(this.gastos).filter((key) =>
            key.includes(this.nombreNuevoConcepto)
          ).length + 1;

        const nombreFinal = this.nombreNuevoConcepto + nuevoNumero;
        this.$set(
          this,
          "gastos",
          this.ordenarGastos({
            ...this.gastos,
            [nombreFinal]: { ...nuevoConcepto },
          })
        );
      }
      this.resetearDialogConcepto();

      this.$forceUpdate();
    },
    ordenarGastos(gastos) {
      const gastosOrdenados = {};
      Object.keys(gastos)
        .sort()
        .forEach((key) => {
          gastosOrdenados[key] = gastos[key];
        });
      return gastosOrdenados;
    },
    formatoMoneda(v) {
      if (!v) return;
      if (!v.target) return valorAMoneda(v);
      if (v.target.value == "") return;
      v.target.value = valorAMoneda(v.target.value.replace(",", "."));
    },
    foto() {
      // html2canvas(document.querySelector('#capture')).then(canvas =>
      //   document.querySelector('#shot').appendChild(canvas)
      // );
      alert("Coming soon");
    },
    cerrarDialog() {
      this.$store.state.dialogDetalle = false;
      this.$forceUpdate();
    },
    addPresupuesto() {
      // this.calcularGastos()
      if (this.id != "crear") {
        firebase
          .database()
          .ref("presupuestos/" + this.id)
          .update({
            componentes: this.carrito,
            proyecto: this.presupuesto.proyecto,
            cliente: this.presupuesto.cliente,
            marca: this.presupuesto.marca,
            importe: this.totalCoste,
            margenBL: this.margenBL || 0,
            gastos: this.gastos,
            estado: this.estadoCrear,
            motivoRechazo: this.motivoRechazoCrear,
            descuento: this.descuento || 0,
            tipo_descuento: this.tipo_descuento || "Importe",
            descuento_pct: this.descuento_pct || 0,
          })
          .then(() => {
            alert("Presupuesto Actualizado");
            this.$router.push("/presupuestos");
          });
      } else {
        firebase
          .database()
          .ref("presupuestos")
          .push({
            componentes: this.presupuesto.componentes,
            proyecto: this.proyectoSeleccionado,
            cliente: this.presupuesto.cliente,
            marca: this.presupuesto.marca,
            importe: this.totalCoste,
            margenBL: this.margenBL || 0,
            gastos: this.gastos,
            estado: this.estadoCrear,
            motivoRechazo: this.motivoRechazoCrear,
            descuento: this.descuento || 0,
            tipo_descuento: this.tipo_descuento || "Importe",
            descuento_pct: this.descuento_pct || 0,
          })
          .then(() => {
            alert("Presupuesto Creado");
            this.$router.push("/presupuestos");
          });
      }
    },
    calcularGastos() {
      this.gastos.materias = {
        importe:
          this.importeComponentes + Number(this.gastos.pavimento.importe),
      };
    },
    buscarNombreCliente(id) {
      return this.contactos.find((c) => c.id == id)?.nombre_fiscal;
    },
    buscarNombreMarca(id) {
      return this.marcas.find((m) => m.id == id)?.nombre;
    },
    buscarNombreProyecto(id) {
      if (this.id != "crear") {
        return this.proyectos.find((m) => m.id == id)?.nombre;
      } else return "";
    },
    buscarRefProyecto(id) {
      if (this.id != "crear") {
        return this.proyectos.find((m) => m.id == id)?.referencia;
      } else return "";
    },
    addComponente(item) {
      this.$store.commit("addCarrito", item);
    },
    removeComponente(item) {
      this.$store.commit("removeComponente", item);
    },
    buscarEmpleado(id) {
      return this.empleados.find((c) => c.id == id);
    },
    buscarComponente(id) {
      return this.componentes.find((c) => c.id == this.detalleID);
    },
  },
  created() {
    // const gastosModel = {
    //   pavimento: { detalle: '', importe: 0 },
    //   materias: { detalle: '', importe: 0 },
    //   siteSurvey: { detalle: '', importe: 0 },
    //   reportaje: { detalle: '', importe: 0 },
    //   transporte: { detalle: '', importe: 0 },
    //   suministro: { detalle: '', importe: 0 },
    //   desplazamiento: { detalle: '', importe: 0 },
    //   gastos: { detalle: '', importe: 0 },
    //   otros: { importe: 0 },
    //   bl: { importe: 0 }
    // }
    if (this.id != "crear") {
      this.presupuesto = { ...this.presupuestos.find((p) => p.id == this.id) };
      this.$store.commit("vaciarCarrito", this.presupuesto.componentes || []);
      if (!this.presupuesto.componentes) this.presupuesto.componentes = [];
      this.gastos = { ...this.presupuesto.gastos };
      this.observaciones = this.presupuesto?.observaciones;
      this.margenBL = this.presupuesto.margenBL;
      this.estadoCrear = this.presupuesto.estado || "";
      this.motivoRechazoCrear = this.presupuesto.motivoRechazo || "";
      this.descuento = this.presupuesto.descuento || 0;
      this.tipo_descuento = this.presupuesto.tipo_descuento || "Importe";
      this.descuento_pct = this.presupuesto.descuento_pct || 0;
    } else {
      this.presupuesto = {
        componentes: [],
        proyecto: "",
        cliente: "",
        marca: "",
        margenBL: 0,
        importe: "",
        gastos: {},
        estado: "",
        motivoRechazo: "",
        descuento: 0,
        descuento_pct: 0,
        tipo_descuento: "Importe",
      };
      this.$store.commit("vaciarCarrito", []);
      this.gastos = {};
    }
  },
  beforeDestroy() {
    this.$store.commit("vaciarCarrito", []);
  },
  computed: {
    ...mapState([
      "proyectos",
      "contactos",
      "marcas",
      "carrito",
      "componentes",
      "presupuestos",
      "empleados",
      "detalleID",
      "dialogDetalle",
      "dialogDetalleCrear",
    ]),
    descuentoTotal() {
      const total = this.totalCoste * this.constanteBL;
      let aDescontar;
      if (this.tipo_descuento == "Importe") {
        aDescontar = Number(this.descuento);
      } else if (this.tipo_descuento == "Porcentaje") {
        aDescontar = (total * this.descuento_pct) / 100;
      } else {
        return this.formatoMoneda(total);
      }
      return this.formatoMoneda(total - aDescontar);
    },
    constanteBL() {
      if (!this.margenBL) return 1;
      const porcentaje = 1 - this.margenBL / 100;
      return 1 / porcentaje;
    },
    arraydeGastos() {
      const gastosParaTabla = Object.keys(this.gastos)
        .filter((k) => this.gastos[k].importe != "")
        .map((key) => {
          return {
            nombre: key,
            importe: +this.gastos[key].importe,
            detalle: this.gastos[key].detalle || "",
            slug:
              this.gastosString.find((g) => key.includes(g.slug))?.nombre ??
              key,
          };
        });
      return gastosParaTabla;
    },
    proyectosOrdenados() {
      return this.proyectos.sort((a, b) =>
        a.nombre.toLowerCase() > b.nombre.toLowerCase() ? 1 : -1
      );
    },
    proyecto() {
      return this.proyectos.find((p) => p.id == this.proyectoSeleccionado);
    },
    clienteCrear() {
      if (this.proyectoSeleccionado) {
        const cid =
          this.proyectos.find((p) => p.id == this.proyectoSeleccionado)
            .cliente || "";
        return this.buscarNombreCliente(cid);
      }
    },
    marcaCrear() {
      if (this.proyectoSeleccionado) {
        return this.buscarNombreMarca(this.proyecto.marca) || "";
      }
    },
    idMarcaCrear() {
      return this.proyecto.marca;
    },
    idClienteCrear() {
      return this.proyecto.cliente;
    },
    totalMargenBL() {
      return this.totalGastosExternos * (this.gastos.bl?.importe / 100);
    },
    totalGastosExternos() {
      return Object.values(this.gastos)
        .map((g) => g.importe)
        .reduce((a, b) => Number(a) + Number(b), 0);
    },
    manoDeObra() {
      if (this.id != "crear") {
        const proyecto = this.proyectos.find(
          (p) => p.id == this.presupuesto?.proyecto
        );
        const procesos = proyecto?.timeline?.procesos;
        const responsables = procesos?.map((p) => {
          const responsable = this.buscarEmpleado(p.responsable);
          return {
            proceso: p.nombre,
            responsable: responsable.nombre,
            horas: p.horas,
            precio: responsable.precio,
          };
        });

        return responsables;
      } else {
        if (this.proyectoSeleccionado) {
          const proyecto = this.proyectos.find(
            (p) => p.id == this.proyectoSeleccionado
          );
          const procesos = proyecto.timeline.procesos;
          const responsables = procesos.map((p) => {
            const responsable = this.buscarEmpleado(p.responsable);
            return {
              proceso: p.nombre,
              responsable: responsable.nombre,
              horas: p.horas,
              precio: responsable.precio,
            };
          });

          return responsables;
        } else {
          return [{ horas: 0, precio: 0 }];
        }
      }
    },
    totalPrecioHoras() {
      return this.manoDeObra
        ?.map((m) => m.horas * m.precio)
        .reduce((a, b) => a + b, 0);
    },
    importeComponentes() {
      if (this.carrito.length != 0) {
        return this.carrito
          .map((c) => Number(c.importe))
          .reduce((a, b) => a + b, 0);
      } else {
        return 0;
      }
    },
    totalCoste() {
      return (
        this.importeComponentes +
        this.totalGastosExternos +
        this.totalPrecioHoras
      );
    },
    carritoCantidades() {
      const carroTemp = {};
      this.carrito.forEach((c) => {
        if (!carroTemp[c.id]) {
          carroTemp[c.id] = { ...c, cantidad: 1 };
        } else {
          carroTemp[c.id] = {
            ...c,
            cantidad: carroTemp[c.id].cantidad + 1,
          };
        }
      });
      return carroTemp;
    },
    nombreCliente() {
      if (this.proyectoSeleccionado) {
        return this.buscarNombreCliente(this.presupuesto.cliente) || "";
      }
    },
    nombreMarca() {
      if (this.proyectoSeleccionado) {
        return this.buscarNombreMarca(this.presupuesto.marca) || "";
      }
    },
    componentesCliente() {
      if (this.presupuesto) {
        return this.componentes.filter(
          (c) => c.marca == this.presupuesto.marca
        );
      }
    },
    proyectos() {
      return Object.values(this.$store.getters.cogerProyectos).map((p) => {
        return { ...p, nombre_detallado: p.referencia + ' - ' + p.nombre }
      })
      // .filter(
      //   p =>
      //     p.detalle.cliente.info.nombre_fiscal ==
      //     this.cliente.info.nombre_fiscal
      // );
    },
  },
};
</script>

<style>
.new_text {
  text-transform: capitalize;
  /* color: #a2a2a2!important; */
  margin-top: -35px;
  padding: 0 !important;
}
</style>
