<template>
  <v-container fluido class="mx-3 top">
    <v-card max-height="80%" class="mb-10">
      <div class="d-flex justify-space-around align-center">
        <div>
          <v-card-title primary-title>Crear un borrador</v-card-title>
          <v-card-text
            >Elige esta opción si vas a crear un presupuesto que aún no tiene un
            proyecto asignado</v-card-text
          >
        </div>
        <div>
          <v-btn color="primary" to="/crearPresupuestoBorrador"
            >Crear un borrador</v-btn
          >
        </div>
      </div>
    </v-card>
    <v-card max-height="80%">
      <div class="d-flex justify-space-around align-center">
        <div>
          <v-card-title primary-title>Crear un Presupuesto</v-card-title>
          <v-card-text
            >Elige esta opción si vas a crear un presupuesto para un proyecto ya
            existente</v-card-text
          >
        </div>
        <div>
          <v-btn disabled color="primary" to="/editarPresupuesto/crear"
            >Crear un Presupuesto</v-btn
          >
        </div>
      </div>
    </v-card>
  </v-container>
</template>

<script>
export default {};
</script>

<style></style>
