<template>
  <div>
    <v-container class="top" v-if="empleados.length">
      <v-layout wrap>
        <v-flex offset-xs6 xs6 mb-5>
          <buscador @searchNow="search = $event" :label="'Buscar Empleados'" />
        </v-flex>
        <v-flex xs12>
          <v-data-table
            :headers="headers"
            :items="empleados"
            item-key="nombre"
            multi-sort
            class="elevation-1"
            show-select
            v-model="selected"
            :search="search"
            :custom-filter="dataTableCustomSearch"
            @click:row="editar"
          >
            <template v-slot:item.precio="{ item }">
              {{
                Number(item.precio).toLocaleString("da-DK", {
                  style: "currency",
                  currency: "EUR",
                })
              }}
            </template>
            <template v-slot:item.horas="{ item }">{{
              Number(item.horas)
            }}</template>
            <template v-slot:item.actions="{ item }">
              <v-btn x-small color="primary" @click="editar(item)">
                <v-icon small>mdi-pencil</v-icon>
              </v-btn>
              <v-btn x-small color="error" @click="borrar(item)">
                <v-icon small>mdi-delete</v-icon>
              </v-btn>
            </template>
            <!-- <template v-slot:item.editar="{ item }">
              <v-btn icon @click="editar(item)">
                <v-icon color="primary">mdi-pencil</v-icon>
              </v-btn>
            </template>
            <template v-slot:item.borrar="{ item }">
              <v-btn icon @click="borrar(item.id)">
                <v-icon color="primary">mdi-delete</v-icon>
              </v-btn>
            </template> -->
            <!-- <template v-slot:item.nombre="{ item }">
            <v-avatar size="28px">
              <img v-if="item.imagen" :src="item.imagen" />
              <img v-else src="https://randomuser.me/api/portraits/men/14.jpg" />
            </v-avatar>
            <span class="mx-4">{{ item.nombre }}</span>
            </template>-->
          </v-data-table>
        </v-flex>
      </v-layout>

      <v-snackbar
        v-if="selected.length"
        v-model="selected"
        :timeout="0"
        color="info"
      >
        Exportar {{ selected.length }} horas empleadis
        <v-btn
          color="primary"
          @click.native="
            exportToCSV(selected, 'empleados', headers), (selected = [])
          "
          >Descargar</v-btn
        >
      </v-snackbar>
    </v-container>
    <v-container v-else class="top">
      <v-layout row wrap class="justify-center">
        <v-card
          width="95%"
          height="400"
          color="grey lighten-2"
          class="d-flex justify-center align-center flex-column"
        >
          <v-card-text class="text-center"
            >Oops! ¿Nadie trabaja en tu empresa? Es un buen momento para crear
            empleados</v-card-text
          >
          <v-btn color="primary" @click="create = true">Vamos allá</v-btn>
        </v-card>
      </v-layout>
    </v-container>
    <v-dialog
      v-model="create"
      persistent
      :overlay="false"
      max-width="500px"
      transition="dialog-transition"
    >
      <v-card class="px-5">
        <v-form ref="crearEmpleado" lazy-validation v-model="valid">
          <v-card-title>Crear Empleado</v-card-title>
          <v-text-field
            v-model="empleado.nombre"
            label="Nombre"
            required
            :rules="[(v) => !!v || '']"
          ></v-text-field>
          <v-text-field
            v-model="empleado.correo"
            label="Correo"
            required
            :rules="[(v) => !!v || '']"
          ></v-text-field>
          <v-text-field
            v-model="empleado.cargo"
            label="Cargo"
            required
            :rules="[(v) => !!v || '']"
          ></v-text-field>
          <v-text-field
            v-model="empleado.precio"
            type="number"
            label="Precio / Hora"
            required
            :rules="[(v) => !!v || '']"
          ></v-text-field>
          <v-autocomplete
            :items="departamentos"
            v-model="empleado.departamento"
            label="Departamento"
            :rules="[(v) => !!v || '']"
          ></v-autocomplete>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary" small @click="guardar()"
              >Guardar Empleado</v-btn
            >
            <v-btn
              color="secondary"
              dark
              small
              @click="
                create = false;
                empleado = {};
              "
              >Cancelar</v-btn
            >
          </v-card-actions>
        </v-form>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import firebase from "firebase";
import Buscador from "../components/Buscador";
import { tienePadres } from "../servicios/comprobarBorrado.js";
import { mapState } from "vuex";
import EventBus from "../components/EventBus";

export default {
  components: {
    Buscador,
  },
  data: () => {
    return {
      search: "",
      valid: "",
      departamentos: [
        "Presupuesto",
        "Diseño",
        "Producción",
        "Taller",
        "Administración",
        "Instalación",
      ],
      editando: false,
      empleado: {
        nombre: "",
        correo: "",
        cargo: "",
        departamento: "",
        precio: "",
      },
      create: false,
      selected: [],
      headers: [
        { text: "Nombre", value: "nombre" },
        { text: "Correo", value: "correo" },
        { text: "Departamento", value: "departamento" },
        { text: "Cargo", value: "cargo" },
        { text: "Coste por hora €/h", value: "precio" },
        { text: "Total horas", value: "horas" },
        { text: "Acciones", value: "actions", align: "center" },
      ],
    };
  },
  computed: {
    ...mapState(["empleados"]),
  },
  methods: {
    borrar(id) {
      if (tienePadres("empleados", id)) {
        alert(
          "Algún componente depende de este elemento. No se puede borrar aún."
        );
      } else {
        alert("Este elemento se puede borrar.");
      }
    },
    editar(item) {
      this.editando = true;
      this.empleado = {
        id: item.id,
        nombre: item.nombre,
        correo: item.correo,
        cargo: item.cargo,
        departamento: item.departamento,
        precio: item.precio,
      };
      this.create = true;
    },
    guardar() {
      if (this.$refs.crearEmpleado.validate()) {
        if (this.editando) {
          firebase
            .database()
            .ref("empleados/" + this.empleado.id)
            .update({
              nombre: this.empleado.nombre,
              correo: this.empleado.correo,
              cargo: this.empleado.cargo,
              departamento: this.empleado.departamento,
              precio: this.empleado.precio,
            })
            .then(() => {
              this.create = false;
              this.editando = false;
              this.empleado = {};
            });
        } else {
          firebase
            .database()
            .ref("empleados")
            .push({
              nombre: this.empleado.nombre,
              correo: this.empleado.correo,
              cargo: this.empleado.cargo,
              departamento: this.empleado.departamento,
              precio: this.empleado.precio,
            })
            .then(() => {
              this.create = false;
              this.empleado = {};
            });
        }
      }
    },
  },
  created() {
    EventBus.$on("crearEmpleado", () => {
      this.create = true;
    });
  },
};
</script>

<style lang="css"></style>
