<template>
  <v-container class="top" v-if="facturas.length">
    <v-layout wrap>
      <v-flex xs6 class="d-flex justify-space-around align-center">
        <v-checkbox
          label="Cliente"
          v-model="tipo"
          value="cliente"
          color="primary"
        ></v-checkbox>
        <v-checkbox
          label="Proveedor"
          v-model="tipo"
          value="proveedor"
          color="secondary"
        ></v-checkbox>
        <v-checkbox
          label="Gasto"
          v-model="tipo"
          value="gasto"
          color="accent"
        ></v-checkbox>
      </v-flex>
      <v-flex xs6>
        <buscador @searchNow="search = $event" :label="'Buscar Factura'" />
      </v-flex>
      <v-flex xs12>
        <v-data-table
          :headers="headersToShow"
          show-select
          v-model="selected"
          :items="facturasAMostrar"
          :custom-filter="dataTableCustomSearch"
          item-key="id"
          :sort-desc="[false, true]"
          multi-sort
          class="elevation-1"
          :search="search"
        >
          <template v-slot:item.archivo="{ item }">
            <div v-if="item.imagen">
              <v-btn color="primary" icon :href="item.imagen" target="_blank">
                <v-icon color="primary">mdi-download</v-icon>
              </v-btn>
            </div>
            <div v-else>
              <center><v-icon color="primary">mdi-cancel</v-icon></center>
            </div>
          </template>
          <template v-slot:item.actions="{ item }">
            <v-btn x-small color="primary" :to="'/crearFactura/' + item.id">
              <v-icon small>mdi-pencil</v-icon>
            </v-btn>
            <v-btn x-small color="error" @click="borrar(item.id)">
              <v-icon small>mdi-delete</v-icon>
            </v-btn>
          </template>
        </v-data-table>
      </v-flex>
    </v-layout>
    <v-snackbar
      v-if="selected.length"
      v-model="selected"
      :timeout="0"
      color="primary"
    >
      Exportar {{ selected.length }} facturas
      <v-btn
        color="secondary"
        @click.native="exportToCSV(selected, fileName, headersToShow)"
        >Descargar</v-btn
      >
    </v-snackbar>
  </v-container>
  <v-container v-else class="top">
    <v-layout row wrap class="justify-center">
      <v-card
        width="95%"
        height="400"
        color="grey lighten-2"
        class="d-flex justify-center align-center flex-column"
      >
        <v-card-text class="text-center"
          >Oops! No hay nada por aquí. Es un buen momento para crear
          facturas</v-card-text
        >
        <v-btn color="primary" @click="$router.push('/crearFactura/test')"
          >Vamos allá</v-btn
        >
      </v-card>
    </v-layout>
  </v-container>
</template>

<script>
import Buscador from "../components/Buscador.vue";
import { tienePadres } from "../servicios/comprobarBorrado.js";

export default {
  components: {
    Buscador,
  },
  data: () => {
    return {
      singleSelect: true,
      selected: [],
      search: "",
      tipo: [],
      dialog: false,
      imagen: "",
      fileName: "",
      headersGastos: [
        { text: "N. Gasto", value: "numero" },
        { text: "Tipo", value: "tipo" },
        { text: "Tipo de pago", value: "pago" },
        { text: "Base imponible", value: "total" },
        { text: "Total IVA", value: "totalesIva" },
        { text: "Fecha", value: "fecha" },
        { text: "Acciones", value: "actions" },
      ],
    };
  },
  watch: {
    tipo: {
      handler: function () {
        this.selected = [];
        this.fileName =
          this.tipo?.map((t) => `facturas${t}`).join("_") || "facturascliente";
      },
    },
  },
  computed: {
    headersToShow() {
      return this.tipo == "gasto" ? this.headersGastos : this.headers;
    },
    headers() {
      const headers = [
        { text: "#Factura", value: "numero" },
        { text: "Nombre Fiscal", value: "cliente", width: "150px" },
        {
          text: "Nº Cuenta",
          value: "cuenta_ingreso",
          width: "300px",
        },
      ];

      if (this.tipo.includes("cliente")) {
      }

      if (this.tipo.includes("proveedor")) {
        headers.push({ text: "Actividad", value: "actividad", width: "150px" });
        headers.push({ text: "#Prov", value: "num_proveedor", width: "150px" });
      }

      headers.push(
        ...[
          { text: "CIF", value: "cif", width: "150px" },
          { text: "Tipo", value: "tipo", width: "150px" },
          { text: "Forma de pago", value: "forma_pago", width: "150px" },
          { text: "Base imponible", value: "total", width: "150px" },
          { text: "Total IVA", value: "totalesIva", width: "150px" },
          { text: "Total Factura", value: "total_final", width: "150px" },
          { text: "Fecha", value: "fecha", width: "150px" },
          { text: "Vencimiento", value: "vencimiento", width: "150px" },
          {
            text: "Contabilización",
            value: "fecha_contabilizacion",
            width: "150px",
          },
          { text: "Ver archivo", value: "archivo" },
          { text: "Acciones", value: "actions", width: "150px" },
        ]
      );

      return headers;
    },
    facturas() {
      return Object.values(this.$store.getters.cogerFacturas);
    },
    facturasAMostrar() {
      return this.facturas
        .filter((f) => this.tipo.includes(f.tipo) || !this.tipo.length)
        .map((f) => {
          if (f.tipo != "gasto") {
            return {
              ...f,
              cliente: this.buscarCliente(f.cliente)?.nombre_fiscal,
              cuenta_ingreso: this.buscarCliente(f.cliente)?.iban,
              cif: this.buscarCliente(f.cliente)?.NIF,
              tipo: f.tipo != "gasto" ? this.buscarTipo(f.cliente) : "Gasto",
              ...(["acreedor", "proveedor"].includes(f.tipo) && {
                actividad: this.buscarCliente(f.cliente)?.actividad,
              }),
              ...(["acreedor", "proveedor"].includes(f.tipo) && {
                num_proveedor: this.buscarCliente(f.cliente)?.codigo,
              }),
              total: Number(f.total).toLocaleString("da-DK", {
                style: "currency",
                currency: "EUR",
              }),
              totalesIva:
                Number(f.totalesIva).toLocaleString("da-DK", {
                  style: "currency",
                  currency: "EUR",
                }) || "--",
              total_final:
                (Number(f.totalesIva) + Number(f.total)).toLocaleString(
                  "da-DK",
                  {
                    style: "currency",
                    currency: "EUR",
                  }
                ) || "--",
            };
          } else {
            return {
              ...f,
              tipo: f.tipo != "gasto" ? this.buscarTipo(f.cliente) : "Gasto",
              pago: f.nota_gasto.text,
              totalesIva:
                Number(f.totalesIva).toLocaleString("da-DK", {
                  style: "currency",
                  currency: "EUR",
                }) || "--",
              total: Number(f.total).toLocaleString("da-DK", {
                style: "currency",
                currency: "EUR",
              }),
            };
          }
        });
    },
    contactos() {
      return Object.values(this.$store.getters.cogerContactos);
    },
  },
  methods: {
    showAlert(val) {
      alert(val);
    },
    borrar(id) {
      if (tienePadres("facturas", id)) {
        alert(
          "Algún componente depende de este elemento. No se puede borrar aún."
        );
      } else {
        alert("Este elemento se podrá borrar en un futuro");
      }
    },
    detalle(id) {
      this.$router.push("/editarFactura/" + id);
    },
    buscarCliente(id) {
      return this.contactos.find((c) => c.id == id);
    },
    buscarTipo(id) {
      return this.contactos.find((c) => c.id == id).tipo;
    },
    buscarActividad(id) {
      const cliente = this.contactos.find((c) => c.id == id);
      if (cliente?.actividad) {
        return cliente.actividad;
      } else {
        return "";
      }
    },
  },
};
</script>

<style lang="css">
.v-chip.v-size--default {
  justify-content: center;
  width: 45px;
}
</style>
