<template>
  <v-container class="top">
    <v-layout row wrap>
      <v-flex offset-xs6 xs6 mb-5>
        <buscador
          @searchNow="search = $event"
          :label="'Buscar Horas Empleados'"
        />
      </v-flex>
      <v-flex xs12>
        <v-data-table
          :headers="headers"
          show-select
          v-model="selection"
          :search="search"
          :items="mapedHorasEmpleados"
          :custom-filter="dataTableCustomSearch"
          item-key="id"
          class="elevation-1"
          no-data-text="Aún no hay valores almcacenados"
        >
          <template v-slot:item.actions="{ item }">
            <v-btn x-small color="primary" @click="editar(item)">
              <v-icon small>mdi-pencil</v-icon>
            </v-btn>
            <v-btn x-small color="error" @click="borrar(item)">
              <v-icon small>mdi-delete</v-icon>
            </v-btn>
          </template>
        </v-data-table>
      </v-flex>
    </v-layout>
    <v-dialog
      v-model="dialog"
      scrollable
      persistent
      :overlay="true"
      max-width="800px"
      transition="dialog-transition"
    >
      <v-card elevation="1">
        <v-card-title primary-title> Añadir Horas Empleado </v-card-title>
        <v-card-text class="pt-3">
          <v-row class="mt-1 d-flex justify-center">
            <v-col cols="6">
              <v-date-picker
                :first-day-of-week="1"
                color="primary"
                v-model="dates"
                scrollable
                range
                locale="ES"
                full-width
              ></v-date-picker>
            </v-col>
            <v-col cols="6">
              <v-form v-model="horasEmpleadoForm" ref="horasEmpleadosForm">
                <v-autocomplete
                  v-if="proyectos"
                  v-model="horasEmpleado.proyecto"
                  :items="proyectos"
                  item-text="nombre"
                  item-value="id"
                  label="Proyecto"
                  :rules="[(v) => !!v || '']"
                  required
                ></v-autocomplete>
                <v-autocomplete
                  :disabled="!horasEmpleado.proyecto"
                  v-model="horasEmpleado.fase"
                  :items="fasesEnProyecto"
                  item-text="nombre"
                  item-value="nombre"
                  label="Fase"
                  :rules="[(v) => !!v || '']"
                  required
                ></v-autocomplete>
                <v-text-field
                  :disabled="!horasEmpleado.fase"
                  readonly
                  :value="empleadoEnFase.nombre"
                  label="Empleado"
                ></v-text-field>
                <v-text-field
                  :disabled="!horasEmpleado.empleado"
                  v-model="horasEmpleado.horas"
                  label="Horas"
                  :rules="[(v) => !!v || '']"
                  required
                ></v-text-field>
                <v-text-field
                  :disabled="!horasEmpleado.empleado"
                  v-model="horasEmpleado.observaciones"
                  label="Observaciones"
                ></v-text-field>
                <v-row>
                  <v-col cols="6" class="pr-2">
                    <v-text-field
                      v-model="sortedDates[0]"
                      label="Inicio"
                      readonly
                      disabled
                      required
                      :rules="[(v) => !!v || ' ']"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="6" class="pl-2">
                    <v-text-field
                      disabled
                      v-model="sortedDates[1]"
                      label="Fin"
                      readonly
                      required
                      :rules="[(v) => !!v || ' ']"
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-form>
            </v-col>
          </v-row>
        </v-card-text>
        <v-card-actions>
          <v-btn color="primary" @click="guardarHorasEmpleado">{{
            !editando ? "Agregar al Proyecto" : "Actualizar"
          }}</v-btn>
          <v-btn color="error" @click="dialog = false">Cancelar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-snackbar
      v-if="selection.length"
      v-model="selection"
      :timeout="0"
      color="info"
    >
      Exportar {{ selection.length }} horas empleados
      <v-btn
        color="primary"
        @click.native="
          exportToCSV(selection, 'horas_empleados', headers), (selection = [])
        "
        >Descargar</v-btn
      >
    </v-snackbar>
  </v-container>
</template>

<script>
import { mapState } from "vuex";
import firebase from "firebase";
import EventBus from "../components/EventBus";
import Buscador from "../components/Buscador";
import { valorAMoneda } from "../servicios/moneda";

export default {
  components: { Buscador },
  data: () => ({
    dates: [],
    search: "",
    selection: [],
    headers: [
      { text: "Fecha", value: "fechaAlta" },
      { text: "Referencia", value: "ref" },
      { text: "Proyecto", value: "proyecto" },
      { text: "Empleado", value: "empleado" },
      { text: "Fase", value: "fase" },
      { text: "Inicio", value: "inicio" },
      { text: "Fin", value: "fin" },
      { text: "Coste/h", value: "costeHora" },
      { text: "Horas", value: "horas" },
      { text: "Importe Total", value: "total" },
      { text: "Observaciones", value: "observaciones" },
      { text: "Acciones", value: "actions" },
    ],
    horasEmpleadoForm: true,
    dialog: false,
    editando: false,
    horasEmpleado: {
      proyecto: "",
      fase: "",
      empleado: "",
      horas: "",
      costeHora: "",
      observaciones: "",
      inicio: "",
      fin: "",
    },
  }),
  created() {
    EventBus.$on("crearHorasEmpleados", () => {
      this.dialog = true;
      Object.keys(this.horasEmpleado).forEach((k) => {
        this.horasEmpleado[k] = "";
      });
    });
  },
  methods: {
    editar(item) {
      this.dialog = true;
      this.editando = true;
      const mappedItem = {
        ...item,
        empleado: item.rawEmpleado,
        proyecto: item.rawProyecto,
      };
      Object.assign(this.horasEmpleado, mappedItem);
      this.dates = [item.inicio, item.fin];
    },
    borrar(item) {
      firebase.database().ref(`horasempleado/${item.id}`).remove();
    },
    buscarProyecto(id) {
      return this.proyectos.find((m) => m.id == id);
    },
    buscarEmpleado(id) {
      return this.empleados.find((c) => c.id == id);
    },
    guardarHorasEmpleado() {
      if (this.$refs.horasEmpleadosForm.validate()) {
        if (this.editando) {
          firebase
            .database()
            .ref(`horasempleado/${this.horasEmpleado.id}`)
            .update(this.horasEmpleado)
            .then(() => {
              alert("Horas actualizadas");
            });
        } else {
          firebase
            .database()
            .ref("horasempleado")
            .push(this.horasEmpleado)
            .then((e) => {
              alert("Horas añadidas");
            });
        }
        this.dialog = false;
        this.editando = false;
        this.dates = [];
      }
    },
  },
  watch: {
    empleadoEnFase(val) {
      this.horasEmpleado.empleado = this.empleadoEnFase.id;
      this.horasEmpleado.costeHora = this.costeHoraEmpleado;
    },
    sortedDates(val) {
      this.horasEmpleado.inicio = val[0];
      this.horasEmpleado.fin = val[1];
    },
  },
  computed: {
    ...mapState(["proyectos", "empleados", "horasEmpleados"]),
    mapedHorasEmpleados() {
      return this.horasEmpleados.map((h) => {
        return {
          ...h,
          fechaAlta: this.buscarProyecto(h.proyecto)?.fechaAlta,
          ref: this.buscarProyecto(h.proyecto)?.referencia,
          proyecto: this.buscarProyecto(h.proyecto)?.nombre,
          empleado: this.buscarEmpleado(h.empleado)?.nombre,
          total: valorAMoneda(h.horas * h.costeHora),
          costeHora: valorAMoneda(h.costeHora),
          rawProyecto: h.proyecto,
          rawEmpleado: h.empleado,
        };
      });
    },
    sortedDates() {
      return this.dates.sort();
    },
    fasesEnProyecto() {
      const proyecto = this.proyectos.find(
        (proyecto) => proyecto.id == this.horasEmpleado.proyecto
      );

      return proyecto?.timeline.procesos || null;
    },
    empleadoEnFase() {
      if (this.fasesEnProyecto && this.horasEmpleado.fase) {
        const idResponsable = this.fasesEnProyecto.find(
          (f) => f.nombre == this.horasEmpleado.fase
        )?.responsable;
        return this.empleados.find((empleado) => empleado.id == idResponsable);
      } else return [];
    },
    costeHoraEmpleado() {
      if (this.empleadoEnFase) {
        return this.empleadoEnFase.precio;
      }
    },
  },
};
</script>

<style></style>
