<template>
  <!-- <v-dialog
    v-cloak
    v-if="!user"
    max-width="60%"
    v-model="showLogin"
    class="top"
    :class="{ centerIt: !user }"
  >-->
  <v-card class="top login pa-3" v-if="!user" :class="{ centerIt: !user }">
    <v-layout>
      <v-flex xs6 offset-xs3 class="d-flex justify-center">
        <div class="circle"></div>
      </v-flex>
    </v-layout>
    <v-layout wrap>
      <v-flex xs4 offset-xs4>
        <v-text-field label="User" v-model="email"></v-text-field>
      </v-flex>
      <v-flex xs4 offset-xs4>
        <v-text-field
          label="Password"
          v-model="pass"
          type="password"
        ></v-text-field>
      </v-flex>
    </v-layout>

    <v-layout>
      <v-flex xs4 offset-xs4>
        <div class="text-center">
          <v-btn
            class="ma-2"
            outlined
            color="blue"
            :loading="loading"
            :disabled="loading"
            @click="login"
            >Enter</v-btn
          >
        </div>
      </v-flex>
    </v-layout>
  </v-card>
  <!-- </v-dialog> -->
</template>

<script>
import firebase from 'firebase'

export default {
  data() {
    return {
      loader: null,
      loading: false,
      email: 'bl@bl.com',
      pass: '123456',
      show: false
    }
  },
  methods: {
    login() {
      this.loading = true

      firebase
        .auth()
        .signInWithEmailAndPassword(this.email, this.pass)
        .then((s) => {
          this.$router.push('/contactos')
        })
        .catch((error) => {
          console.error(error)
          this.loading = false
        })
    }
  },
  watch: {
    user() {
      if (this.user) {
        this.show = false
        this.$router.push('/contactos')
      } else {
        this.show = true
      }
    }
    // show() {
    //   if (!this.user) this.show = true;
    //   this.show = false;
    // }
  },
  computed: {
    user() {
      return this.$store.getters.cogerUser
    },
    showLogin() {
      return !this.$store.getters.cogerUser
    }
  },
  created() {
    if (this.user) {
      this.$router.push('/contactos')
    } else {
      this.show = true
    }
  }
}
</script>

<style>
.login {
  width: 700px;
  position: absolute;
  top: 50%; /* position the top  edge of the element at the middle of the parent */
  left: 50%; /* position the left edge of the element at the middle of the parent */
  transform: translate(-65%, -80%);
}
.circle {
  border-radius: 50%;
  background-color: #000;
  height: 270px;
  width: 270px;
  background-image: url('../assets/BL.png');
  background-position: center;
}

.custom-loader {
  animation: loader 1s infinite;
  display: flex;
}
@-moz-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-o-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
</style>
