<template>
  <v-container class="top" v-if="marcas.length">
    <v-layout row>
      <v-flex offset-xs6 xs6 mb-5>
        <buscador @searchNow="search = $event" :label="'Buscar Marcas'" />
      </v-flex>
      <v-flex xs12>
        <v-data-table
          :headers="headers"
          :items="marcasParaBuscar"
          item-key="nombre"
          :custom-filter="dataTableCustomSearch"
          multi-sort
          class="elevation-1"
          show-select
          v-model="selected"
          :search="search"
        >
          <template v-slot:item.actions="{ item }">
            <v-btn x-small color="primary" :to="'/crearMarca/' + item.id">
              <v-icon small>mdi-pencil</v-icon>
            </v-btn>
            <v-btn x-small color="error" @click="borrar(item.id)">
              <v-icon small>mdi-delete</v-icon>
            </v-btn>
          </template>
        </v-data-table>
      </v-flex>
    </v-layout>
    <v-snackbar
      v-if="selected.length"
      v-model="selected"
      :timeout="0"
      color="primary"
    >
      Exportar {{ selected.length }} marcas
      <v-btn
        color="info"
        @click.native="
          exportToCSV(selected, 'marcas', headers), (selected = [])
        "
        >Descargar</v-btn
      >
    </v-snackbar>
  </v-container>
  <v-container v-else class="top">
    <v-layout row wrap class="justify-center">
      <v-card
        width="95%"
        height="400"
        color="grey lighten-2"
        class="d-flex justify-center align-center flex-column"
      >
        <v-card-text class="text-center"
          >Oops! No hay nada por aquí. Es un buen momento para crear
          marcas</v-card-text
        >
        <v-btn color="primary" @click="$router.push('/crearMarca/crear')"
          >Vamos allá</v-btn
        >
      </v-card>
    </v-layout>
  </v-container>
</template>

<script>
import firebase from "firebase";
import Buscador from "../components/Buscador";
import { tienePadres } from "../servicios/comprobarBorrado.js";

export default {
  components: { Buscador },
  data: () => {
    return {
      search: "",
      tab: null,
      singleSelect: true,
      selected: [],
      headers: [
        { text: "Nombre Marca", value: "nombre" },
        { text: "Cliente", value: "cliente" },
        { text: "Fecha Alta", value: "fecha_alta" },

        { text: "Observaciones", value: "observaciones" },
        { text: "Acciones", value: "actions", align: "center" },
      ],
    };
  },
  computed: {
    marcas() {
      return Object.values(this.$store.getters.cogerMarcas);
    },
    marcasParaBuscar() {
      return this.marcas.map((m) => {
        return { ...m, cliente: this.buscarContacto(m.cliente) };
      });
    },
    contactos() {
      return Object.values(this.$store.getters.cogerContactos);
    },
  },
  methods: {
    buscarContacto(id) {
      return this.contactos.find((c) => c.id == id).nombre_fiscal;
    },
    eliminarMarca(id) {
      firebase
        .database()
        .ref("marcas/" + id)
        .remove();
    },
    borrar(id) {
      if (tienePadres("facturas", id)) {
        alert(
          "Algún componente depende de este elemento. No se puede borrar aún."
        );
      } else {
        alert("Este elemento se puede borrar.");
      }
    },
  },
};
</script>

<style lang="css"></style>
