<template>
  <v-container v-if="presupuestoElegido" fluido class="top mx-3">
    <v-form ref="formPresu" v-model="valid">
      <v-layout row wrap>
        <h3>Presupuestos</h3>
      </v-layout>
      <v-layout row wrap>
        <v-flex xs10 class="d-flex justify-space-between">
          <v-checkbox
            label="Site Survey"
            v-model="survey"
            class="mx-8"
          ></v-checkbox>
          <v-text-field
            label="Importe"
            v-model="importe"
            class="mx-8"
          ></v-text-field>
          <v-checkbox
            label="Reportaje Fotografico"
            v-model="reportaje"
            class="mx-8"
          ></v-checkbox>
          <v-text-field
            label="Importe"
            v-model="importe2"
            class="mx-8"
          ></v-text-field>
        </v-flex>
        <v-flex xs10 class="d-flex justify-space-between align-center"></v-flex>
      </v-layout>
      <v-layout row wrap>
        <v-flex xs8>
          <galeria />
        </v-flex>
        <v-flex xs4>
          <div
            v-if="carrito.length"
            :class="{ floatingTable: scrolled }"
            style="overflow: auto; height: 87vh"
          >
            <v-layout class="d-flex justify-space-around align-center">
              <v-card-title class="text-center"
                >TOTAL: {{ total }}€</v-card-title
              >
              <v-btn color="secondary" @click="addAProyecto"
                >Añadir a proyecto</v-btn
              >
            </v-layout>
            <v-alert color="secondary" :icon="false">
              <v-row align="center">
                <v-col class="grow">
                  Proyecto seleccionado:
                  <br />
                  <b>
                    <u>{{ presupuestoElegido.nombre }}</u>
                  </b>
                </v-col>
                <v-col class="shrink">
                  <v-btn @click="confirmarBorrado">Cambiar</v-btn>
                </v-col>
              </v-row>
            </v-alert>

            <v-data-table
              :headers="headers"
              :items="Object.values(carritoCantidades)"
              class="elevation-1 scroll-y overflow-hidden"
              :items-per-page="300"
              locale="es"
              hide-default-footer
              no-data-text="No hay nada añadido"
            >
              <template v-slot:item.imagen="{ item }">
                <v-avatar size="40" color="red">
                  <img :src="item.imagen" alt="alt" />
                </v-avatar>
              </template>
              <!-- <template v-slot:item.importe="{ item }">
              <span>{{ item.importe }} €</span>
              </template>-->
              <template v-slot:item.total="{ item }">
                <span>{{ item.importe * item.cantidad }} €</span>
              </template>
              <template v-slot:item.cantidad="{ item }">
                <v-icon
                  small
                  dark
                  dense
                  color="red"
                  size="10"
                  @click="removeComponente(item)"
                  class="mr-3"
                  >mdi-minus-circle</v-icon
                >
                <span>{{ item.cantidad }}</span>
                <v-icon
                  small
                  dark
                  dense
                  color="primary"
                  size="10"
                  class="ml-3"
                  @click="addComponente(item)"
                  >mdi-plus-circle</v-icon
                >
              </template>
            </v-data-table>
          </div>
          <div
            v-else
            :class="{ floatingTable: scrolled }"
            class="d-flex flex-column text-center justify-center align-center mt-12"
          >
            <v-card-text>
              <v-icon large>mdi-cart-plus</v-icon>
            </v-card-text>
            <v-card-text
              >Añade algun componente para ver el resumen aquí</v-card-text
            >
          </div>
        </v-flex>
      </v-layout>
    </v-form>
    <v-dialog
      v-model="dialogCambiar"
      persistent
      :overlay="true"
      max-width="500px"
      transition="dialog-transition"
    >
      <v-card class="pa-5">
        <v-card-title primary-title>Atención!!</v-card-title>
        <v-divider></v-divider>
        <v-card-subtitle>
          ¿Quieres cambiar el proyecto?
          <br />Los componentes en el carrito no se perderán
        </v-card-subtitle>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="secondary" @click="dialogCambiar = false"
            >No cambiar</v-btn
          >
          <v-btn color="primary" @click="eliminarProyectoSeleccionado"
            >Cambiar</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
  <v-container v-else grid-list-xs>
    <v-dialog
      v-model="dialog"
      persistent
      :overlay="true"
      max-width="500px"
      transition="dialog-transition"
    >
      <v-card class="pa-5">
        <v-card-title primary-title>Atención!!</v-card-title>
        <v-divider></v-divider>
        <v-card-subtitle>
          Para empezar un presupuesto debes seleccionar un proyecto
        </v-card-subtitle>
        <v-select
          v-model="proyectoSeleccionado"
          :items="proyectos"
          item-text="nombre"
          return-object
          label="Elige un proyecto"
        ></v-select>
        <v-card-actions v-if="proyectoSeleccionado">
          <v-spacer></v-spacer>
          <v-btn color="secondary" @click="$router.go(-1)">Salir</v-btn>
          <v-btn color="primary" @click="establecerProyecto">Continuar</v-btn>
        </v-card-actions>
        <v-card-actions v-else>
          <v-spacer></v-spacer>
          <v-btn color="secondary" @click="$router.go(-1)">Salir</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="verComponente">
      <componente />
    </v-dialog>
  </v-container>
</template>

<script>
import { mapState } from 'vuex'
import Buscador from '../components/Buscador'
import Galeria from '../components/GaleriaComponentes'
import Componente from '../components/Componente'
import firebase from 'firebase'
export default {
  components: {
    Buscador,
    Galeria,
    Componente
  },
  data: () => {
    return {
      verComponente: true,
      headers: [
        { text: 'Imagen', value: 'imagen' },
        { text: 'Nombre', value: 'nombre' },
        { text: 'Cantidad', value: 'cantidad' },
        // { text: 'Unidad', value: 'importe' },
        { text: 'Importe', value: 'total' }
      ],
      survey: '',
      importe: '',
      reportaje: '',
      importe2: '',
      scrolled: false,
      proyecto: '',
      valid: true,
      dialog: true,
      dialogCambiar: false,
      proyectoSeleccionado: null
    }
  },
  computed: {
    ...mapState([
      'carrito',
      'proyectos',
      'presupuestoElegido',
      'componentes',
      'presupuestos'
    ]),
    carritoCantidades() {
      const carroTemp = {}
      ;[...this.carrito].forEach((c) => {
        if (!carroTemp[c.id]) {
          carroTemp[c.id] = { ...c, cantidad: 1 }
        } else {
          carroTemp[c.id] = {
            ...c,
            cantidad: carroTemp[c.id].cantidad + 1
          }
        }
      })
      return carroTemp
    },
    componentesDeProyecto() {
      const componentesActivos = []
      let presupuestosDeEsteProyecto = null
      if (this.proyectoSeleccionado) {
        presupuestosDeEsteProyecto = this.presupuestos.filter(
          (p) => p.proyecto.id == this.proyectoSeleccionado.id
        )
      }

      if (!presupuestosDeEsteProyecto) return componentesActivos

      presupuestosDeEsteProyecto.forEach((p) => {
        p.componentes.forEach((c) => componentesActivos.push(c))
      })

      return componentesActivos
    },
    total() {
      if (this.carrito.length) {
        return this.carrito
          .map((c) => Number(c.importe))
          .reduce((a, b) => a + b)
      } else {
        return 0
      }
    }
  },
  methods: {
    establecerProyecto() {
      const componentes = this.componentesDeProyecto
      if (componentes.length) {
        alert('Este proyecto ya tiene componentes, los añadiremos al carrito')
        this.$store.state.carrito = componentes.concat(this.carrito)
      } else {
        this.$store.state.carrito = []
      }
      this.$store.commit('setPresupuestoElegido', this.proyectoSeleccionado)
    },
    confirmarBorrado() {
      this.dialogCambiar = true
    },
    eliminarProyectoSeleccionado() {
      this.$store.commit('setPresupuestoElegido', null)
      // this.$store.state.carrito = [];
      this.dialogCambiar = false
      this.$forceUpdate()
    },
    handleScroll() {
      this.scrolled = window.scrollY > 140
    },
    addComponente(item) {
      this.$store.commit('addCarrito', item)
    },
    removeComponente(item) {
      this.$store.commit('removeComponente', item)
    },
    addAProyecto() {
      firebase
        .database()
        .ref('presupuestos')
        .push({
          componentes: this.carrito,
          proyecto: this.proyectoSeleccionado
        })
        .then(() => {
          this.$store.state.carrito = []
          this.$store.commit('setPresupuestoElegido', null)
          this.$router.push('/presupuestos')
        })
    }
  },
  created() {
    window.addEventListener('scroll', this.handleScroll)
  },
  destroyed() {
    window.removeEventListener('scroll', this.handleScroll)
  }
}
</script>

<style lang="css">
.floating {
  position: fixed;
  bottom: 5px;
  left: 5px;
  z-index: 100;
}

.floatingTable {
  position: fixed;
  top: 65px;
  z-index: 100;
  width: 415px;
}

.floating .v-list {
  overflow-y: visible;
}

.mini * {
  font-size: 12px;
}
</style>
