<template>
  <v-container fluido class="fluido top" v-if="presupuestos.length">
    <v-layout wrap>
      <v-flex offset-xs6 xs6 mb-5>
        <buscador @searchNow="search = $event" :label="'Buscar Presupuestos'" />
      </v-flex>
      <v-flex xs12>
        <v-data-table
          :headers="headers"
          show-select
          v-model="selected"
          :items="presupuestos"
          item-key="id"
          :sort-desc="[false, true]"
          multi-sort
          :custom-filter="dataTableCustomSearch"
          class="elevation-1"
          :search="search"
        >
          <template v-slot:item.estado="{ item }">
            <v-avatar
              v-if="item.estado === 'Aceptado'"
              color="green"
              size="10"
            ></v-avatar>
            <v-avatar
              v-if="item.estado === 'Pendiente'"
              color="yellow"
              size="10"
            ></v-avatar>
            <v-avatar
              v-if="item.estado === 'Denegado'"
              color="red"
              size="10"
            ></v-avatar>
          </template>
          <template v-slot:item.margenBL="{ item }">
            {{ item.margenBL ? item.margenBL + "%" : "-" }}
          </template>

          <template v-slot:item.actions="{ item }">
            <v-btn
              x-small
              color="primary"
              :to="'/editarPresupuesto/' + item.id"
            >
              <v-icon small>mdi-pencil</v-icon>
            </v-btn>
            <v-btn x-small color="error" @click="borrar(item.id)">
              <v-icon small>mdi-delete</v-icon>
            </v-btn>
          </template>
        </v-data-table>
      </v-flex>
    </v-layout>
    <v-snackbar
      v-if="selected.length"
      v-model="selected"
      :timeout="0"
      color="primary"
    >
      Exportar {{ selected.length }} facturas
      <v-btn
        color="secondary"
        @click.native="exportToCSV(selected, fileName, headers)"
        >Descargar</v-btn
      >
    </v-snackbar>
  </v-container>
  <v-container v-else class="top">
    <v-layout row wrap class="justify-center">
      <v-card
        width="95%"
        height="400"
        color="grey lighten-2"
        class="d-flex justify-center align-center flex-column"
      >
        <v-card-text class="text-center"
          >Oops! No hay nada por aquí. Es un buen momento para crear
          presupuestos</v-card-text
        >
        <v-btn color="primary" @click="$router.push('/editarPresupuesto/crear')"
          >Vamos allá</v-btn
        >
      </v-card>
    </v-layout>
  </v-container>
</template>

<script>
import Buscador from "../components/Buscador";
import { mapState } from "vuex";
import { tienePadres } from "../servicios/comprobarBorrado.js";

export default {
  components: {
    Buscador,
  },
  data: () => {
    return {
      search: "",
      selected: [],
      fileName: "Presupuestos",
      dialog: false,
      imagen: "",
      headers: [
        { text: "Ref", value: "ref" },
        { text: "Estado", value: "estado" },
        { text: "Proyecto", value: "proyecto" },
        { text: "Cliente", value: "cliente" },
        { text: "Marca", value: "marca" },
        { text: "Fecha Alta", value: "fechaAlta" },
        { text: "Coste teórico", value: "importe" },
        { text: "%Margen", value: "margenBL" },
        { text: "Acciones", value: "actions", align: "center" },
      ],
    };
  },
  computed: {
    ...mapState(["contactos", "marcas", "proyectos"]),
    presupuestos() {
      return this.$store.getters.cogerPresupuestos.map((p) => {
        const proyecto = this.buscarProyecto(p.proyecto);

        return {
          ...p,
          ref: proyecto ? proyecto.referencia : "",
          proyecto: proyecto ? proyecto.nombre : "Sin proyecto",
          cliente: this.buscarCliente(p.cliente),
          marca: this.buscarMarca(p.marca),
          fechaAlta: proyecto?.fechaAlta ?? "",
          importe: Number(p.importe).toLocaleString("da-DK", {
            style: "currency",
            currency: "EUR",
          }),
        };
      });
    },
    proyectos() {
      return this.$store.getters.cogerProyectos;
    },
  },
  watch: {
    tipo: {
      handler: function () {
        this.selected = [];
      },
    },
  },
  methods: {
    borrar(id) {
      if (tienePadres("presupuestos", id)) {
        alert(
          "Algún componente depende de este elemento. No se puede borrar aún."
        );
      } else {
        alert("Este elemento se puede borrar.");
      }
    },
    detalle(id) {
      this.$router.push("/editarFactura/" + id);
    },
    buscarCliente(id) {
      return this.contactos.find((c) => c.id == id)
        ? this.contactos.find((c) => c.id == id).nombre_fiscal
        : "---";
    },
    buscarMarca(id) {
      return this.marcas.find((c) => c.id == id)
        ? this.marcas.find((c) => c.id == id).nombre
        : "---";
    },
    buscarProyecto(id) {
      return this.proyectos.find((c) => c.id == id);
    },
  },
};
</script>

<style lang="css">
.v-chip.v-size--default {
  justify-content: center;
  width: 45px;
}
</style>
