<template>
  <v-container class="top" v-if="proyectos.length">
    <v-layout wrap v-if="proyectos.length" child-flex>
      <v-flex offset-xs6 xs6 mb-5>
        <buscador @searchNow="search = $event" :label="'Buscar Proyectos'" />
      </v-flex>
      <v-flex xs12>
        <v-data-table
          :headers="headers"
          show-select
          v-model="selected"
          :items="proyectos"
          :custom-filter="dataTableCustomSearch"
          item-key="id"
          :sort-desc="[false, true]"
          multi-sort
          :search="search"
          class="elevation-1"
          :footer-props="{
            'items-per-page-text': 'Filas por página',
          }"
        >
          <template v-slot:item.estado="{ item }">
            <span>{{ item.estado }}</span>
          </template>
          <template v-slot:item.detalle="{ item }">
            <v-btn color="accent" x-small :to="'/detalleProyecto/' + item.id">
              <v-icon small>mdi-eye</v-icon>
            </v-btn>
          </template>
          <template v-slot:item.incidencia="{ item }">
            <v-avatar
              v-if="incidencia(item)"
              color="red"
              size="10"
              data-tour="tour2"
            ></v-avatar>
          </template>
        </v-data-table>
      </v-flex>
    </v-layout>
    <v-snackbar
      v-if="selected.length"
      v-model="selected"
      :timeout="0"
      color="primary"
    >
      Exportar {{ selected.length }} facturas
      <v-btn
        color="secondary"
        @click.native="exportToCSV(selected, fileName, headers)"
        >Descargar</v-btn
      >
    </v-snackbar>
  </v-container>
  <v-container v-else class="top">
    <v-layout row wrap class="justify-center">
      <v-card
        width="95%"
        height="400"
        color="grey lighten-2"
        class="d-flex justify-center align-center flex-column"
      >
        <v-card-text class="text-center"
          >Oops! No hay nada por aquí. Es un buen momento para crear un
          proyecto</v-card-text
        >
        <v-btn color="primary" to="/crearProyecto)">Vamos allá</v-btn>
      </v-card>
    </v-layout>
  </v-container>
</template>

<script>
import Proyecto from "../components/Proyecto";
import Buscador from "../components/Buscador";
import firebase from "firebase";
export default {
  components: { Buscador },
  data() {
    return {
      search: "",
      selected: [],
      fileName: "Proyectos",
      tourOptions: {
        highlight: true,
        useKeyboardNavigation: false,
        labels: {
          buttonSkip: "Salir",
          buttonPrevious: "Anterior",
          buttonNext: "Siguiente",
          buttonStop: "Fin",
        },
      },
      steps: [
        {
          target: '[data-tour="tour1"]', // We're using document.querySelector() under the hood
          content: "Este es el estado en el que se encuentra el proyecto",
        },
        {
          target: '[data-tour="tour2"]',
          content:
            "Punto rojo para proyectos con incidencias. Verde, todo va bien",
        },
        {
          target: '[data-tour="tour3"]',
          content: "Desde aquí podrás ver y editar el proyecto",
          params: {
            placement: "top",
          },
        },
      ],
      headers: [
        { text: "Referencia", value: "referencia" },
        { text: "Estado", value: "estado" },
        { text: "Nombre", value: "nombre" },
        { text: "Fecha Alta", value: "fechaAlta" },
        { text: "Cliente", value: "cliente" },
        { text: "Inc", value: "incidencia" },
        { text: "Fase Actual", value: "activo" },
        { text: "Detalle", value: "detalle" },
      ],
    };
  },
  watch: {
    tipo: {
      handler: function () {
        this.selected = [];
      },
    },
  },
  methods: {
    iniciar() {
      this.$tours.myTour.start();
    },
    buscarCliente(id) {
      return this.contactos.find((c) => c.id == id)
        ? this.contactos.find((c) => c.id == id).nombre_fiscal
        : "Sin cliente";
    },
    estadoActivo(proyecto) {
      if (proyecto.timeline.procesos.find((p) => p.activo)) {
        return proyecto.timeline.procesos.find((p) => p.activo).nombre;
      }
      return "Nada activo";
    },
    incidencia(p) {
      return p.timeline.procesos.some((p) => p.incidencia);
    },
  },
  computed: {
    proyectosConIncidencia() {
      return this.proyectos.filter((p) =>
        p.timeline.procesos.some((p) => p.incidencia)
      ).length;
    },
    proyectos() {
      return this.$store.getters.cogerProyectos.map((p) => ({
        ...p,
        activo: this.estadoActivo(p),
        cliente: this.buscarCliente(p.cliente),
      }));
    },
    contactos() {
      return this.$store.getters.cogerContactos;
    },
  },
  components: {
    Proyecto,
    Buscador,
  },
};
</script>

<style lang="css"></style>
