<template>
  <v-text-field
    solo
    color="primary"
    v-model="buscar"
    prepend-inner-icon="mdi-magnify"
    :label="label"
    single-line
    hide-details
  ></v-text-field>
</template>

<script>
export default {
  name: 'Buscador',
  props: ['value', 'label'],
  computed: {
    buscar: {
      get() {
        return this.value
      },
      set(val) {
        this.$emit('searchNow', val)
      }
    }
  }
}
</script>

<style></style>
