<template>
  <v-card>
    <v-card-title class="headline">Hay cambios</v-card-title>

    <v-card-text>Ups! Te has olvidado de guardar algunos cambios.</v-card-text>
    <v-card-text>¿Qué quieres hacer?</v-card-text>

    <v-card-actions>
      <v-spacer></v-spacer>

      <v-btn color="secondary darken-1" text @click="descartar()"
        >Descartar</v-btn
      >

      <v-btn
        color="primary darken-1"
        @click="
          guardar();
          cambios = false;
        "
        >Guardar</v-btn
      >
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  methods: {
    guardar() {
      this.$emit("guardar");
    },
    descartar() {
      this.$emit("descartar");
    },
  },
};
</script>

<style></style>
