<template>
  <v-card class="mx-2 my-2" width="30%" :to="'/componente/' + componente.id">
    <div class="d-flex flex-no-wrap justify-space-around">
      <v-col cols="8" class="pa-0">
        <v-tooltip bottom>
          <template v-slot:activator="{ on }">
            <v-card-title v-text="componente.nombre" v-on="on"></v-card-title>
          </template>
          <span>{{ componente.nombre }}</span>
        </v-tooltip>
        <v-card-subtitle
          class="py-0"
          v-text="buscarNombreCliente(componente.cliente)"
        ></v-card-subtitle>
        <!-- <v-card-subtitle class="py-0" v-text="componente.marca"></v-card-subtitle> -->
        <!-- <v-card-text class="py-0" v-text="componente.dimensionx + ' x ' + componente.dimensiony"></v-card-text> -->
        <v-card-title class="title bottom_pos">{{
          cambioAMoneda(componente.importe)
        }}</v-card-title>
      </v-col>

      <v-col cols="4">
        <v-carousel
          v-if="componente.imagenes"
          cycle
          height="150"
          width="10"
          hide-delimiter-background
          :show-arrows="false"
          hide-delimiters
        >
          <v-carousel-item v-for="(img, i) in componente.imagenes" :key="i">
            <v-sheet light>
              <v-img height="150" :src="img"></v-img>
            </v-sheet>
          </v-carousel-item>
        </v-carousel>
        <!-- <v-img v-if="componente.imagen" cover :src="componente.imagen"></v-img> -->
        <v-carousel
          v-else
          hide-delimiters
          cycle
          height="150"
          hide-delimiter-background
          :show-arrows="false"
        >
          <v-carousel-item>
            <v-sheet light>
              <v-img height="150" :src="componente.imagen"></v-img>
            </v-sheet>
          </v-carousel-item>
        </v-carousel>
      </v-col>

      <!-- <v-img :src="componente.imagen"></v-img> -->
    </div>
  </v-card>
  <!-- <v-row>
      <v-col cols="6">
        <v-card-title>{{ componente.nombre }}</v-card-title>
        <v-card-text>{{ componente.cliente }}</v-card-text>
        <v-card-text>
          {{
          componente.dimensionx + ' x ' + componente.dimensiony
          }}
        </v-card-text>
        <v-divider></v-divider>
        <v-card-title>{{componente.importe}}€</v-card-title>
        <v-card-actions>
          <v-btn color="primary" outlined text :to="'/componente/' + componente.id">Ver</v-btn>
        </v-card-actions>
      </v-col>
      <v-col cols="6">
        <v-img height="100%" fill :src="componente.imagen"></v-img>
      </v-col>
  </v-row>-->
  <!-- <v-img contain :src="componente.imagen" height="200px"></v-img>

    <v-card-title>{{ componente.nombre }}</v-card-title>

    <v-card-subtitle>{{ componente.cliente }}</v-card-subtitle>
    <v-card-subtitle>
      {{
      componente.dimensionx + ' x ' + componente.dimensiony
      }}
    </v-card-subtitle>

    <v-card-actions>
      <v-btn v-if="catalog" @click="addAlCarrito" color="green" dark>Añadir</v-btn>
      <v-btn color="primary" outlined text :to="'/componente/' + componente.id">Ver</v-btn>
  </v-card-actions>-->
</template>

<script>
import { mapState } from 'vuex'
import { valorAMoneda } from '../servicios/moneda'

export default {
  name: 'Componente',
  props: ['componente'],
  data: () => {
    return {}
  },
  computed: {
    ...mapState(['contactos'])
  },
  methods: {
    cambioAMoneda(v) {
      return valorAMoneda(v)
    },
    addAlCarrito() {
      this.$store.commit('addCarrito', this.componente)
    },
    buscarNombreCliente(id) {
      return this.contactos.find((c) => c.id == id).nombre_fiscal
    }
  }
}
</script>

<style></style>
