<template>
  <div>
    <v-select
      v-model="proceso.nombre"
      :items="fases"
      label="Proceso"
      outlined
    ></v-select>
    <v-text-field
      v-if="dates.length"
      v-model="dates[0]"
      label="Inicio Fase"
      outlined
      readonly
    ></v-text-field>
    <v-text-field
      v-if="dates.length"
      v-model="dates[1]"
      label="Fin Fase"
      outlined
      readonly
    ></v-text-field>

    <v-dialog
      ref="dialog"
      v-model="modal"
      :return-value.sync="dates"
      persistent
      width="290px"
    >
      <template v-slot:activator="{ on }">
        <v-btn v-on="on">Seleccionar fechas</v-btn>
      </template>
      <v-date-picker v-model="dates" scrollable range :first-day-of-week="1">
        <v-spacer></v-spacer>
        <v-btn text color="primary" @click="modal = false">Cancel</v-btn>
        <v-btn text color="primary" @click="$refs.dialog.save(dates)">OK</v-btn>
      </v-date-picker>
    </v-dialog>

    <v-select
      class="my-3"
      v-model="proceso.responsable"
      :items="empleados"
      item-text="nombre"
      return-object
      :hint="`${proceso.responsable.nombre} - ${proceso.responsable.horas}h activas`"
      label="Responsable"
      outlined
    ></v-select>
    <v-text-field
      v-if="proceso.responsable.length"
      v-model="proceso.horas"
      label="Horas"
      outlined
    ></v-text-field>
    <v-select
      v-model="proceso.activo"
      :items="items"
      item-text="text"
      item-value="value"
      label="Estado inicial"
      outlined
    ></v-select>
    <v-btn
      class="mt-6"
      fab
      color="red"
      absolute
      top
      right
      small
      @click="advice = true"
    >
      <v-icon>mdi-close</v-icon>
    </v-btn>
    <v-layout row wrap>
      <v-dialog v-model="advice" max-width="290">
        <v-card>
          <v-card-title class="headline"
            >Borrar {{ proceso.nombre }}</v-card-title
          >

          <v-card-text
            >¿Estás seguro de borrar la fase {{ proceso.nombre }}? Este proceso
            no puede desacerse</v-card-text
          >

          <v-card-actions>
            <v-spacer></v-spacer>

            <v-btn color="green darken-1" text @click="advice = false"
              >Salir</v-btn
            >

            <v-btn
              color="red darken-1"
              text
              @click="
                $emit('remove', index)
                advice = false
              "
              >Borrar</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-layout>
  </div>
</template>

<script>
import Fase from './Fase'
export default {
  props: ['index', 'proceso'],
  data() {
    return {
      fases: [
        'Presupuesto',
        'Diseño - Propuesta',
        'Diseño - Planos técnicos',
        'Producción',
        'Taller',
        'Instalación',
        'Facturación',
        'Cobro'
      ],
      dates: [],
      proyectos: [],
      advice: false,
      nameRules: [
        (v) => !!v || 'Name is required',
        (v) => (v && v.length <= 10) || 'Name must be less than 10 characters'
      ],
      modal: false,
      menu: false,
      valid: true,
      items: [
        {
          text: 'Activo',
          value: true
        },
        { text: 'No activo', value: false }
      ],
      proyecto: {
        nombre: '',
        fechaAlta: new Date().toISOString().substr(0, 10),
        timeline: {
          procesos: []
        },
        detalle: {
          cliente: 'Cliente',
          marca: 'Marca'
        }
      }
    }
  },
  methods: {
    convertDate(inputFormat) {
      function pad(s) {
        return s < 10 ? '0' + s : s
      }
      const d = new Date(inputFormat)
      return [
        pad(d.getDate()),
        pad(d.getMonth() + 1),
        pad(d.getFullYear())
      ].join('/')
    }
  },
  updated() {
    this.proceso.inicio = this.dates[0]
    this.proceso.fin = this.dates[1]
  },
  computed: {
    estado() {
      return this.proyecto.timeline.procesos.find((p) => p.activo).nombre
    },
    empleados() {
      return Object.values(this.$store.getters.cogerEmpleados).filter(
        (e) => (e.departamento = this.proceso.nombre)
      )
    }
  },
  components: {
    Fase
  }
}
</script>

<style></style>
