<template>
  <div>
    <v-card width="100%" class="px-5 py-3">
      <v-row>
        <v-col cols="4">
          <v-autocomplete
            :items="proveedores"
            item-text="nombre_fiscal"
            item-value="id"
            v-model="factura.cliente"
            label="Selecciona el proveedor..."
            :rules="[(v) => !!v || '']"
            required
          ></v-autocomplete>
        </v-col>
        <v-col cols="3">
          <v-text-field
            v-model="factura.numero"
            label="Numero de Factura"
            required
            :rules="[(v) => !!v || '']"
          ></v-text-field>
        </v-col>
        <!-- <v-flex xs3 class="mr-4">
          <v-text-field
            v-model="factura.pedido"
            label="Numero de pedido"
            required
            :rules="[v => !!v || '']"
          ></v-text-field>
        </v-flex>-->
        <!-- <v-flex xs3 class="mr-4">
          <v-text-field
            v-model="factura.ref"
            label="Referencia Interna"
            required
            :rules="[v => !!v || '']"
          ></v-text-field>
        </v-flex>-->
      </v-row>
      <v-row>
        <v-col cols="2">
          <v-menu
            ref="fecha"
            v-model="fecha"
            :close-on-content-click="false"
            :return-value.sync="factura.fecha"
            transition="scale-transition"
            offset-y
            min-width="290px"
          >
            <template v-slot:activator="{ on }">
              <v-text-field
                v-model="factura.fecha"
                label="Fecha"
                readonly
                v-on="on"
                :rules="[(v) => !!v || '']"
              ></v-text-field>
            </template>
            <v-date-picker
              :first-day-of-week="1"
              v-model="factura.fecha"
              no-title
              scrollable
              locale="es-ES"
            >
              <v-spacer></v-spacer>
              <v-btn text color="primary" @click="fecha = false">Cancel</v-btn>
              <v-btn
                text
                color="primary"
                @click="$refs.fecha.save(factura.fecha)"
                >OK</v-btn
              >
            </v-date-picker>
          </v-menu>
        </v-col>
        <v-col cols="2" class="mr-4">
          <v-menu
            ref="fechaC"
            v-model="contabilizacion"
            :close-on-content-click="false"
            :return-value.sync="factura.fecha_contabilizacion"
            transition="scale-transition"
            offset-y
            min-width="290px"
          >
            <template v-slot:activator="{ on }">
              <v-text-field
                v-model="factura.fecha_contabilizacion"
                label="Fecha Contabilización"
                readonly
                v-on="on"
              ></v-text-field>
            </template>
            <v-date-picker
              v-model="factura.fecha_contabilizacion"
              no-title
              scrollable
              locale="es-ES"
              :first-day-of-week="1"
            >
              <v-spacer></v-spacer>
              <v-btn text color="primary" @click="contabilizacion = false"
                >Cancel</v-btn
              >
              <v-btn
                text
                color="primary"
                @click="$refs.fechaC.save(factura.fecha_contabilizacion)"
                >OK</v-btn
              >
            </v-date-picker>
          </v-menu>
        </v-col>

        <v-col cols="2">
          <!-- <v-text-field
            v-model="factura.vencimiento"
            label="Fecha Vencimiento"
            :rules="[
                    v =>
                      (!!v && v != 'Faltan datos') ||
                      'Comprueba que el proveedor tenga los datos necesarios'
                  ]"
          ></v-text-field>-->
          <v-menu
            ref="fechaV"
            v-model="vencimiento"
            :close-on-content-click="false"
            :return-value.sync="factura.vencimiento"
            transition="scale-transition"
            offset-y
            min-width="290px"
          >
            <template v-slot:activator="{ on }">
              <v-text-field
                v-model="factura.vencimiento"
                label="Vencimiento"
                readonly
                v-on="on"
                :rules="[
                  (v) =>
                    (!!v && v != 'Faltan datos') ||
                    'Comprueba que el cliente tenga los datos necesarios',
                ]"
              ></v-text-field>
            </template>
            <v-date-picker
              :first-day-of-week="1"
              v-model="factura.vencimiento"
              no-title
              scrollable
              locale="es-ES"
            >
              <v-spacer></v-spacer>
              <v-btn text color="primary" @click="vencimiento = false"
                >Cancel</v-btn
              >
              <v-btn
                text
                color="primary"
                @click="$refs.fechaV.save(factura.vencimiento)"
                >OK</v-btn
              >
            </v-date-picker>
          </v-menu>
        </v-col>
        <v-col cols="4">
          <v-text-field
            v-model="factura.total"
            label="Total Base"
            required
            @blur="(e) => moneda(e)"
            :rules="[
              (v) =>
                (!!v && !v.includes(',')) ||
                'El separador de decimales debe ser un punto (.)',
            ]"
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="4">
          <v-autocomplete
            :items="tipos_operacion"
            v-model="factura.tipo_operacion"
            label="Tipo Operación"
          ></v-autocomplete>
        </v-col>
        <v-col cols="3" v-if="clienteElegido">
          <v-text-field
            disabled
            v-model="clienteElegido.iban"
            label="Nº Cuenta"
          ></v-text-field>
        </v-col>
        <v-col cols="3" v-else>
          <v-text-field disabled label="Nº Cuenta"></v-text-field>
        </v-col>
        <v-col cols="5">
          <v-autocomplete
            :items="cuentas_ingreso"
            v-model="factura.cuenta_ingreso"
            label="Cuenta Gastos"
          ></v-autocomplete>
        </v-col>
      </v-row>
    </v-card>

    <!-- CARD ORDEN DE COMPRA  -->
    <!-- <p class="headline my-4">Orden de compra</p>
    <v-card width="100%" class="px-5 py-3 mt-3">
      <v-row>
        <v-flex xs2 class="mr-4">
          <v-text-field v-model="factura.orden_numero" label="Número" required></v-text-field>
        </v-flex>
        <v-flex xs2 class="mr-4">
          <v-menu
            ref="orden_fecha"
            v-model="orden_fecha"
            :close-on-content-click="false"
            :return-value.sync="factura.orden_fecha"
            transition="scale-transition"
            offset-y
            min-width="290px"
          >
            <template v-slot:activator="{ on }">
              <v-text-field
                v-model="factura.orden_fecha"
                label="Fecha"
                readonly
                v-on="on"
                :rules="[v => !!v || '']"
              ></v-text-field>
            </template>
            <v-date-picker v-model="factura.orden_fecha" no-title scrollable>
              <v-spacer></v-spacer>
              <v-btn text color="primary" @click="orden_fecha = false">Cancel</v-btn>
              <v-btn text color="primary" @click="$refs.orden_fecha.save(factura.orden_fecha)">OK</v-btn>
            </v-date-picker>
          </v-menu>
          <v-text-field
                  v-model="factura.orden_fecha"
                  label="Fecha"
                  required
                  :rules="[v => !!v || '']"
          ></v-text-field>
        </v-flex>
        <v-flex xs2 class="mr-4">
          <v-text-field
            v-model="factura.orden_mail"
            label="E-mail"
            required
            :rules="[v => !!v || '']"
          ></v-text-field>
        </v-flex>
        <v-flex xs2 class="mr-4">
          <v-text-field
            v-model="factura.orden_solicitante"
            label="Solicitante"
            required
            :rules="[v => !!v || '']"
          ></v-text-field>
        </v-flex>
      </v-row>
    </v-card>-->

    <!-- CARD DATOS DE COBRO -->
    <div v-if="clienteElegido">
      <p class="headline my-4">
        Forma de Cobro
        <!-- <span class="overline" v-if="clienteElegido">
          (Editable desde la ficha de proveedor
          <v-btn icon small color="primary" :to="'/crearCliente/' + clienteElegido.id">aquí</v-btn>)
        </span>-->
      </p>
      <v-card width="100%" class="px-5 py-3 mt-3">
        <v-row>
          <v-col cols="4" class="pr-4" v-if="!factura.forma_pago">
            <v-text-field
              v-model="clienteElegido.forma_pago"
              label="Forma de pago"
            ></v-text-field>
          </v-col>
          <v-col cols="4" class="pr-4" v-else>
            <v-text-field
              v-model="factura.forma_pago"
              label="Forma de pago"
            ></v-text-field>
          </v-col>
          <v-col cols="4">
            <v-text-field
              v-model="clienteElegido.iban"
              label="Número de cuenta / IBAN"
              disabled
            ></v-text-field>
          </v-col>
          <v-col cols="4">
            <v-text-field
              v-model="clienteElegido.SWIFT"
              label="SWIFT"
              disabled
            ></v-text-field>
          </v-col>
          <v-col cols="2" class="pr-4">
            <v-text-field
              v-model="clienteElegido.numero_vencimientos"
              label="Vencimientos"
              disabled
            ></v-text-field>
          </v-col>
          <v-col cols="2" class="pr-4">
            <v-text-field
              v-model="clienteElegido.plazo_cobro"
              label="Plazo de Pago / Cobro"
              disabled
            ></v-text-field>
          </v-col>
          <v-col cols="2" class="pr-4">
            <v-text-field
              v-model="clienteElegido.dia_pago"
              label="Día de Pago / Cobro"
              disabled
            ></v-text-field>
          </v-col>

          <v-col xs12>
            <v-textarea
              v-model="clienteElegido.observaciones"
              label="Observaciones"
              disabled
            ></v-textarea>
          </v-col>
        </v-row>
      </v-card>
    </div>

    <!-- CARD GASTOS -->
    <div class="my-4 d-flex align-center">
      <span class="headline mr-12">Detalles</span>
      <v-btn
        small
        color="primary"
        v-if="detalles.length == 0"
        @click="abrirdetalle"
        >Añadir Detalle</v-btn
      >
    </div>
    <v-card width="100%" class="mt-3 justify-center text-center">
      <v-row v-if="!detalles.length" class="caption d-flex justify-center pa-8"
        >No hay detalles asociados en la factura</v-row
      >

      <v-data-table
        dense
        v-else
        :headers="headers"
        :items="gastos"
        hide-default-footer
        item-key="id"
        loading-text="Esperando Gastos..."
        no-data-text="No hay gastos asociados"
      >
        <template v-slot:item.referencia="{ item }">
          <span>{{ buscarReferencia(item.proyecto) }}</span>
        </template>
        <template v-slot:item.proyecto="{ item }">
          <span>{{ buscarProyecto(item.proyecto) }}</span>
        </template>
        <template v-slot:item.importe="{ item }">{{ item.importe }}€</template>
        <template v-slot:item.borrar="{ item }">
          <v-btn icon @click="editarDetalle(item)">
            <v-icon color="secondary">mdi-pencil</v-icon>
          </v-btn>
          <v-btn icon @click="borrarDetalle(item)">
            <v-icon color="primary">mdi-delete</v-icon>
          </v-btn>
        </template>
      </v-data-table>
      <v-btn
        small
        class="mt-3 mb-4"
        color="primary"
        v-if="detalles.length"
        @click="abrirdetalle"
        >Añadir Detalle</v-btn
      >
    </v-card>

    <!-- CARD TOTALES -->
    <div v-if="detalles.length">
      <p class="headline my-4">
        Totales Según Iva
        <small>(Ordenados de menor a mayor % de IVA)</small>
      </p>
      <v-card width="100%" class="mt-3 justify-center text-center">
        <v-data-table
          :headers="headersIva"
          :items="tiposIva"
          class="elevation-1"
          item-key="iva"
          hide-default-footer
        >
          <template v-slot:item.base="{ item }">{{
            valorAMoneda(item.base)
          }}</template>
          <template v-slot:item.soloiva="{ item }">{{
            valorAMoneda(item.soloiva)
          }}</template>
          <template v-slot:item.total="{ item }">{{
            valorAMoneda(item.total)
          }}</template>
          <template v-slot:item.soloirpf="{ item }">{{
            valorAMoneda(item.soloirpf)
          }}</template>
          <!-- <template v-slot:item.irpf="{ item }">
            <v-edit-dialog :return-value.sync="item.irpf">
              {{ item.irpf }}
              <template v-slot:input>
                <v-text-field v-model="item.irpf" label="Edit" single-line></v-text-field>
              </template>
            </v-edit-dialog>
          </template>-->
        </v-data-table>
        <div class="pa-5 d-flex justify-space-around">
          <v-flex xs2>
            <v-text-field
              :value="valorAMoneda(totalesTotales.totalBase)"
              name="total"
              label="Total Bases"
              id="base"
              disabled
              readonly
            ></v-text-field>
          </v-flex>
          <v-flex xs2>
            <v-text-field
              :value="valorAMoneda(totalesTotales.totalesIva)"
              name="total"
              label="Total Iva"
              id="base"
              disabled
              readonly
            ></v-text-field>
          </v-flex>
          <v-flex xs2>
            <v-text-field
              :value="valorAMoneda(totalesTotales.totalesIrpf)"
              name="total"
              label="Total IRPF"
              id="base"
              disabled
              readonly
            ></v-text-field>
          </v-flex>
          <v-flex xs2>
            <v-text-field
              :value="valorAMoneda(totalesTotales.totaltotal)"
              name="total"
              label="Total Absoluto"
              id="base"
              disabled
              readonly
            ></v-text-field>
          </v-flex>
        </div>
      </v-card>
      <!-- <v-row v-for="item in tiposIva" :key="item.iva">
          <v-flex xs2 class="mr-4">
            <v-text-field
              :value="
                    item.base.toLocaleString('da-DK', {
                      style: 'currency',
                      currency: 'EUR'
                    })
                  "
              label="Base Imponible"
              readonly
            ></v-text-field>
          </v-flex>
          <v-flex xs2 class="mr-4">
            <v-text-field :value="item.iva" label="Iva %" readonly></v-text-field>
          </v-flex>
          <v-flex xs2 class="mr-4">
            <v-text-field
              :value="item.soloiva.toLocaleString('da-DK', {
                      style: 'currency',
                      currency: 'EUR'
                    })"
              label="Total Iva"
              readonly
            ></v-text-field>
          </v-flex>
          <v-flex xs2 class="mr-4">
            <v-text-field
              :value="
                    item.total.toLocaleString('da-DK', {
                      style: 'currency',
                      currency: 'EUR'
                    })
                  "
              label="Total"
              readonly
            ></v-text-field>
          </v-flex>
      </v-row>-->
    </div>
    <div v-if="detalles.length && factura.total">
      <p class="headline my-4">Doble Check</p>
      <v-card width="100%" class="px-5 py-3 mt-3">
        <v-row class="d-flex justify-space-around">
          <v-flex xs5>
            <v-text-field
              :value="valorAMoneda(Number(factura.total))"
              label="Total Inicial"
              readonly
            ></v-text-field>
          </v-flex>
          <v-flex xs5>
            <v-text-field
              v-if="tiposIva.length"
              :value="valorAMoneda(totalesIguales)"
              label="Total Beneficio"
              readonly
            ></v-text-field>
          </v-flex>
        </v-row>
      </v-card>
    </div>

    <!-- DIALOG GASTOS -->
    <v-dialog v-model="dialog" transition="dialog-transition" width="60%">
      <v-card class="px-5 py-3 mt-3">
        <v-card-title>Añadir detalle</v-card-title>
        <v-form ref="detalle" v-model="detalleValid">
          <v-row wrap>
            <v-flex xs5 class="pr-3">
              <v-autocomplete
                :items="proyectos"
                item-text="nombre_detallado"
                item-value="id"
                v-model="detalle.proyecto"
                label="Proyecto"
                no-data-text="No hay proyectos disponibles"
                :rules="[(v) => (!!v && v != undefined) || '']"
              ></v-autocomplete>
            </v-flex>
            <v-flex xs2 class="pr-3">
              <v-select
                :items="camposOrdenados"
                v-model="detalle.tp"
                label="TP"
                :rules="[(v) => !!v || '']"
              ></v-select>
            </v-flex>
            <v-flex xs4 class="pr-3">
              <v-text-field
                v-model="detalle.concepto"
                readonly
                label="Concepto"
                required
                :rules="[(v) => !!v || '']"
              ></v-text-field>
            </v-flex>
            <v-flex xs2 class="pr-3">
              <v-text-field
                v-model="detalle.importe"
                label="Importe"
                required
                @blur="(e) => moneda(e)"
                :rules="[
                  (v) =>
                    (!!v && !v.includes(',')) ||
                    'El separador de decimales debe ser un punto (.)',
                ]"
              ></v-text-field>
            </v-flex>
            <v-flex xs2 class="pr-3">
              <v-text-field
                v-model="detalle.iva"
                placeholder="0"
                label="Iva %"
                append-icon="mdi-percent-outline"
                required
              ></v-text-field>
            </v-flex>
            <v-flex xs2 class="pr-3">
              <v-text-field
                :value="
                  detalle.importe
                    ? valorAMoneda(
                        Number(Number((detalle.importe * detalle.iva) / 100))
                      )
                    : 0
                "
                label="Total IVA"
                required
                readonly
              ></v-text-field>
            </v-flex>
            <v-flex xs2 class="pr-3">
              <v-text-field
                v-model="detalle.irpf"
                placeholder="0"
                label="IRPF %"
                required
              ></v-text-field>
            </v-flex>
            <v-flex xs2 class="pr-3">
              <v-text-field
                :value="
                  detalle.importe
                    ? valorAMoneda(
                        Number(Number((detalle.importe * detalle.irpf) / 100))
                      )
                    : 0
                "
                label="Total IRPF"
                required
                readonly
              ></v-text-field>
            </v-flex>
            <v-flex xs2 class="pr-3">
              <v-text-field
                :value="
                  detalle.importe
                    ? valorAMoneda(
                        Number(
                          Number(detalle.importe) +
                            Number(detalle.importe * detalle.iva) / 100 -
                            Number(detalle.importe * detalle.irpf) / 100
                        )
                      )
                    : 0
                "
                label="Total"
                required
                readonly
              ></v-text-field>
            </v-flex>

            <v-flex xs12 class="pr-3">
              <v-text-field
                v-model="detalle.descripcion"
                label="Descripción"
                required
              ></v-text-field>
            </v-flex>
          </v-row>
          <v-row wrap class="justify-center">
            <v-btn block color="primary" @click="guardarDetalle()"
              >Guardar detalle</v-btn
            >
          </v-row>
        </v-form>
      </v-card>
    </v-dialog>
    <!-- <v-layout row wrap class="justify-center mt-12">
      <v-btn v-if="id == 'test'" color="primary" @click="guardarFactura()">Guardar Factura Cliente</v-btn>
      <v-btn v-else color="primary" @click="actualizarFactura()">Actualizar Factura Cliente</v-btn>
    </v-layout>-->
  </div>
</template>

<script>
import firebase from "firebase";
import { mapState } from "vuex";

export default {
  props: ["id", "factura"],
  data() {
    return {
      fecha: false,
      vencimiento: false,
      contabilizacion: false,
      orden_fecha: false,
      valid: true,
      dialog: false,
      dialogTP: false,
      detalles: [],
      detalle: {
        iva: 0,
        importe: 0,
        irpf: 0,
      },
      detalleIndex: -1,
      cliente: "",
      proveedor: "",
      proyecto: "",
      marca: {},
      detalleValid: false,
      headers: [
        { text: "Ref.", value: "referencia" },
        { text: "Proyecto", value: "proyecto" },
        { text: "TP", value: "tp" },
        { text: "Base", value: "importe" },
        { text: "Iva %", value: "iva" },
        { text: "IVA", value: "total_iva" },
        { text: "IRPF %", value: "irpf" },
        { text: "IRPF", value: "total_irpf" },
        { text: "Total", value: "total" },
        // { text: 'Concepto', value: 'concepto' },
        // { text: "Descripción", value: "descripcion" },
        { text: "", value: "borrar" },
      ],
      headersIva: [
        { text: "Base Imponible", value: "base" },
        { text: "Iva %", value: "iva" },
        { text: "Iva Total", value: "soloiva" },
        { text: "IRPF %", value: "irpf" },
        { text: "IRPF Total", value: "soloirpf" },
        { text: "Total", value: "total" },
      ],
      money: {
        "decimal-separator": ",",
        separator: ".",
        currency: "€",
        precision: 2,
        "output-type": "Number",
      },
      tipos_operacion: [
        "Operaciones Interiores IVA deducible",
        "Compensaciones Agrarias",
        "Adquisiciones Intracomunitarias de bienes",
        "Inversiones del Sujeto Pasivo",
        "no sale, se la salta, no hace falta ponerla",
        "Importaciones",
        "IVA no deducible",
        "Operaciones intracomunitarias de servicios",
      ],
      cuentas_ingreso: [
        "60000000	COMPRA DE MERCADERIAS",
        "60000099	COMPRAS CON DESTINO ALMACEN",
        "60000999	CUENTA PUENTE FRAS DE COMPRAS",
        "60200000	COMPRAS DE OTROS APROVISIONAMI",
        "60700000	TRABAJOS REALIZ.OTRAS EMPRESAS",
        "60800000	DEVOLUCIONES DE COMPRAS",
        "60900000	RAPPELS POR COMPRAS",
        "61000000	VARIACION DE EXISTENCIAS",
        "61100000	VARIAC.EXISTENC.MATERIAS PRIMA",
        "62100000	ARRENDAMIENTO",
        "62100001	ARREND. NAVE DAINVER",
        "62100002	ARREND.VEH 5058KVH (SABADELL)",
        "62100003	DEP. MOBILIARIO",
        "62100004	ARREND. LEASINGS",
        "62100005	ARREND.  EQUIPOS Q20 (CAIXA)",
        "62100006	ARREND. VEHIC. VW 3353HBN",
        "62100007	ARREND. VEHICULO 0556FJG A 4",
        "62100008	ARREND.TOUAREG 5938DJY",
        "62100009	ARREND.AUDI Q5 4636GMC ALBERT",
        "62100010	ARREND.AUDI A3 0896FTW MN",
        "62100011	ARREND.FURGO 7913 GDH (SANT)",
        "62100012	FURGO TRANSIT CUSTOM TDCI 130C",
        "62100013	RENT.VOLKSWA 3630 KKV (CAIXA)",
        "62130000	OTROS ARRENDAMIENTOS",
        "62200000	REPARACIONES Y CONSERVACION.",
        "62200001	REP. Y CONSERVACION   BL",
        "62200002	REP. CONSERV. FURGONETAS",
        "62200003	MANTENIM. INFORMATICOS",
        "62200004	GASTOS DE UTILLAJE",
        "62200005	REP.CONS. COMUNIDAD CAN SALVAT",
        "62200006	REPARAC. TUAREG 5938DJY",
        "62200007	REPAR.NEW BEETLE 5726 BWD",
        "62200008	REPAR.VW PASSAT 0324CZC",
        "62200009	REP.VEH. 0556FJG A4 EUGENI",
        "62300000	SERVIC.PROFES.INDEPENDIENTES",
        "62300001	SERVIC.PROFES.INDEPENDIENTES",
        "62300002	SERVIC.PROFES.EBAIXAS",
        "62310000	SERV,PROFES. DISEÑO",
        "62320000	SERV PROFES. INSTALADORES",
        "62400000	TRANSPORTES",
        "62500000	PRIMAS DE SEGUROS",
        "62500001	PRIMAS DE SEGUROS",
        "62500002	PRIMAS DE SEGUROS BANCOS OPER",
        "62600000	SERVICIOS BANCARIOS Y SIMILARE",
        "62600001	COMISIONES LA CAIXA",
        "62600002	COMISIONES BANC SABADELL",
        "62600003	COMISIONES BANCO SANTANDER",
        "62600004	COMISIONES BANCARIAS BANKINTER",
        "62700000	PUBLIC.,PROPAG. Y RELAC.PUBLIC",
        "62800000	SUMINISTROS",
        "62800001	DELEG. PALMA   SUMIN. AGUA",
        "62800002	SUMIN. GTOS. TELEFONOS",
        "62800003	SUMINISTRO ELECTRICIDAD",
        "62800004	SUMINISTROS.SABAMESA",
        "62800006	SUMINISTROS AGUA",
        "62800010	GASOIL CALEFACCION TALLER",
        "62900000	GASTOS",
        "62900001	GASTOS DE VIAJE",
        "62900005	REP.CONS. COMUNIDAD CAN SALVAT",
        "62910000	GASTOS DE COMERCIAL",
        "62920000	GASTOS DE INSTALACION",
        "62930000	GASTOS DE GASOLINA",
        "62940000	OTROS SERVICIOS. OBSEQUIOS",
        "62950000	OTROS SERVICIOS. MAT.OFICINA",
        "62950001	SERVIC. CORREOS TELEGRAFOS",
        "62960000	OTROS SERVICIOS. GASTOS VARIOS",
        "62960001	GASTOS SERVICIOS PARKING",
        "62960002	OTROS GASTOS ADMINISTR.",
        "62960004	OTROS SERVICIOS. AUTOPISTAS",
        "62970000	PROYECTOS DPTO. TECNICO",
      ],
    };
  },
  watch: {
    totalFactura(val) {
      this.factura.totales_total =
        Number(this.factura.total_base) +
        Number((this.factura.total_base * this.factura.total_iva) / 100) -
        Number((this.factura.total_base * this.factura.total_recargo) / 100);
    },

    detalleCampo(val) {
      if (this.detalle.tp) {
        this.detalle.concepto = this.detalleCampos.find(
          (d) => d.key == val
        ).value;
      }
    },
    fechaInicial() {
      this.factura.vencimiento = this.fechaVencimiento;
    },
    clienteElegido() {
      this.factura.vencimiento = this.fechaVencimiento;
    },
    cambioMetodoPago() {
      this.factura.forma_pago = this.clienteElegido.forma_pago;
    },
    detalles() {
      this.factura.detalles = this.detalles;
    },
    factura() {
      this.factura.detalles = this.detalles;
      if (this.factura.forma_pago) {
        this.clienteElegido.forma_pago = this.factura.forma_pago;
      }
    },
  },

  methods: {
    moneda(e) {
      const cleanValue = e.target.value.replace(",", ".");
      e.target.value = Number(cleanValue).toLocaleString("da-DK", {
        style: "currency",
        currency: "EUR",
      });
    },
    valorAMoneda(valor) {
      return valor.toLocaleString("da-DK", {
        style: "currency",
        currency: "EUR",
      });
    },
    preview(e) {
      if (e) this.factura.imagen = URL.createObjectURL(e);
      else this.factura.imagen = null;
    },
    buscarProyecto(id) {
      return this.proyectos.find((p) => p.id == id)?.nombre || "--";
    },
    buscarReferencia(id) {
      return this.proyectos.find((p) => p.id == id)?.referencia || "--";
    },
    async guardarFactura() {
      this.factura.tipo = this.tipo;
      if (this.$refs.facturaForm.validate()) {
        if (!this.detalles.length) {
          this.factura.detalles = 0;
        } else {
          this.factura.detalles = this.detalles;
        }

        if (this.factura.file) {
          const storage = await firebase
            .storage()
            .ref("muebles")
            .child(this.factura.numero + ".png");
          const image = await storage.put(this.factura.file);
          const url = storage
            .getDownloadURL()
            .then((url) => {
              // this.factura.detalles = this.detalles;
              this.factura.imagen = url;
              firebase
                .database()
                .ref("facturas")
                .push(this.factura)
                .then((e) => {
                  alert("Factura con imagen añadida");
                  this.$router.push("/facturas");
                });
            })
            .catch((err) => console.log(err));
        } else {
          // this.factura.detalles = this.detalles;
          firebase
            .database()
            .ref("facturas")
            .push(this.factura)
            .then((e) => {
              alert("Factura añadida");
              this.$router.push("/facturas");
            });
        }
      }
    },
    async actualizarFactura() {
      this.factura.tipo = this.tipo;
      if (this.$refs.facturaForm.validate()) {
        if (this.factura.file) {
          const storage = await firebase
            .storage()
            .ref("muebles")
            .child(this.factura.numero + ".png");
          const image = await storage.put(this.factura.file);
          const url = storage
            .getDownloadURL()
            .then((url) => {
              this.factura.detalles = this.detalles;
              this.factura.imagen = url;
              firebase
                .database()
                .ref("facturas/" + this.id)
                .update(this.factura)
                .then((e) => {
                  alert("Factura con imagen actualizada");
                  this.$router.push("/facturas");
                });
            })
            .catch((err) => console.log(err));
        } else {
          this.factura.detalles = this.detalles;
          firebase
            .database()
            .ref("facturas/" + this.id)
            .update(this.factura)
            .then((e) => {
              alert("Factura actualizada");
              this.$router.push("/facturas");
            });
        }
      }
    },
    abrirdetalle() {
      this.dialog = true;
      if (!this.detalle.irpf) this.detalle.irpf = 0;
      if (!this.detalle.iva) this.detalle.iva = 0;
    },
    cerrar() {
      this.detalle = {};
      this.detalleIndex = -1;
      this.dialog = false;
    },
    editarDetalle(detalle) {
      this.detalleIndex = this.detalles.indexOf(detalle);
      this.detalle = Object.assign({}, detalle);
      this.dialog = true;
    },
    borrarDetalle(item) {
      const index = this.detalles.indexOf(item);
      confirm("¿Estás seguro de borrar este Gasto de la factura?") &&
        this.detalles.splice(index, 1);
    },
    guardarDetalle() {
      if (this.$refs.detalle.validate()) {
        if (this.detalleIndex > -1) {
          Object.assign(this.detalles[this.detalleIndex], this.detalle);
        } else {
          this.detalle.total_iva = this.valorAMoneda(
            Number(Number((this.detalle.importe * this.detalle.iva) / 100))
          );
          this.detalle.total_irpf = this.valorAMoneda(
            Number(Number((this.detalle.importe * this.detalle.irpf) / 100))
          );
          this.detalle.total = this.valorAMoneda(
            Number(
              Number(this.detalle.importe) +
                Number(this.detalle.importe * this.detalle.iva) / 100 -
                Number(this.detalle.importe * this.detalle.irpf) / 100
            )
          );

          this.detalles.push(this.detalle);
        }
        this.cerrar();
      }
    },
  },
  created() {
    if (this.id != "test") {
      this.factura = this.facturas.find((f) => f.id == this.id);
      if (this.factura.detalles == 0 || !this.factura.detalles) {
        this.detalles = [];
      } else {
        this.detalles = this.factura.detalles;
      }
      this.tipo = this.factura.tipo;
    }
  },

  computed: {
    ...mapState(["campos", "detalleCampos"]),
    camposOrdenados() {
      return this.campos.sort((a, b) =>
        a.toLowerCase() > b.toLowerCase() ? 1 : -1
      );
    },
    cambioMetodoPago() {
      return this.clienteElegido ? this.clienteElegido.forma_pago : "";
    },
    fechaInicial() {
      return this.factura.fecha;
    },
    fechaVencimiento() {
      if (this.clienteElegido && this.factura.fecha) {
        this.clienteElegido.plazo_cobro = this.clienteElegido.plazo_cobro || 0;
        // let fechaInicial = new Date(this.factura.fecha);
        let diaPago;
        if (
          this.clienteElegido.dia_pago == "" ||
          this.clienteElegido.dia_pago == undefined
        ) {
          diaPago = 0;
          const plazoCobro = Number(this.clienteElegido.plazo_cobro);

          const fechaFinal = new Date(
            new Date(this.factura.fecha).setDate(
              new Date(this.factura.fecha).getDate() + plazoCobro
            )
          );

          return fechaFinal.toISOString().substr(0, 10);
        } else if (this.clienteElegido.dia_pago.trim().length <= 2) {
          diaPago = Number(this.clienteElegido.dia_pago);
          const plazoCobro = Number(this.clienteElegido.plazo_cobro);

          const fechaFinal = new Date(
            new Date(this.factura.fecha).setDate(
              new Date(this.factura.fecha).getDate() + plazoCobro
            )
          );

          const diaFinal = fechaFinal.getDate();

          if (diaFinal < diaPago) {
            return new Date(
              fechaFinal.getFullYear(),
              fechaFinal.getMonth(),
              diaPago + 1
            )
              .toISOString()
              .substr(0, 10);
          } else {
            return new Date(
              fechaFinal.getFullYear(),
              fechaFinal.getMonth() + 1,
              diaPago + 1
            )
              .toISOString()
              .substr(0, 10);
          }
        } else {
          diaPago = this.clienteElegido.dia_pago.split(",");

          const plazoCobro = parseInt(this.clienteElegido.plazo_cobro);

          const fechaFinal = new Date(
            new Date(this.factura.fecha).setDate(
              new Date(this.factura.fecha).getDate() + plazoCobro
            )
          );
          const diaFinal = fechaFinal.getDate(); // 24

          // 1,3
          for (let i = 0; i < diaPago.length; i++) {
            if (diaFinal > Number(diaPago[i])) {
            } else {
              return new Date(
                fechaFinal.getFullYear(),
                fechaFinal.getMonth(),
                Number(diaPago[i]) + 1
              )
                .toISOString()
                .substr(0, 10);
            }

            if (i == diaPago.length - 1) {
              return new Date(
                fechaFinal.getFullYear(),
                fechaFinal.getMonth() + 1,
                Number(diaPago[0]) + 1
              )
                .toISOString()
                .substr(0, 10);
            }
          }
        }
      } else {
        return "Faltan datos";
      }
    },
    tiposIva() {
      if (this.detalles.length) {
        const diferentesIva = [...new Set(this.detalles.map((d) => d.iva))];
        const totals = [];
        diferentesIva.forEach((iva) => {
          const obj = {};
          const elementosConMismoIva = this.detalles.filter(
            (d) => d.iva == iva
          );
          obj.iva = Number(iva) || 0;
          obj.base = elementosConMismoIva
            .map((d) => Number(d.importe))
            .reduce((a, b) => a + b);
          obj.soloiva = obj.base + (obj.base * obj.iva) / 100 - obj.base;
          obj.irpf =
            elementosConMismoIva
              .map((d) => Number(d.irpf))
              .reduce((a, b) => a + b) / elementosConMismoIva.length;

          obj.totalirpf = obj.base - (obj.base * obj.irpf) / 100;
          obj.soloirpf = obj.base - obj.totalirpf;
          obj.total =
            obj.base + (obj.base * obj.iva) / 100 - (obj.base * obj.irpf) / 100;
          totals.push(obj);
        });

        return totals.sort((a, b) => Number(a.iva) - Number(b.iva));
      } else {
        return [];
      }
    },
    totalesParciales() {
      return this.tiposIva.map((i) => i.base).reduce((a, b) => a + b);
    },
    totalesIguales() {
      return (
        Number(this.factura.total).toFixed(2) - this.totalesParciales.toFixed(2)
      );
    },
    totalesTotales() {
      const totales = this.tiposIva;
      const obj = {
        totalBase: totales.map((e) => Number(e.base)).reduce((a, b) => a + b),
        totalesIva: totales
          .map((e) => Number(e.soloiva))
          .reduce((a, b) => a + b),
        totalesIrpf: totales
          .map((e) => Number(e.soloirpf))
          .reduce((a, b) => a + b),
        totaltotal: totales.map((e) => Number(e.total)).reduce((a, b) => a + b),
      };
      this.factura.totalesIva = obj.totalesIva;

      return obj;
    },
    totalFactura() {
      return this.factura.total_base;
    },
    total() {
      if (this.detalles.length) {
        return this.detalles
          .map((d) => Number(d.importe))
          .reduce((a, b) => a + b);
      }
      return 0;
    },
    detalleCampo() {
      return this.detalle.tp;
    },
    contactos() {
      return Object.values(this.$store.getters.cogerContactos);
    },
    proyectos() {
      return Object.values(this.$store.getters.cogerProyectos)
        .sort((a, b) => a.referencia - b.referencia)
        .map((p) => {
          return { ...p, nombre_detallado: p.referencia + " - " + p.nombre };
        });
      // .filter(
      //   p =>
      //     p.detalle.cliente.info.nombre_fiscal ==
      //     this.cliente.info.nombre_fiscal
      // );
    },
    facturas() {
      return Object.values(this.$store.getters.cogerFacturas);
    },
    proveedores() {
      return this.contactos
        .filter((c) => c.tipo == "Proveedor" || c.tipo == "Acreedor")
        .sort((a, b) =>
          a.nombre_fiscal.toLowerCase() > b.nombre_fiscal.toLowerCase() ? 1 : -1
        );
    },
    marcas() {
      return Object.values(this.$store.getters.cogerMarcas);
    },
    clienteElegido() {
      return this.contactos.find((c) => c.id == this.factura.cliente);
    },
    gastos() {
      return this.detalles;
    },
  },
};
</script>

<style>
.textoRojo input {
  color: red !important;
}
.textoVerde input {
  color: green !important;
}
/* 
.v-data-table td {
  font-size: 12px;
} */
</style>
