<template>
  <v-card
    class="faseCard text-center px-2 py-2 elevation-0"
    @click="$emit('editar')"
  >
    <!-- <v-switch v-if="admin" class="mini" small v-model="estado" inset label="Activo"></v-switch> -->
    <p class="tituloFase">{{ nombre }}</p>
    <v-progress-linear
      class="mb-1"
      :color="status"
      height="15"
      :value="100"
      striped
    ></v-progress-linear>
    <v-progress-linear
      :color="completionPercentage >= 100 ? 'success' : 'primary'"
      height="6"
      :buffer-value="completionPercentage"
      :value="completionPercentage"
      stream
    ></v-progress-linear>
    <div class="pr-1 text-right">
      <small>{{ convertDate(pickedDates[1]) }}</small>
      <v-divider vertical></v-divider>
    </div>
    <div v-if="!admin" class="d-flex justify-space-between align-center mt-2">
      <div class="caption mt-2">
        {{ responsable }}
      </div>
      <div class="caption mt-2">{{ horas }}h</div>
    </div>
  </v-card>
</template>

<script>
export default {
  props: [
    "nombre",
    "activo",
    "dates",
    "responsable",
    "admin",
    "horas",
    "incidencia",
  ],
  data() {
    return {
      targetDate: null,
      beginDate: null,
      totalTime: 0,
      dateProgress: 0,
      completionPercentage: 0,
      menu: false,
      modal: false,
      estado: this.activo,
    };
  },
  mounted() {
    this.beginDate = new Date(this.pickedDates[0]);
    this.targetDate = new Date(this.pickedDates[1]);
    this.totalTime = this.targetDate - this.beginDate;
    this.dateProgress = new Date() - this.beginDate;
    this.completionPercentage = Math.round(
      (this.dateProgress / this.totalTime) * 100
    );
  },
  updated() {
    this.estado = this.activo;
  },
  watch: {
    estado() {
      this.$emit("change", this.nombre);
    },
  },
  methods: {
    convertDate(inputFormat) {
      function pad(s) {
        return s < 10 ? "0" + s : s;
      }
      const d = new Date(inputFormat);
      return [pad(d.getDate()), pad(d.getMonth() + 1)].join("/");
    },
  },
  computed: {
    pickedDates() {
      return this.dates.sort();
    },
    status() {
      // Fase activa por fecha pero no activa por botón
      if (
        this.completionPercentage > 0 &&
        this.completionPercentage <= 100 &&
        !this.estado
      ) {
        return "error";
      }
      // Fase no iniciada
      if (this.completionPercentage < 0) {
        return "default darken-4";
      }
      // Fase acabada por tiempo pero sigue activa de botón
      if (this.completionPercentage >= 100 && this.estado) {
        return "warning";
      }
      // Fase a punto de acabar y sigue activa
      if (this.completionPercentage >= 85 && this.estado) {
        return "warning darken-2";
      }
      // Fase activa de fecha y de botón
      if (this.completionPercentage < 100 && this.estado) {
        return "success";
      }
      // Fase no activa de botón
      if (!this.estado) {
        return "warning darken-5";
      }
    },
  },
};
</script>

<style>
.v-divider--vertical {
  margin-right: -4px !important;
  margin-left: 4px !important;
  border-width: 5px thin 16px 0px !important;
}
p.tituloFase {
  font-size: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0;
}

.faseCard {
  cursor: move !important;
}
</style>
