<template>
  <v-card
    class="floating mini"
    v-if="scrolled && carrito.length"
    transition="slide-y-reverse-transition"
    width="200"
  >
    <v-card-title primary-title> Tus componentes añadidos </v-card-title>
    <v-list class="overflow-y-auto" max-height="235">
      <v-list-item v-for="(item, i) in carritoCantidades" :key="i">
        <v-list-item-avatar>
          <v-img
            src="https://cdn.shopify.com/s/files/1/0095/7687/4080/products/Crosley_Soho_Turntable_Stand_-Black2_1080x.jpg?v=1562681764"
          ></v-img>
        </v-list-item-avatar>

        <v-list-item-content>
          <v-list-item-title>{{ item.nombre }}</v-list-item-title>
          <v-list-item-subtitle
            >{{ item.importe }}€ x {{ item.cantidad }}
          </v-list-item-subtitle>
        </v-list-item-content>

        <v-list-item-action>
          <span>{{ item.cantidad * item.importe }}€</span>
        </v-list-item-action>
      </v-list-item>
    </v-list>
    <v-divider></v-divider>
    <v-card-text class="text-center">
      <p class="subheader">Total</p>
      <span class="headline">{{ total }}€</span>
    </v-card-text>
  </v-card>
</template>

<script>
export default {};
</script>

<style></style>
