<template>
  <v-container class="top" v-if="componentes.length">
    <v-row v-if="catalog" class="d-flex align-center">
      <v-col cols="3">
        <v-checkbox
          label="Mostrar todos"
          v-model="mostrarTodos"
          :value="true"
        ></v-checkbox>
      </v-col>
      <v-col cols="4">
        <buscador @searchNow="search = $event" :label="'Buscar Componentes'" />
      </v-col>
      <v-spacer></v-spacer>
      <v-col cols="4">
        <v-combobox
          solo
          hide-details
          single-line
          v-model="tiposSeleccionados"
          :items="tipoComponentes"
          item-text="nombre"
          item-value="nombre"
          label="Selecciona las categorías para ver"
          multiple
        >
          <template v-slot:item="{ index, item }">
            <v-text-field
              v-if="editing === item"
              v-model="editing.nombre"
              autofocus
              flat
              background-color="transparent"
              hide-details
              solo
              @keyup.enter="edit(index, item)"
            ></v-text-field>
            <span v-else label small>
              {{ item.nombre }}
            </span>
            <v-spacer></v-spacer>
            <v-list-item-action @click.stop class="d-flex flex-row">
              <v-btn icon @click.stop.prevent="edit(index, item)">
                <v-icon>{{
                  editing !== item ? 'mdi-pencil' : 'mdi-check'
                }}</v-icon>
              </v-btn>
              <v-btn
                icon
                @click.stop.prevent="remove(index, item)"
                v-if="!tipos.includes(item.nombre)"
              >
                <v-icon>{{ 'mdi-delete' }}</v-icon>
              </v-btn>
            </v-list-item-action>
          </template>
        </v-combobox>
      </v-col>
      <v-col cols="1">
        <v-btn icon @click="dialogTipos = true">
          <v-icon color="primary">mdi-plus</v-icon>
        </v-btn>
      </v-col>
    </v-row>
    <v-row v-if="sinComponentesAMostrar">
      <v-col cols="12" class="text-center">
        <h3>No hay componenentes con los criterios seleccionados</h3>
      </v-col>
    </v-row>
    <div
      class="content mb-10"
      v-for="(t, i) in componentesPorTipos"
      :key="i + t"
      v-if="t.length"
    >
      <h3>{{ buscarTipoPorID(i) }}</h3>
      <v-layout row wrap class v-if="catalog">
        <componente v-for="(c, o) in t" :componente="c" :key="o + c" />
      </v-layout>
      <!-- <v-layout row wrap v-else>
        <miniComponente v-for="(c, o) in t" :componente="c" :key="o + c" />
      </v-layout>-->
    </div>
    <v-dialog v-model="dialogTipos" transition="dialog-transition" width="40%">
      <v-card class="px-5 py-3">
        <v-card-title>Añadir nuevo tipo de componente</v-card-title>
        <v-form ref="tipos" v-model="nuevoTipo">
          <v-layout class="my-5">
            <v-flex xs12>
              <v-text-field
                v-model="nombreTipoComponente"
                :counter="15"
                label="Nuevo tipo"
                required
              ></v-text-field>
            </v-flex>
          </v-layout>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary" text @click="addTipo"> Añadir </v-btn>
          </v-card-actions>
        </v-form>
      </v-card>
    </v-dialog>
  </v-container>
  <v-container v-else class="top">
    <v-layout row wrap class="justify-center">
      <v-card
        width="95%"
        height="400"
        color="grey lighten-2"
        class="d-flex justify-center align-center flex-column"
      >
        <v-card-text class="text-center"
          >Oops! No hay nada por aquí. Es un buen momento para crear
          componentes</v-card-text
        >
        <v-btn color="primary" @click="$router.push('/componente/crear')"
          >Vamos allá</v-btn
        >
      </v-card>
    </v-layout>
  </v-container>
</template>

<script>
import Buscador from '../components/Buscador'
import { mapState } from 'vuex'
import Componente from '../components/Componente'
import MiniComponente from '../components/MiniComponente'
import firebase from 'firebase'
export default {
  props: ['catalog'],
  components: {
    Componente,
    MiniComponente,
    Buscador
  },
  data: () => {
    return {
      search: '',
      mostrarTodos: false,
      marcaSeleccionada: 'Todas las marcas',
      tiposSeleccionados: [],
      editing: null,
      editingIndex: -1,
      item: null,
      dialogTipos: false,
      nuevoTipo: '',
      nombreTipoComponente: '',
      tipos: [
        'Columna',
        'Back Wall / Trasera',
        'Skin Care / Tratamiento',
        'Make Up / Maquillaje',
        'Mueble Caja / POS',
        'Mueble Fragancias',
        'Ganopy / Marquesina',
        'Góndola',
        'Mostrador',
        'Stand',
        'Tótem',
        'Otros'
      ]
    }
  },
  computed: {
    ...mapState(['componentes', 'contactos', 'marcas', 'tipoComponentes']),
    componentesPorTipos() {
      const finalObject = {}
      const tipos = [...new Set(this.componentes.map((e) => e.tipo))]
      tipos.forEach((t) => {
        finalObject[t] = this.componentes
          .filter((c) => {
            if (this.mostrarTodos) return true
            else return !c.ocultarEnGaleria
          })
          .filter((c) => c.tipo == t)
          .filter((c) => {
            const { cliente, marca, proveedor, nombre, importe, tipo } = c
            const newC = { cliente, marca, proveedor, nombre, importe, tipo }

            newC.cliente = this.buscarNombreCliente(c.cliente)
            newC.marca = this.buscarNombreMarca(c.marca)

            const wordsToMatch = this.search.toLowerCase().split(' ')

            const hasWords = wordsToMatch.every((word) =>
              JSON.stringify(newC).toLowerCase().includes(word)
            )
            const hasTipe =
              this.tiposSeleccionados.map((t) => t.id).includes(newC.tipo) ||
              !this.tiposSeleccionados.length

            return hasWords && hasTipe
          })
      })
      return finalObject
    },
    marcas() {
      const marcas = Object.values(
        this.$store.getters.cogerMarcas
      ).sort((a, b) =>
        a.nombre.toLowerCase() > b.nombre.toLowerCase() ? 1 : -1
      )
      marcas.unshift('Todas las marcas')
      return marcas
    },
    sinComponentesAMostrar() {
      return Object.values(this.componentesPorTipos).every((e) => e.length == 0)
    }
  },
  methods: {
    addTipo() {
      firebase
        .database()
        .ref('/extras/tipoComponentes')
        .push(this.nombreTipoComponente)
        .then(() => {
          this.dialogTipos = false
          alert('Tipo de componente guardado con éxito')
        })
    },
    edit(index, item) {
      if (!this.editing) {
        this.editing = item
        this.editingIndex = index
      } else {
        this.editing = null
        this.editingIndex = -1
        firebase
          .database()
          .ref(`/extras/tipoComponentes/`)
          .update({ [item.id]: item.nombre })
      }
    },
    remove(index, item) {
      const remove = confirm(
        'Todos los componentes con este tipo serán reemplazados por "Sin tipo"'
      )
      if (remove) {
        firebase
          .database()
          .ref('/componentes')
          .once('value', async (data) => {
            for (const key in data.val()) {
              const component = data.val()[key]
              if (component.tipo == item.id) {
                await firebase
                  .database()
                  .ref(`/componentes/${component.id}`)
                  .update({ ...component, tipo: 'otros' })
              }
            }
            firebase
              .database()
              .ref('/extras/tipoComponentes')
              .child(item.id)
              .remove()
              .then(() => {
                alert('Tipo eliminado con éxito.')
              })
          })
      }
    },
    buscarNombreCliente(id) {
      return this.contactos.find((c) => c.id == id)
        ? this.contactos.find((c) => c.id == id).nombre_fiscal
        : null
    },
    buscarNombreMarca(id) {
      return this.marcas.find((m) => m.id == id)
        ? this.marcas.find((m) => m.id == id).nombre
        : null
    },
    buscarTipoPorID(id) {
      return this.tipoComponentes.find((m) => m.id == id)?.nombre
    }
  }
}
</script>

<style>
.content {
  display: content !important;
}
.v-card__title {
  word-break: break-word;
  line-height: 20px;
  font-size: 17px;
  padding: 12px;
}
.bottom_pos {
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.v-card__subtitle.py-0,
.v-card__subtitle.pb-0 {
  padding-left: 12px;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .v-card__title{
    font-size:14px;
  }
  .title.bottom_pos{
    font-size: 14px!important;
  }
  /* .v-window.v-item-group.v-carousel.v-carousel--hide-delimiter-background{
    display: none;
  } */
}
</style>
