<template>
  <v-container>
    <v-row>
      <v-col cols="12" class="text-center">
        <h3 v-if="sinComponentesAMostrar">
          No hay componenentes con los criterios seleccionados
        </h3>
      </v-col>
    </v-row>
    <div
      class="content mb-10"
      v-for="(t, i) in componentesPorTipos"
      :key="i + t"
    >
      <h3 class="mb-3 mr-5" v-if="t.length">{{ i }}</h3>
      <!-- <v-btn color="primary" @click="$router.push('/componente/crear')">Crear Nuevo</v-btn> -->
      <v-layout row wrap>
        <miniComponente v-for="(c, o) in t" :componente="c" :key="o + c" />
      </v-layout>
    </div>
  </v-container>
</template>

<script>
import { mapState } from "vuex";
import MiniComponente from "../components/MiniComponente";
export default {
  components: {
    MiniComponente,
  },
  props: ["componentes"],
  data: () => {
    return {};
  },
  computed: {
    componentesPorTipos() {
      const finalObject = {};
      const tipos = [...new Set(this.componentes.map((e) => e.tipo))];
      tipos.forEach((t) => {
        finalObject[t] = this.componentes.filter((c) => c.tipo == t);
      });
      return finalObject;
    },
    sinComponentesAMostrar() {
      return Object.values(this.componentesPorTipos).every(
        (e) => e.length == 0
      );
    },
  },
};
</script>

<style>
.content {
  display: content !important;
}
</style>
