<template>
  <div class="globalLoader">
    <v-progress-circular :value="100" color="white" size="300" indeterminate>
      <v-img contain :src="require('../assets/BL.png')"></v-img>
    </v-progress-circular>
  </div>
</template>

<script>
export default {}
</script>

<style>
.globalLoader {
  height: 100vh;
  width: 100vw;
  background-color: var(--v-accent-base);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000000;
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
