<template>
  <v-card class="mb-5 mr-2" width="30%">
    <div class="d-flex flex-no-wrap justify-space-around">
      <v-col class="pa-0" cols="8">
        <v-tooltip bottom>
          <template v-slot:activator="{ on }">
            <v-card-title v-text="componente.nombre" v-on="on"></v-card-title>
          </template>
          <span>{{ componente.nombre }}</span>
        </v-tooltip>
        <v-card-subtitle
          class="py-0"
          v-text="buscarNombreCliente(componente.cliente)"
        ></v-card-subtitle>
        <!-- <v-card-text class="py-0" v-text="componente.dimensionx + ' x ' + componente.dimensiony"></v-card-text> -->
        <v-card-title class="title bottom_pos">{{
          cambioAMoneda(componente.importe)
        }}</v-card-title>
      </v-col>

      <v-col cols="4">
        <v-carousel
          v-if="componente.imagenes"
          cycle
          height="150"
          width="10"
          hide-delimiter-background
          :show-arrows="false"
          hide-delimiters
        >
          <v-carousel-item v-for="(img, i) in componente.imagenes" :key="i">
            <v-sheet light>
              <v-img height="150" :src="img"></v-img>
            </v-sheet>
          </v-carousel-item>
        </v-carousel>
        <!-- <v-img v-if="componente.imagen" cover :src="componente.imagen"></v-img> -->
        <v-carousel
          v-else
          hide-delimiters
          cycle
          height="150"
          hide-delimiter-background
          :show-arrows="false"
        >
          <v-carousel-item>
            <v-sheet light>
              <v-img height="150" contain :src="componente.imagen"></v-img>
            </v-sheet>
          </v-carousel-item>
        </v-carousel>
      </v-col>

      <!-- <v-img :src="componente.imagen"></v-img> -->
    </div>
    <v-card-actions>
      <v-btn @click="addAlCarrito" color="secondary" dark>Añadir</v-btn>
      <v-btn color="primary" @click="enviarID">Ver</v-btn>
      <!-- <v-btn color="primary" :to="'/componente/' + componente.id">Ver</v-btn> -->
    </v-card-actions>
  </v-card>
  <!-- <v-img contain :src="componente.imagen" height="200px"></v-img>

    <v-card-title>{{ componente.nombre }}</v-card-title>

    <v-card-subtitle>{{ componente.cliente }}</v-card-subtitle>
    <v-card-subtitle>
      {{
      componente.dimensionx + ' x ' + componente.dimensiony
      }}
    </v-card-subtitle>

    <v-card-actions>
      <v-btn v-if="catalog" @click="addAlCarrito" color="green" dark>Añadir</v-btn>
      <v-btn color="primary" outlined text :to="'/componente/' + componente.id">Ver</v-btn>
  </v-card-actions>-->
</template>

<script>
import { mapState } from 'vuex'
import { valorAMoneda } from '../servicios/moneda'
export default {
  name: 'miniComponente',
  props: ['componente'],
  data: () => {
    return {}
  },
  computed: {
    ...mapState(['contactos'])
  },
  methods: {
    cambioAMoneda(v) {
      return valorAMoneda(v)
    },
    addAlCarrito() {
      this.$store.commit('addCarrito', this.componente)
    },
    buscarNombreCliente(id) {
      return this.contactos.find((c) => c.id == id).nombre_fiscal
    },
    enviarID() {
      this.$store.commit('setDetalleID', this.componente.id)
      this.$store.state.dialogDetalle = true
    }
  }
}
</script>

<style>
.v-card__title {
  word-break: break-word;
  line-height: 20px;
  font-size: 17px;
  padding: 12px;
}
.v-card__subtitle.py-0,
.v-card__subtitle.pb-0 {
  padding-left: 12px;
}
.bottom_pos {
  position: absolute;
  bottom: 45px;
  left: 0px;
}
</style>
