<template>
  <v-layout row wrap class="justify-center">
    <v-card
      width="95%"
      height="400"
      color="grey lighten-2"
      class="d-flex justify-center align-center flex-column"
    >
      <v-card-text class="text-center"
        >Oops! No hay nada por aquí. Es un buen momento para crear algo
        nuevo</v-card-text
      >
      <v-btn color="primary" @click="$router.push('/crearProyecto')"
        >Vamos allá</v-btn
      >
    </v-card>
  </v-layout>
</template>
