<template>
  <v-flex xs12>
    <v-card class="proyecto ma-4" :class="{ incidencia: conIncidencia }">
      <v-breadcrumbs :items="items" divider="/"></v-breadcrumbs>

      <v-divider></v-divider>
      <v-card-text class="subtitle">
        Fecha de Alta:
        <strong>{{ convertDate(proyecto.fechaAlta) }}</strong>
      </v-card-text>
      <v-card-text>
        <v-layout row justify-center>
          <v-flex
            :style="{ 'max-width': anchura + '%' }"
            class="ml-1 fase"
            v-for="fase in proyecto.timeline.procesos"
            :key="fase.id"
          >
            <v-flex class="icons">
              <v-avatar
                v-if="fase.inicioUpdated || fase.finUpdated"
                class="mr-1"
                color="primary"
                size="20"
              >
                <span class="white--text">M</span>
              </v-avatar>
              <v-avatar v-if="fase.incidencia" color="error" size="20">
                <span class="white--text">I</span>
              </v-avatar>
            </v-flex>
            <fase
              :nombre="fase.nombre"
              :activo="fase.activo"
              :dates="[fase.inicio, fase.fin]"
              :responsable="buscarEmpleado(fase.responsable).nombre"
            />
          </v-flex>
        </v-layout>
      </v-card-text>

      <v-card-actions class="text-right">
        <v-spacer></v-spacer>
        <v-btn
          class="mt-6"
          color="primary"
          small
          :to="'/detalleProyecto/' + proyecto.id"
        >
          <span>Detalle</span>
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-flex>
</template>

<script>
import Fase from "./Fase";
import { mapState } from "vuex";
export default {
  props: ["proyecto"],
  data() {
    return {};
  },
  methods: {
    convertDate(inputFormat) {
      function pad(s) {
        return s < 10 ? "0" + s : s;
      }
      const d = new Date(inputFormat);
      return [
        pad(d.getDate()),
        pad(d.getMonth() + 1),
        pad(d.getFullYear()),
      ].join("/");
    },
    buscarNombreMarca(id) {
      return this.marcas.find((m) => m.id == id);
    },
    buscarNombreContacto(id) {
      return this.contactos.find((c) => c.id == id);
    },
    buscarEmpleado(id) {
      return this.empleados.find((c) => c.id == id);
    },
  },
  computed: {
    ...mapState(["contactos", "marcas", "empleados"]),
    estado() {
      return this.proyecto.timeline.procesos.find((p) => p.activo).nombre;
    },
    conIncidencia() {
      return this.proyecto.timeline.procesos.some((p) => p.incidencia);
    },
    anchura() {
      // return 70 / this.proyecto.timeline.procesos.length;
      return 11.25;
    },
    items() {
      return [
        {
          text: this.buscarNombreMarca(this.proyecto.marca).nombre,
          disabled: false,
          to: "/crearMarca/" + this.buscarNombreMarca(this.proyecto.marca).id,
          exact: true,
        },
        {
          text: this.buscarNombreContacto(this.proyecto.cliente).nombre_fiscal,
          disabled: false,
          to:
            "/crearCliente/" +
            this.buscarNombreContacto(this.proyecto.cliente).id,
        },
        {
          text: this.proyecto.nombre,
          disabled: true,
        },
      ];
    },
  },
  components: {
    Fase,
  },
};
</script>

<style scoped>
.proyecto {
  min-height: 300px;
}

.incidencia {
  border: 1px solid red;
}
.fase {
  position: relative;
}

.icons {
  position: absolute;
  left: 10px;
  top: 55px;
  z-index: 100;
}
</style>
