<template>
  <v-text-field
    name="name"
    label="label"
    id="id"
    v-model="factura.nombre"
  ></v-text-field>
</template>

<script>
export default {
  props: ["factura"],
  data() {
    return {};
  },
};
</script>

<style></style>
