<template>
  <v-app>
    <v-container>
      <transition name="fade">
        <global-loader class="global-loader" v-if="loader"></global-loader>
      </transition>
      <v-layout class="mb-4" v-if="user" color="primary">
        <v-app-bar fixed class="appBar">
          <v-toolbar-title>{{ $route.name }}</v-toolbar-title>

          <v-spacer></v-spacer>
          <v-divider class="mx-2" inset vertical></v-divider>

          <v-autocomplete
            v-cloak
            v-model="globalSelect"
            :search-input.sync="globalSearch"
            :items="todasLasEntidadesBuscables"
            item-text="nombre"
            class="mx-4"
            dark
            prepend-icon="mdi-magnify"
            hide-details
            placeholder="Búsqueda global..."
            flat
            :filter="dataTableCustomSearch"
            clearable
            :menu-props="{
              openOnClick: false,
              closeOnContentClick: true,
            }"
          >
            <template v-slot:no-data>
              <v-list-item
                v-if="
                  globalSearch &&
                  globalSearch.length >= minimunCharachtersToSearch
                "
              >
                <v-list-item-title> No hay resultados </v-list-item-title>
              </v-list-item>
              <v-list-item v-else>
                <v-list-item-title
                  >Escribe {{ minimunCharachtersToSearch }} caracteres al menos
                  para buscar
                </v-list-item-title>
              </v-list-item>
            </template>
            <template v-slot:item="data">
              <template v-if="!data.item.icon">
                <v-list-item-content
                  v-text="data.item.nombre"
                ></v-list-item-content>
              </template>
              <template v-else>
                <v-list-item
                  @click="goToPageFromSearch(data.item.link)"
                  @keydown="goToPageFromSearch(data.item.link)"
                >
                  <v-list-item-avatar>
                    <v-icon>{{ data.item.icon }}</v-icon>
                  </v-list-item-avatar>
                  <v-list-item-content>
                    <v-list-item-title
                      v-html="data.item.nombre"
                    ></v-list-item-title>
                    <v-list-item-subtitle
                      v-html="data.item.subtitulo"
                    ></v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>
              </template>
            </template>
          </v-autocomplete>

          <v-btn icon color="primary">
            <v-icon>mdi-bell-outline</v-icon>
          </v-btn>
          <v-divider
            class="mx-2"
            inset
            vertical
            v-if="showAddButton"
          ></v-divider>
          <!-- BOTON CREAR O GUARDAR -->
          <v-avatar color="accent" size="36px" v-if="showAddButton">
            <v-icon dark @click="createElement()">mdi-plus</v-icon>
          </v-avatar>
        </v-app-bar>
      </v-layout>
      <v-navigation-drawer permanent fixed v-model="show">
        <template v-slot:prepend>
          <v-list>
            <v-list-item v-if="user" to="/admin">
              <v-list-item-avatar>
                <img v-if="user.photoURL" :src="user.photoURL" />
                <v-icon v-else size="36px">mdi-account-circle</v-icon>
              </v-list-item-avatar>
              <v-list-item-title>
                {{ user.displayName || user.email }}
                <v-list-item-subtitle>{{ user.role }}</v-list-item-subtitle>
              </v-list-item-title>
            </v-list-item>
          </v-list>
        </template>
        <template v-slot:append>
          <v-layout class="ma-2">
            <v-flex xs12>
              <v-btn block>BL v0.9.8</v-btn>
            </v-flex>
          </v-layout>
          <v-layout class="ma-2">
            <v-flex xs12 class="d-flex justify-center">
              <v-switch
                color="primary"
                v-model="$vuetify.theme.dark"
                inset
                @change="switchTheme"
                prepend-icon="mdi-weather-sunny"
                append-icon="mdi-weather-night"
              ></v-switch>
            </v-flex>
          </v-layout>
        </template>

        <v-divider></v-divider>

        <v-list nav dense>
          <v-list-item
            link
            @click="establecerSeccion('Contactos')"
            to="/contactos"
          >
            <v-list-item-icon>
              <v-icon color="icon1">mdi-notebook-multiple</v-icon>
            </v-list-item-icon>
            <v-list-item-title>Contactos</v-list-item-title>
          </v-list-item>
          <v-list-item link @click="establecerSeccion('Marcas')" to="/marcas">
            <v-list-item-icon>
              <v-icon color="icon2">mdi-registered-trademark</v-icon>
            </v-list-item-icon>
            <v-list-item-title>Marcas</v-list-item-title>
          </v-list-item>
          <v-list-item
            link
            @click="establecerSeccion('Catálogo')"
            to="/catalogo"
          >
            <v-list-item-icon>
              <v-icon color="icon3">mdi-image-multiple</v-icon>
            </v-list-item-icon>
            <v-list-item-title>Catálogo</v-list-item-title>
          </v-list-item>
          <v-list-item
            link
            @click="establecerSeccion('Empleados')"
            to="/empleados"
          >
            <v-list-item-icon>
              <v-icon color="icon4">mdi-account-group</v-icon>
            </v-list-item-icon>
            <v-list-item-title>Empleados</v-list-item-title>
          </v-list-item>

          <v-divider></v-divider>

          <v-list-item
            link
            @click="establecerSeccion('Proyectos')"
            to="/proyectos"
          >
            <v-list-item-icon>
              <v-icon color="primary">mdi-chart-pie</v-icon>
            </v-list-item-icon>
            <v-list-item-title>Proyectos</v-list-item-title>
          </v-list-item>
          <v-list-item
            link
            @click="establecerSeccion('Presupuesto')"
            to="/presupuestos"
          >
            <v-list-item-icon>
              <v-icon color="secondary">mdi-playlist-edit</v-icon>
            </v-list-item-icon>
            <v-list-item-title>Presupuestos</v-list-item-title>
          </v-list-item>
          <v-list-item
            link
            @click="establecerSeccion('Facturas')"
            to="/facturas"
          >
            <v-list-item-icon>
              <v-icon color="accent">mdi-receipt</v-icon>
            </v-list-item-icon>
            <v-list-item-title>Facturas</v-list-item-title>
          </v-list-item>
          <v-list-item
            link
            @click="establecerSeccion('Horas Empleados')"
            to="/horas_empleados"
          >
            <v-list-item-icon>
              <v-icon color="success">mdi-clock</v-icon>
            </v-list-item-icon>
            <v-list-item-title>Horas Empleados</v-list-item-title>
          </v-list-item>

          <v-divider></v-divider>

          <v-list-item
            link
            @click="establecerSeccion('Login')"
            to="/"
            v-if="!user"
          >
            <v-list-item-icon>
              <v-icon color="warning">mdi-login</v-icon>
            </v-list-item-icon>
            <v-list-item-title>Login</v-list-item-title>
          </v-list-item>
          <v-list-item link @click="logout()" to="/" v-if="user">
            <v-list-item-icon>
              <v-icon color="error">mdi-logout</v-icon>
            </v-list-item-icon>
            <v-list-item-title>Logout</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-navigation-drawer>
    </v-container>
    <v-content>
      <transition name="fade" mode="out-in" appear>
        <router-view :key="$route.fullPath"></router-view>
      </transition>
    </v-content>
  </v-app>
</template>

<script>
import firebase from "firebase";
import GlobalLoader from "./components/GlobalLoading";
import { mapState } from "vuex";
import EventBus from "./components/EventBus";

export default {
  name: "App",
  components: {
    GlobalLoader,
  },
  mounted() {
    this.$nextTick(function () {});
  },
  updated() {
    if (
      this.$route.path.includes("crear") ||
      this.$route.path.includes("/componente/")
    )
      this.showAddButton = false;
    else this.showAddButton = true;
  },

  data: () => ({
    show: false,
    mini: true,
    globalSearch: "",
    globalSelect: "",
    showAddButton: true,
    minimunCharachtersToSearch: 3,
  }),
  methods: {
    switchTheme(val) {
      localStorage.setItem("darkTheme", val);
    },
    filterSearch(item, queryText, itemText) {
      const hasValue = (val) => (val != null ? val : "");

      const text = hasValue(itemText);
      const query = hasValue(queryText);
      const wholeItem = hasValue(item);

      if (query.length < this.minimunCharachtersToSearch) return false;

      const wordsToMatch = query.toLowerCase().split(" ");

      return wordsToMatch.every((word) =>
        JSON.stringify(wholeItem).toLowerCase().includes(word)
      );
    },
    goToPageFromSearch(link) {
      this.$router.push(link);
      setTimeout(() => {
        this.globalSelect = "";
      }, 100);
    },
    createElement() {
      let correctPath;
      switch (this.$route.name) {
        case "Contactos":
          correctPath = "/crearCliente/crear";
          break;
        case "Facturas":
          correctPath = "/crearFactura/test";
          break;
        case "Marcas":
          correctPath = "/crearMarca/crear";
          break;
        case "Presupuestos":
          correctPath = "/editarPresupuesto/crear";
          break;
        case "Proyectos":
          correctPath = "/crearProyecto";
          break;
        case "Detalle de Proyecto":
          correctPath = "/crearProyecto";
          break;
        case "Catálogo de Componentes":
          correctPath = "/componente/crear";
          break;
        case "Empleados":
          EventBus.$emit("crearEmpleado");
          break;
        case "Horas Empleados":
          EventBus.$emit("crearHorasEmpleados");
          break;
        case "Crear / Editar Presupuesto":
          EventBus.$emit("");
          break;
        default:
          this.showAddButton = false;
          break;
      }
      this.$router.push(correctPath);
    },
    logout() {
      firebase.auth().signOut();
      this.$router.push("/");
    },
    establecerSeccion(seccion) {
      this.$store.commit("cambiarSeccion", seccion);
    },
    path() {
      const first = window.location.pathname.replace("/", "");
      if (first.length != 0) {
        const full = first[0].toUpperCase() + first.substring(1);
        return full;
      }
      return "Login";
    },
    buscarCliente(id) {
      return this.contactos.find((c) => c.id == id)?.nombre_fiscal ?? "---";
    },
    buscarMarca(id) {
      return this.marcas.find((c) => c.id == id)
        ? this.marcas.find((c) => c.id == id).nombre
        : "---";
    },
    buscarProyecto(id) {
      return this.proyectos.find((c) => c.id == id)
        ? this.proyectos.find((c) => c.id == id).nombre
        : "Sin proyecto";
    },
  },
  computed: {
    ...mapState([
      "loader",
      "user",
      "marcas",
      "contactos",
      "proyectos",
      "empleados",
      "facturas",
      "componentes",
      "presupuestos",
    ]),
    todasLasEntidadesBuscables() {
      const marcasAdaptadas = [
        { header: "Marcas" },
        ...this.marcas.map((m) => ({
          ...m,
          nombre: m.nombre,
          link: `/crearMarca/${m.id}`,
          icon: "mdi-registered-trademark",
          subtitulo: "Marca",
        })),
        { divider: true },
      ];
      const contactosAdaptados = [
        { header: "Contactos" },
        ...this.contactos.map((m) => ({
          ...m,
          nombre: m.nombre_fiscal,
          link: `/crearCliente/${m.id}`,
          icon: "mdi-notebook-multiple",
          subtitulo: m.tipo,
        })),
        { divider: true },
      ];

      const proyectosAdaptados = [
        { header: "Proyectos" },
        ...this.proyectos.map((m) => ({
          ...m,
          nombre: m.nombre,
          link: `/detalleProyecto/${m.id}`,
          icon: "mdi-chart-pie",
          subtitulo: m.fechaAlta,
        })),
        { divider: true },
      ];

      const presupuestosAdaptados = [
        { header: "Presupuestos" },
        ...this.presupuestos.map((m) => ({
          ...m,
          nombre: `
          ${this.buscarProyecto(m.proyecto)}/
          ${this.buscarCliente(m.cliente)}/
          ${this.buscarMarca(m.marca)}`,
          link: `/editarPresupuesto/${m.id}`,
          icon: "mdi-playlist-edit",
          subtitulo: `Presupuesto ${m.id}`,
        })),
        { divider: true },
      ];

      const empleadosAdaptados = [
        { header: "Empleados" },
        ...this.empleados.map((m) => ({
          ...m,
          nombre: m.nombre,
          link: "/empleados",
          icon: "mdi-account-group",
          subtitulo: m.departamento,
        })),
        { divider: true },
      ];

      const componentesAdaptados = [
        { header: "Componentes" },
        ...this.componentes.map((m) => ({
          ...m,
          nombre: m.nombre,
          link: `/componente/${m.id}`,
          icon: "mdi-image-multiple",
          subtitulo: m.proveedor,
        })),
        { divider: true },
      ];

      if (
        this.globalSearch?.length < this.minimunCharachtersToSearch ||
        !this.globalSearch
      )
        return [];
      return [
        ...marcasAdaptadas,
        ...contactosAdaptados,
        ...proyectosAdaptados,
        ...presupuestosAdaptados,
        ...empleadosAdaptados,
        ...componentesAdaptados,
      ];
    },
  },
};
</script>

<style>
@import "../node_modules/vuetify/src/styles/generic/_reset.scss";

.v-navigation-drawer {
  width: 200px !important;
}

.v-content,
header {
  margin-left: 200px;
  /* margin-right: 20px; */
}

header {
  height: 72px;
}
.fade-enter-active,
.fade-leave-active {
  transition-duration: 0s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

/* .v-input * {
  font-size: 12px !important;
} */

.v-input {
  padding: 0 !important;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.top {
  margin-top: 40px;
}

.theme--light.appBar {
  background: var(--v-primary-base) !important;
}

.theme--light.appBar * {
  color: white;
}

tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

/* .theme--light.v-application {
  background: var(--v-primary-lighten5) !important;
} */

/* .theme--dark.v-application {
  background: var(--v-secondary-lighten5) !important;
} */
/* 
.v-data-table td,
.v-data-table th {
  font-size: 12px;
} */
</style>
